@using TallyJ.Code
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@using TallyJ.CoreModels
@using TallyJ.EF
@{
  var ballots = new BallotCacher(UserSession.DbContext).AllForThisElection;
  var votes = new VoteCacher(UserSession.DbContext).AllForThisElection.Where(v => v.InvalidReasonGuid == null);
  var election = UserSession.CurrentElection;
  var isSingleNameElection = election.IsSingleNameElection;

  var message = "";
  if (isSingleNameElection)
  {
    message = "This report is not relevant for single name elections.";
  }

  var currentElection = UserSession.CurrentElection;
  var numElected = currentElection.NumberToElect.AsInt();

  var slots = new List<int>();
  for (int i = 0; i <= numElected; i++)
  {
    slots.Add(i);
  }

  var elected = new ResultCacher(UserSession.DbContext).AllForThisElection
    .OrderBy(r => r.Rank)
    .Take(numElected)
    .Select(r => r.PersonGuid)
    .ToList();


  var aligned = slots.JoinMatchingOrNull(ballots.Select(b => votes.Where(v => v.BallotGuid == b.BallotGuid).Count(v => v.PersonGuid.HasValue && elected.Contains(v.PersonGuid.Value)))
    .GroupBy(i => i, (i, ints) => new { i, sum = ints.Count() }), i => i, g => g.i, (i, g) => new { i, sum = g == null ? 0 : g.sum })
    .OrderByDescending(g => g.i);
}
<style>
  .Ballots td {
    text-align: center;
  }

  .Ballots th {
    max-width: 200px;
    padding: 0 20px;
    text-align: center;
    vertical-align: bottom;
  }
</style>
<div class="body WarnIfNotFinalized">
  <h1 id="title"></h1>
  <p class="Comment">
    A count of the alignment of ballots to the final results.  For example, the first row shows
    how many people voted for all @numElected of the elected, while the last line shows the how
    many voted for none of those elected.
  </p>
  @if (message.HasContent())
  {
    <div>@message</div>
  }
  else
  {
    <table class="Ballots">
      <thead>
        <tr>
          <th>Matching Names</th>
          <th>How Many Voters?</th>
        </tr>

      </thead>
      <tbody>
        @foreach (var alignment in aligned)
        {
          <tr>
            <td>@alignment.i</td>
            <td>@alignment.sum</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>