@using System.Web;
@using TallyJ.Code.Enumerations
@using TallyJ.Code
@using TallyJ.Code.Session
@using TallyJ.EF
@using TallyJ.CoreModels
@inherits RazorEngine.Templating.TemplateBase
@{
  var people = new ResultCacher().AllForThisElection
    .Join(new PersonCacher().AllForThisElection, r => r.PersonGuid, p => p.PersonGuid, (r, p) => new {r, p})
    .OrderBy(g => g.p.FullName)
    .Select(g => new
    {
      PersonName = g.p.FullName,
      g.r.VoteCount,
      g.r.TieBreakCount,
      g.r.TieBreakRequired
    });
}
<style>
  .Votes {
    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    -ms-column-width: 15em;
    -o-column-width: 15em;
    column-width: 15em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    -ms-column-gap: 1em;
    -o-column-gap: 1em;
    column-gap: 1em;
    -webkit-column-rule-width: 4px;
    -moz-column-rule-width: 4px;
    -ms-column-rule-width: 4px;
    -o-column-rule-width: 4px;
    column-rule-width: 4px;
  }
  b {
    display: inline-block;
    padding-top: 5px;
  }
</style>
<div class="body WarnIfNotFinalized">
  <h1 id="title"></h1>
  <p class="Comment">
    "If the assembled friends choose to have a full Tellers’ Report including the names
    of all who are voted for and the number of votes received, this is acceptable."  (Spoiled votes and names on spoiled ballots are not included.)
  </p>
  <div class="Votes">
    @{
      var initial = ' ';
    }
    @foreach (var person in people)
    {
      var name = person.PersonName;
      var first = name.ToUpper()[0];
      if (first != initial)
      {
        initial = first;
        name = "<b>" + initial + "</b>" + name.Substring(1);
      }
      <div class="person">
        <span class="name">@Raw(name)</span>
        <span class="small1">(@(person.VoteCount + (person.TieBreakRequired.AsBoolean() ? " / " + person.TieBreakCount : "")))</span>
      </div>
    }
  </div>
</div>