table
{
    border-collapse: separate;
    border-spacing: 0px 0px;
}
thead th
{
    border-bottom: 1px solid #000;
}

tr th:first-child
{
    text-align: left;
    vertical-align: top;
    padding-right: 5px;
}
td
{
    text-align: center;
    vertical-align: top;
    min-width: 100px;
    padding: 2px 7px;
    border-left: 1px solid #e0e0e0;
}

tr.Odd {
    background-color: #eaeaea;
}
tr.Odd td {
    border-left: 1px solid #d0d0d0;
}

tr.Extra td {
}

.AutoButtons {
    margin-top: 20px;
}
.Rows {
    display: none;
}
.ZoomIn {
    display: inline-block;
}
.Ballots {
    margin-top: 2em;
}