_ReSharper.Site/
Site.csproj.dotsettings.user
Site/bin/*/*
Site/bin/*
Site/obj/*/*
Site/obj/*
*.user
Site.sui
*.vsmdi
Tests/bin/*
Tests/obj/*
/Tests/bin
/Site.suo
/DatabaseScripts/Sandbox
/Site/obj
/DatabaseScripts/obj
/DatabaseScripts/sql
*.suo