_ReSharper*
Site.csproj.dotsettings.user
Site/bin/*/*
Site/bin/*
Site/obj/*/*
Site/obj/*
*.user
Site.sui
*.vsmdi
Tests/bin/*
Tests/obj/*
/Tests/bin
/Site.suo
/DatabaseScripts/Sandbox
/Site/obj
/DatabaseScripts/obj
/DatabaseScripts/sql
*.suo
bin
Bin
obj
App_Data
TestResults
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.resources
EntityFramework.xml
EntityFramework.SqlServer.xml
EntityFramework.SqlServerCompact.xml
packages/
Backup/Site.sln
DatabaseScripts/DatabaseScripts_20150629015936.sqlproj
UpgradeLog.htm
DatabaseScripts/DatabaseScripts.jfm
