<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="le_nlog" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net48" />
  <package id="NLog" version="4.6.7" targetFramework="net48" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net48" />
</packages>