<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="SQLSERVER_CONNECTION_STRING" connectionString="Data Source=.;Database=tallyj2d;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="tallyj2dEntities" connectionString="metadata=res://*/EF.MainData.csdl|res://*/EF.MainData.ssdl|res://*/EF.MainData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=tallyj2d;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Dev" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLSERVER_CONNECTION_STRING" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLSERVER_CONNECTION_STRING" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLSERVER_CONNECTION_STRING" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="PerWebRequest" type="Site.Code.UnityRelated.ContextLifetimeManager, Site-WebAppMainModule, Version=1.0.0.0, Culture=neutral" />
    </typeAliases>
    <container>
      <!--Local web only-->
      <register type="Local.Web.Code.Helpers.ILocalSiteInfo, Local.Web" mapTo="Local.Web.Code.Helpers.LocalSiteInfo, Local.Web">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="Local.BSL.Helpers.ICultureHelper, Local.BSL" mapTo="Local.BSL.Helpers.CultureHelper, Local.BSL" />
      <!--Local BSL Only-->
      <register type="Local.BSL.EF.DataAccess.IDbContextFactory, Local.BSL" mapTo="Site.Code.Data.DbContextFactory, Site-WebAppMainModule, Version=1.0.0.0, Culture=neutral">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="Local.BSL.Helpers.ICultureHelper, Local.BSL" mapTo="Local.BSL.Helpers.CultureHelper, Local.BSL" />
      <register type="Local.BSL.Services.ILoginService, Local.BSL" mapTo="Local.BSL.Services.UserLoginService, Local.BSL, Version=1.0.0.0, Culture=neutral" />
      <register type="Local.BSL.EF.MainModelEntities, Local.BSL, Version=1.0.0.0, Culture=neutral" mapTo="Local.BSL.EF.MainModelEntities, Local.BSL, Version=1.0.0.0, Culture=neutral" />
      <register type="Local.BSL.Models.Accounts.ILoginProcessor, Local.BSL" mapTo="Local.BSL.Models.Accounts.LoginProcessor, Local.BSL, Version=1.0.0.0, Culture=neutral" />
      <register type="Local.BSL.Models.Accounts.ILogoutProcessor, Local.BSL, Version=1.0.0.0, Culture=neutral" mapTo="Local.BSL.Models.Accounts.LogoutProcessor, Local.BSL, Version=1.0.0.0, Culture=neutral" />
      <!--Sunwapta MVC Only-->
      <register type="Site.Code.UnityRelated.IContextItemsProvider, Site-WebAppMainModule, Version=1.0.0.0, Culture=neutral" mapTo="Site.Code.UnityRelated.HttpContextItemsProvider, Site-WebAppMainModule, Version=1.0.0.0, Culture=neutral" />
      <register type="Sunwapta.MVC.ClientResources.IViewResourcesCache, Sunwapta.MVC" mapTo="Sunwapta.MVC.ClientResources.ViewResourcesCache, Sunwapta.MVC">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="Sunwapta.MVC.IViewResourcesHelper, Sunwapta.MVC" mapTo="Sunwapta.MVC.ClientResources.ViewResourcesHelper, Sunwapta.MVC, Version=4.0.0, Culture=neutral">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="Local.BSL.CalcEngine.ICalcFlagHelper, Local.BSL" mapTo="Local.BSL.CalcEngine.CalcFlagHelper, Local.BSL">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="Sunwapta.MVC.Helpers.ILinkedResourcesHelper, Sunwapta.MVC" mapTo="Local.BSL.Helpers.LinkedResourcesHelper, Local.BSL" />
      <register type="Sunwapta.Core.ICacheDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.CacheDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ICacheDependencyDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.CacheDependencyDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ISessionDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.SessionDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ISessionFactory, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.SessionFactory, Sunwapta.Base" />
      <register type="Sunwapta.Core.IItemsDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.ItemsDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHostingEnvironmentDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HostingEnvironmentDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHttpServerUtilityDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HttpServerUtilityDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHttpContextResourcesDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HttpContextResourcesDecorator, Sunwapta.Base">
        <lifetime type="PerWebRequest" />
      </register>
      <!-- error logging component -->
      <register type="Sunwapta.Core.ILogError, Sunwapta.Core" mapTo="Local.BSL.Services.Logging, Local.BSL" />

      <!-- "HttpContext/HttpContext.Current related" -->
      <!--Services exposed by CacheDependencyFactory-->
      <!-- Utilities -->
      <register type="Sunwapta.Utilities.IFilesUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalFilesUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalFilesUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalFilesUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IStringsUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalStringsUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalStringsUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalStringsUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.ILookupsUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalLookupsUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalLookupsUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalLookupsUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IDatesUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalDatesUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalDatesUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalDatesUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IListsUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalListsUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalListsUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalListsUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IXmlUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalXmlUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalXmlUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalXmlUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IHttpUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalHttpUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalHttpUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalHttpUtility, Local.BSL" />
      <register type="Sunwapta.Utilities.IDataUtility, Sunwapta.Utilities" mapTo="Local.BSL.Utilities.LocalDataUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalDataUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalDataUtility, Local.BSL" />
      <register type="Local.BSL.Utilities.ILocalChartUtility, Local.BSL" mapTo="Local.BSL.Utilities.LocalChartUtility, Local.BSL" />
    </container>
  </unity>

</configuration>