<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="MainConnection" connectionString="Data Source=.;Database=tallyj2d;Integrated Security=True;Min Pool Size=1" providerName="System.Data.SqlClient" />
    <add name="TallyJ2Entities" connectionString="metadata=res://*/EF.MainData.csdl|res://*/EF.MainData.ssdl|res://*/EF.MainData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=tallyj2d;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Environment" value="Dev" />
    <!--this value for LOGENTRIES_ACCOUNT_KEY is a random guid... AppHarbor will insert the correct one-->
    <add key="LOGENTRIES_ACCOUNT_KEY" value="3936024A-7709-4FAA-9D24-24F7FF933AEE" />
  </appSettings>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="localhost" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" defaultExpireTime="2000" />
    </providers>
  </cacheProvider>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="360" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MainConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MainConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MainConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState cookieless="false" stateConnectionString="tcpip=loopback:42424" mode="StateServer" timeout="360"></sessionState>
  </system.web>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Setup">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="After">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Ballots">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Before">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Dashboard">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <handlers>
      <add name="MVC" path="*" verb="*" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="PerWebRequest" type="TallyJ.Code.UnityRelated.ContextLifetimeManager, TallyJ" />
    <namespace name="TallyJ.Code" />
    <namespace name="TallyJ.Code.Data" />
    <namespace name="TallyJ.Code.UnityRelated" />
    <namespace name="TallyJ.Code.Resources" />
    <namespace name="FluentSecurity" />
    <assembly name="TallyJ" />
    <assembly name="FluentSecurity" />
    <container>
      <register type="IDbContextFactory" mapTo="DbContextFactory">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="IViewResourcesHelper" mapTo="ViewResourcesHelper">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="IViewResourcesCache" mapTo="ViewResourcesCache">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="ILinkedResourcesHelper" mapTo="LinkedResourcesHelper">
        <lifetime type="PerWebRequest" />
      </register>
      <register type="IPolicyViolationHandler" mapTo="RequireElectionPolicyViolationHandler" />
      <register type="ISecurityHandler" mapTo="SecurityServiceLocator" />
      <!--<register type="TallyJ.EF.mMainModelEntities" mapTo="Local.BSL.EF.MainModelEntities, Local.BSL, Version=1.0.0.0, Culture=neutral" />
      <register type="TallyJ.Code.UnityRelated.IContextItemsProvider, TallyJ, Version=1.0.0.0, Culture=neutral" mapTo="TallyJ.Code.UnityRelated.HttpContextItemsProvider, Site-WebAppMainModule, Version=1.0.0.0, Culture=neutral" />

      <register type="Sunwapta.Core.ICacheDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.CacheDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ICacheDependencyDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.CacheDependencyDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ISessionDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.SessionDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.ISessionFactory, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.SessionFactory, Sunwapta.Base" />
      <register type="Sunwapta.Core.IItemsDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.ItemsDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHostingEnvironmentDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HostingEnvironmentDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHttpServerUtilityDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HttpServerUtilityDecorator, Sunwapta.Base" />
      <register type="Sunwapta.Core.IHttpContextResourcesDecorator, Sunwapta.Core" mapTo="Sunwapta.Base.Decorators.HttpContextResourcesDecorator, Sunwapta.Base">
        <lifetime type="PerWebRequest" />
      </register>-->
    </container>
  </unity>
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <!--the key here is a random guid... code in global.asa puts in the correct guid-->
      <target name="logentries" type="Logentries" key="3936024A-7709-4FAA-9D24-24F7FF933AEE" location="Appharbor/Default" debug="true" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}, ${exception:innerFormat=toString:maxInnerExceptionLevel=5:innerExceptionSeparator=;:format=toString}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="logentries" />
    </rules>
  </nlog>
</configuration>