<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Remove"></connectionStrings>

  <appSettings xdt:Transform="SetAttributes(file)" file="C:\Dev\TallyJ\AppSettings.config">
    <add key="UseProductionFiles" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Environment" value="Win16a" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"/>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add xdt:Transform="Insert" name="Strict-Transport-Security" value="max-age=31536000"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>