<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->

  <appSettings>
    <add key="Environment" value="Azure" xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)"/>
  </appSettings>


  <system.web>
    <sessionState xdt:Transform="Replace" mode="Custom" customProvider="UsingRedis">
      <providers>
        <!--
          <add name="MySessionStateStore" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "5000" [number]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
          />
        -->
        <add name="UsingRedis"
             type="RedisSessionProvider.RedisSessionStateStoreProvider, RedisSessionProvider"
             />
        <!--accessKey set in code-->
      </providers>
    </sessionState>

  </system.web>

</configuration>