<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Remove"></connectionStrings>

  <connectionStrings>
    <add name="MainConnection3"
         connectionString="Connect Timeout=120;Data Source=.\SQLEXPRESS;Database=TallyJ3d;Integrated Security=True;Min Pool Size=1;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="Babak" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="UseProductionFiles" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)"/>
    <httpCookies xdt:Transform="Remove">
      <!-- if using locally without an SSL certificate -->
    </httpCookies>
  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>