body {
  overflow-y: scroll;
}
p {
  margin-top: -25px;
  margin-left: 60px;
}
.Voter {
  clear: both;
  border: 2px solid transparent;
}
.Voter div.Btn:hover {
  border-color: #333;
}
.Voter div.Btn.clicked {
  background-color: plum;
}
.Voter div.Btn.true,
.Voter div.Btn.True {
  background-color: #9bff9b;
}
.Voter div.Btn.true.Registered,
.Voter div.Btn.True.Registered {
  background-color: #9bfffe;
}
.Voter.hidden {
  display: none;
}
.Voter.filterHidden {
  display: none;
}
.Voter.KeyMatch {
  background-color: #ffffaa;
}
.Voter:hover {
  background-color: #ffffcc;
}
.Voter.Selection {
  background-color: #ffff33;
}
.Voter b {
  margin: 3px 0 0 5px;
  display: inline-block;
}
.Env {
  visibility: hidden;
}
#Main.EnvMode-Absentee .VM-C .Env,
#Main.EnvMode-Absentee .VM-M .Env,
#Main.EnvMode-Absentee .VM-D .Env {
  visibility: visible;
}
#Main.EnvMode-All .Env {
  visibility: visible;
}
.VM- .Env {
  color: #ccc;
  text-decoration: line-through;
}
#selectorTip {
  display: none;
  position: absolute;
  left: 16px;
  font-size: 90%;
  color: green;
  background-color: #f9f9f9;
  padding: 3px 4px;
  border-radius: 2px;
  box-shadow: 0 3px 9px #555;
  z-index: 1;
}
.SearchArea {
  display: inline-block;
  margin: 0 30px 0 10px;
  font-weight: bold;
}
.SearchArea span {
  vertical-align: middle;
}
.SearchArea span.info {
  font-weight: normal;
}
.SearchArea #search {
  display: inline-block;
  height: 1.6em;
  line-height: 1.6em;
  width: 80px;
  padding: 0 3px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.Btn {
  display: inline-block;
  padding: 2px 4px 3px;
  border: 1px solid #8dc63e;
  border-radius: 3px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.Env {
  width: 30px;
  display: inline-block;
  text-align: center;
  color: #019401;
}
.fakeEsc {
  cursor: pointer;
}
.Counts {
  display: inline-block;
  margin: 0 0 8px 0;
  font-size: 90%;
  color: #555;
}
.Counts > span {
  display: inline-block;
  padding: 3px 4px 2px;
  vertical-align: middle;
  color: #999;
}
.Counts div {
  display: inline-block;
  padding: 3px 4px 2px;
  border: 1px dotted #aaa;
  border-radius: 3px;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}
.Counts div.Total {
  color: #4b8200;
}
.Counts div:hover {
  border-color: #666;
}
.Counts div.filtering {
  color: #000;
  border-color: #000;
  background-color: #d2d2d2;
}
.Counts div.filtering.Total {
  color: #4b8200;
}
.Counts i {
  font-weight: bold;
  font-style: normal;
  padding-left: 3px;
}
.Counts .ui-icon {
  display: inline-block;
  margin: 0px 0px -3px -5px;
  background-image: url(../../content/themes/base/images/ui-icons_8dc63e_256x240.png);
}
div.CalledIn,
span.CalledIn {
  display: none;
}
.UseCallIn .CalledIn {
  display: inline-block;
}
#Main {
  overflow: auto;
  clear: both;
}
#Main p {
  margin: 0 0 0 5px;
  display: inline-block;
  padding: 0 0 0 0;
  font-size: 75%;
  color: #999;
  vertical-align: middle;
}
#Main u {
  display: none;
}
#Main i {
  float: right;
  margin: 0 0 0 6px;
  padding: 7px 0 3px 0;
  font-size: 75%;
  color: green;
  vertical-align: middle;
  font-style: normal;
}
#Main.WithArea u {
  margin: 0 0 0 5px;
  display: inline-block;
  padding: 0 0 0 0;
  font-size: 75%;
  color: #999;
  text-decoration: none;
  vertical-align: middle;
  max-width: 150px;
  overflow: hidden;
}
#Main.InSelection #selectorTip {
  display: block;
}
#Main.InSelection .Voter {
  opacity: .1;
}
#Main.InSelection .Voter.Selection {
  opacity: 1;
}
.Log {
  display: inline-block;
  width: .8em;
  height: .8em;
  background-color: green;
  border-radius: 50%;
  cursor: help;
}
#body {
  padding-bottom: 45px;
}
footer {
  display: none;
}
@media only screen and (max-width: 600px) {
  #Main .Voter {
    border-radius: 2px;
    box-shadow: 0 1px 3px #555;
    margin: 0 2px 5px 2px;
  }
  #Main .Voter i {
    margin-right: 2px;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkZyb250RGVzay5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNFLGtCQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxpQkFBQTs7QUFHRjtFQUNFLFdBQUE7RUFDQSw2QkFBQTs7QUFHRSxNQURGLElBQUcsSUFDQTtFQUNDLGtCQUFBOztBQUdGLE1BTEYsSUFBRyxJQUtBO0VBQ0Msc0JBQUE7O0FBR0YsTUFURixJQUFHLElBU0E7QUFBTyxNQVRWLElBQUcsSUFTUTtFQUNQLHlCQUFBOztBQUVBLE1BWkosSUFBRyxJQVNBLEtBR0U7QUFBRCxNQVpKLElBQUcsSUFTUSxLQUdOO0VBQ0MseUJBQUE7O0FBS04sTUFBQztFQUNDLGFBQUE7O0FBR0YsTUFBQztFQUNDLGFBQUE7O0FBR0YsTUFBQztFQUNDLHlCQUFBOztBQUdGLE1BQUM7RUFDQyx5QkFBQTs7QUFHRixNQUFDO0VBQ0MseUJBQUE7O0FBdkNKLE1BMENFO0VBQ0UsbUJBQUE7RUFDQSxxQkFBQTs7QUFJSjtFQUNFLGtCQUFBOztBQUdGLEtBQUssaUJBQ0gsTUFDRTtBQUZKLEtBQUssaUJBQ0ksTUFDTDtBQUZKLEtBQUssaUJBQ1csTUFDWjtFQUNFLG1CQUFBOztBQUtOLEtBQUssWUFDSDtFQUNFLG1CQUFBOztBQUlKLElBQ0U7RUFDRSxXQUFBO0VBQ0EsNkJBQUE7O0FBSUo7RUFDRSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsY0FBQTtFQUNBLFlBQUE7RUFDQSx5QkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSwwQkFBQTtFQUNBLFVBQUE7O0FBR0Y7RUFDRSxxQkFBQTtFQUNBLHFCQUFBO0VBQ0EsaUJBQUE7O0FBSEYsV0FLRTtFQUNFLHNCQUFBOztBQUVBLFdBSEYsS0FHRztFQUNDLG1CQUFBOztBQVROLFdBYUU7RUFDRSxxQkFBQTtFQUNBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0Esc0JBQUE7RUFDQSxzQkFBQTs7QUFJSjtFQUNFLHFCQUFBO0VBQ0Esb0JBQUE7RUFDQSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLGtCQUFBO0VBQ0Esc0JBQUE7RUFDQSxlQUFBOztBQUdGO0VBQ0UsV0FBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBOztBQUdGO0VBQ0UsZUFBQTs7QUFHRjtFQUNFLHFCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBO0VBQ0EsV0FBQTs7QUFKRixPQU1FO0VBQ0UscUJBQUE7RUFDQSxvQkFBQTtFQUNBLHNCQUFBO0VBQ0EsV0FBQTs7QUFWSixPQWFFO0VBQ0UscUJBQUE7RUFDQSxvQkFBQTtFQUNBLHVCQUFBO0VBQ0Esa0JBQUE7RUFDQSxzQkFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTs7QUFFQSxPQVRGLElBU0c7RUFDQyxjQUFBOztBQUdGLE9BYkYsSUFhRztFQUNDLGtCQUFBOztBQUdGLE9BakJGLElBaUJHO0VBQ0MsV0FBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7O0FBRUEsT0F0QkosSUFpQkcsVUFLRTtFQUNDLGNBQUE7O0FBcENSLE9BeUNFO0VBQ0UsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBOztBQTVDSixPQStDRTtFQUNFLHFCQUFBO0VBQ0EseUJBQUE7RUFDQSxtRkFBQTs7QUFJSixHQUFHO0FBQVcsSUFBSTtFQUNoQixhQUFBOztBQUdGLFVBQ0U7RUFDRSxxQkFBQTs7QUFJSjtFQUNFLGNBQUE7RUFDQSxXQUFBOztBQUZGLEtBSUU7RUFDRSxpQkFBQTtFQUNBLHFCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0VBQ0EsV0FBQTtFQUNBLHNCQUFBOztBQVZKLEtBYUU7RUFDRSxhQUFBOztBQWRKLEtBaUJFO0VBQ0UsWUFBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxjQUFBO0VBQ0EsWUFBQTtFQUNBLHNCQUFBO0VBQ0Esa0JBQUE7O0FBSUYsS0FBQyxTQUFVO0VBQ1QsaUJBQUE7RUFDQSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLFdBQUE7RUFDQSxxQkFBQTtFQUNBLHNCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxnQkFBQTs7QUFHRixLQUFDLFlBQ0M7RUFDRSxjQUFBOztBQUZKLEtBQUMsWUFLQztFQUNFLFdBQUE7O0FBTkosS0FBQyxZQVNDLE9BQU07RUFDSixVQUFBOztBQUtOO0VBQ0UscUJBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLHVCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBOztBQUdGO0VBRUUsb0JBQUE7O0FBR0Y7RUFDRSxhQUFBOztBQU9GLHdCQUEwQztFQUN4QyxLQUNFO0lBQ0Usa0JBQUE7SUFDQSwwQkFBQTtJQUNBLHFCQUFBOztFQUpKLEtBQ0UsT0FLRTtJQUNFLGlCQUFBIn0= */