@model PeopleModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ViewBag.Title = "Front Desk";
  ViewBag.Message = "Record who is voting...";

  ContextItems.AddJavascriptForPage("url", "frontDeskPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("lastrow", "frontDeskPage.lastRowVersion={0};".FilledWith(Model.LastRowVersion));
  TemplateLoader.RequireTemplates(TemplateLoader.File.FrontDeskLine);
}
<div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
<div class="PullInstructions">
  <ol>
    <li>To quickly find a person, begin to type the name or Bahá'í ID of the person you are looking for. Use the Up/Down arrow keys to move to the correct person, then press the Enter key.</li>
    <li>If pre-registering people for the Roll Call, as people arrive at the election venue, mark them as "In Person" if they intend to cast their own ballot.</li>
  </ol>
</div>
<div class="SearchArea">
  <span>Search box: </span>
  <input id="search">
  <span class="info">(Esc to clear)</span>
</div>
<div id="Main" class="@((ContextItems.LocationModel.HasLocations ? "WithArea " : "") + (UserSession.CurrentElection.UseCallInButton.AsBoolean() ? "UseCallIn" : ""))">
  @TemplateLoader.File.FrontDeskLine.FilledWithEach(Model.FrontDeskPersonLines()).AsRawHtml()
  <div id="selectorTip">
    Type a letter (<span class="CalledIn">C, </span>M, D, I) to click the corresponding button.
    Press Esc or Enter when done.
  </div>
</div>
<div id="afterList"></div>
