@import "../../Content/bootstrap/css/variables.less";

body {
  overflow-y: scroll; // keep scroll bar
}

p {
  margin-top: -25px;
  margin-left: 60px;
}

.Voter {
  clear: both;
  border: 2px solid transparent;

  div.Btn {
    &:hover {
      border-color: #333;
    }

    &.clicked {
      background-color: plum;
    }

    &.true, &.True {
      background-color: #9bff9b;

      &.Registered {
        background-color: #9bfffe;
      }
    }
  }

  &.hidden {
    display: none;
  }

  &.filterHidden {
    display: none;
  }

  &.KeyMatch {
    background-color: #ffffaa;
  }

  &:hover {
    background-color: #ffffcc;
  }

  &.Selection {
    background-color: #ffff33;
  }

  b {
    margin: 3px 0 0 5px;
    display: inline-block;
  }
}

.Env {
  visibility: hidden;
}

#Main.EnvMode-Absentee {
  .VM-C, .VM-M, .VM-D {
    .Env {
      visibility: visible;
    }
  }
}

#Main.EnvMode-All {
  .Env {
    visibility: visible;
  }
}

.VM- {
  .Env {
    color: #ccc;
    text-decoration: line-through;
  }
}

#selectorTip {
  display: none;
  position: absolute;
  left: 16px;
  font-size: 90%;
  color: green;
  background-color: #f9f9f9;
  padding: 3px 4px;
  border-radius: 2px;
  box-shadow: 0 3px 9px #555;
  z-index: 1;
}

.SearchArea {
  display: inline-block;
  margin: 0 30px 0 10px;
  font-weight: bold;

  span {
    vertical-align: middle;

    &.info {
      font-weight: normal;
    }
  }

  #search {
    display: inline-block;
    height: 1.6em;
    line-height: 1.6em;
    width: 80px;
    padding: 0 3px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

.Btn {
  display: inline-block;
  padding: 2px 4px 3px;
  border: 1px solid #8dc63e;
  border-radius: 3px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.Env {
  width: 30px;
  display: inline-block;
  text-align: center;
  color: #019401;
}

.fakeEsc {
  cursor: pointer;
}

.Counts {
  display: inline-block;
  margin: 0 0 8px 0;
  font-size: 90%;
  color: #555;

  > span {
    display: inline-block;
    padding: 3px 4px 2px;
    vertical-align: middle;
    color: #999;
  }

  div {
    display: inline-block;
    padding: 3px 4px 2px;
    border: 1px dotted #aaa;
    border-radius: 3px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

    &.Total {
      color: @tallyJGreenText;
      margin-left: 5px;
    }

    &:hover {
      border-color: #666;
    }

    &.filtering {
      color: #000;
      border-color: #000;
      background-color: #d2d2d2;

      &.Total {
        color: @tallyJGreenText;
      }
    }
  }

  i {
    font-weight: bold;
    font-style: normal;
    padding-left: 3px;
  }

  .ui-icon {
    display: inline-block;
    margin: 0px 0px -3px -5px;
    background-image: url(../../content/themes/base/images/ui-icons_8dc63e_256x240.png);
  }
}

//div.CalledIn, span.CalledIn, div.Online, span.Online {
//  display: none;
//}
//
//.UseCallIn {
//  .CalledIn {
//    display: inline-block;
//  }
//}
//
//.UseOnline {
//  .Online {
//    display: inline-block;
//  }
//}

#Main {
  overflow: auto;
  clear: both;
  //&.UseOnline {
  .Online {
    opacity: 0.25;

    &.Hastrue {
      opacity: 1;
    }

    &.Canfalse {
      opacity: .05;
      pointer-events: none;
    }
  }
  //}

  .OnlineProcessed-true {
    .Btn {
      opacity: 0.05;
      pointer-events: none;

      &.Online {
        opacity: 1;
      }
    }
  }

  p {
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 0 0 0 0;
    font-size: 75%;
    color: #999;
    vertical-align: middle;
  }

  u {
    display: none;
  }

  i {
    float: right;
    margin: 0 0 0 6px;
    padding: 7px 0 3px 0;
    font-size: 75%;
    color: green;
    vertical-align: middle;
    font-style: normal;
  }

  u {
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 0 0 0 0;
    font-size: 75%;
    color: #999;
    text-decoration: none;
    vertical-align: middle;
    max-width: 150px;
    overflow: hidden;
  }

  &.InSelection {
    #selectorTip {
      display: block;
    }

    .Voter {
      opacity: .1;
    }

    .Voter.Selection {
      opacity: 1;
    }
  }
}

.Log {
  display: inline-block;
  width: .8em;
  height: .8em;
  background-color: green;
  border-radius: 50%;
  cursor: help;
}

#body {
  //margin-bottom: 45px;
  padding-bottom: 45px;
}

footer {
  display: none;
  //position: fixed;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

@media only screen and (max-width: 600px) {
  #Main {
    .Voter {
      border-radius: 2px;
      box-shadow: 0 1px 3px #555;
      margin: 0 2px 5px 2px;

      i {
        margin-right: 2px;
      }
    }
  }
}
