@model PeopleModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ViewBag.Title = "Front Desk";
  ViewBag.Message = "Record who is voting...";

  ContextItems.AddJavascriptForPage("url", "frontDeskPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("lastrow", "frontDeskPage.lastRowVersion={0};".FilledWith(Model.LastRowVersion));
  TemplateLoader.RequireTemplates(TemplateLoader.File.FrontDeskLine);
}
<div class="PullInstructions">
  <ol>
    <li>As people arrive at the election venue, mark them as "In Person" if they intend to cast their own ballot.</li>
    <li>Any "Dropped Off" ballots can be collected and marked here.</li>
    <li>To quickly scroll the page, begin to type the <strong>last name</strong> of the person you are looking for.</li>
    <li>Use the mouse to correctly mark each person.</li>
  </ol>
</div>
<div id="search"></div>
<div id="Main" class="@((ContextItems.LocationModel.HasLocations ? "WithArea " : "") + (UserSession.CurrentElection.UseCallInButton.AsBoolean() ? "UseCallIn" : ""))">
  @TemplateLoader.File.FrontDeskLine.FilledWithEach(Model.FrontDeskPersonLines()).AsRawHtml()
  <div id="selectorTip">
    Type a letter (<span class="CalledIn">C, </span>M, D, I) to click the corresponding button.
    Press Esc or Enter when done.
  </div>
</div>
