#Main
{
    overflow: auto;
}
p
{
    margin-top: -25px;
    margin-left: 60px;
}
.Voter
{
    clear: both;
}
.Voter:hover
{
    background-color: #cfc;
}
.Btn
{
    display: inline-block;
    height: 20px;
    padding: 2px 8px;
    border: 1px solid #8dc63e;
    border-radius: 3px;
    margin: 2px 5px 2px 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.Env {
    width: 16px;
    display: inline-block;
    text-align: center;
    font-size: 90%;
}
#Main u
{
    display: none;
}
#Main.WithArea u {
    text-decoration: none;
    width: 150px;
    overflow: hidden;
    display: inline-block;
}
#Main i
{
    display: inline-block;
    float: right;
    font-size: .8em;
    margin-top: 6px;
}

.Btn.true, .Btn.True
{
    background-color: plum;
}
#search {
    position: fixed;
    top: 2px;
    left: 2px;
    min-height: 1em;
    min-width: 4em;
    padding: 3px 2em 3px 4px;
    background-color: #8dc63e;
    font-weight: bold;
    display: none;
}