@model RollCallModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ContextItems.AddJavascriptForPage("url", "rollCallPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("location", "rollCallPage.location={0};".FilledWith((UserSession.CurrentLocation ?? new TallyJ.EF.Location()).C_RowId));
  ContextItems.AddJavascriptForPage("hasloc", "rollCallPage.hasLocations={0};".FilledWith(new LocationModel().HasLocations.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("locs", "rollCallPage.locations={0};".FilledWith(new LocationModel().LocationRowIdMap));
  ContextItems.AddJavascriptForPage("methods", "rollCallPage.methods={0};".FilledWith(TallyJ.Code.Enumerations.VotingMethodEnum.MethodMap()));
  ContextItems.AddJavascriptForPage("ver", "site.lastVersionNum={0};".FilledWith(Model.LastVersionNum));
  ContextItems.AddJavascriptForPage("voters", "rollCallPage.voters={0};".FilledWith(Model.Voters(2, 3).SerializedAsJsonString()));
  TemplateLoader.RequireTemplates(TemplateLoader.File.RollCallLine);
}
<div class="Main">
  <div class="TopLine"></div>
  <div class="NextUp"></div>
  <div class="Nav Show">
    <span class="comment">* are recommended</span>
    <h2>Display Options</h2>
    @if (ContextItems.LocationModel.HasLocations)
    {
      <p>
        Highlight those who voted at
        <select id="locations">
          <option value="">All Locations</option>
          @ContextItems.LocationModel.GetLocationOptions(false)
        </select>
      </p>
    }
    <p>
      Highlight
      <select id="includeMethod">
        <option value="">all voting methods *</option>
        <option value="P">only those voting in person</option>
      </select>
    </p>
    <p id="askOthers">
      Other voters are
      <select id="showOthers">
        <option value="dim">displayed dimly *</option>
        <option value="hidden">not shown</option>
        <option value="">also Highlighted</option>
      </select>
    </p>
    @if (ContextItems.LocationModel.HasLocations)
    {
      <p>
        Show voter's
        <select id="showLocations">
          <option value="em">home area *</option>
          <option value="i">voting location</option>
          <option value="">none</option>
        </select>
      </p>
    }
    <p>
      <label>
        <input checked type="checkbox" id="showEnvReason" />
        Show ballot delivery methods *
      </label>
    </p>
    <h2 class="newSection">Instructions</h2>
    <div class="instructions">
      <p>To <strong>return</strong> to these instructions: <span>Press Home or scroll back to the top of this page.</span></p>
      <p>To view in <strong>full-screen</strong> mode: <span>Press F11.</span></p>
      <p>To <strong>back up</strong> to the previous name: <span>Press Up or K.</span></p>
      <p>To <strong>move quickly</strong> through the list: <span>Press Up/Down, PgUp/PgDn.</span></p>
      <p>To <strong>advance</strong> to the next name: <span>Press Space, Enter, J, Down Arrow or Click any name in the list.</span></p>
      <p><button type="button" id="btnStart">Start Roll Call Now</button></p>
    </div>
  </div>
  <div id="voterList" tabindex="1"></div>
</div>
