@model RollCallModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ContextItems.AddJavascriptForPage("url", "rollCallPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("location", "rollCallPage.location={0};".FilledWith((UserSession.CurrentLocation ?? new TallyJ.EF.Location()).C_RowId));
  ContextItems.AddJavascriptForPage("hasloc", "rollCallPage.hasLocations={0};".FilledWith(new LocationModel().HasLocations.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("locs", "rollCallPage.locations={0};".FilledWith(new LocationModel().LocationRowIdMap));
  ContextItems.AddJavascriptForPage("methods", "rollCallPage.methods={0};".FilledWith(TallyJ.Code.Enumerations.VotingMethodEnum.MethodMap()));
  ContextItems.AddJavascriptForPage("ver", "site.lastVersionNum={0};".FilledWith(Model.LastVersionNum));
  ContextItems.AddJavascriptForPage("voters", "rollCallPage.voters={0};".FilledWith(Model.Voters().SerializedAsJsonString()));
  TemplateLoader.RequireTemplates(TemplateLoader.File.RollCallLine);
}
<div class="Main">
  <div class="TopLine"></div>
  <div class="NextUp"></div>
  <div class="Nav Show">
    <span class="comment">* are recommended</span>
    <h3>Display Options</h3>
    @if (ContextItems.LocationModel.HasLocations)
    {
      <p>
        Highlight those who voted at
        <select id="locations">
          <option value="">All Locations</option>
          @ContextItems.LocationModel.GetLocationOptions()
        </select>
      </p>
    }
    <p>
      Highlight
      <select id="includeMethod">
        <option value="">all voting methods *</option>
        <option value="P">only those voting in person</option>
      </select>
    </p>
    <p id="askOthers">
      Other voters are
      <select id="showOthers">
        <option value="dim">displayed dimly *</option>
        <option value="hidden">not shown</option>
        <option value="">also Highlighted</option>
      </select>
    </p>
    <p>
      <label>
        <input checked type="checkbox" id="showEnvReason" />
        Show reason for envelope *
      </label>
    </p>

    @if (ContextItems.LocationModel.HasLocations)
    {
      <p>
        <label>
          <input checked type="checkbox" id="showLocations" />
          Show person's home Sector *
        </label>
      </p>
    }
    <h3>Instructions</h3>
    <p>Press F11 to view in full-screen!</p>
    <p>Click mouse, or press Space, Enter, Up/Down, Home/End, PgUp/PgDn to move names.</p>
    <p>
      <button type="button" id="hideNav" accesskey="H"><u>H</u>ide these Instruction</button>
      &nbsp;
      <button id="btnReturn" type="button">Show Site Menus</button>
    </p>
    <p>Scroll to the top of the page for a button to show these instructions again. Or, press Esc.</p>

  </div>
  <div id="voterList" tabindex="1"></div>
</div>
