@model RollCallModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ContextItems.AddJavascriptForPage("url", "rollCallPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("location", "rollCallPage.location={0};".FilledWith((UserSession.CurrentLocation ?? new TallyJ.EF.Location()).C_RowId));
  ContextItems.AddJavascriptForPage("ver", "site.lastVersionNum={0};".FilledWith(Model.LastVersionNum));
  ContextItems.AddJavascriptForPage("voters", "rollCallPage.voters={0};".FilledWith(Model.Voters().SerializedAsJsonString()));
  TemplateLoader.RequireTemplates(TemplateLoader.File.RollCallLine);
}
<div class="Main">
  <div class="TopLine"></div>
  <div class="NowVoting">
  </div>
  <div class="NextUp"></div>
  <div class="Nav Show">
    <p>
      <button id="btnReturn" type="button">Show Top Menu</button>
    </p>
    @if (ContextItems.LocationModel.HasLocations)
    {
      <p>
        Highlight voters from
        <select id="locations">
          <option value="">All Locations</option>
          @ContextItems.LocationModel.GetLocationOptions()
        </select>
      </p>
    }
    <p>
      Highlight
      <select id="includeMethod">
        <option value="">All</option>
        <option value="P">Those Present</option>
      </select>
    </p>
    <p>
      Other Voters are
      <select id="showOthers">
        <option value="dim">Dimmed</option>
        <option value="hidden">Hidden</option>
      </select>
    </p>
    <p>Press F11 for full-screen</p>
    <p>Press Up/Down, Space, Home, PgUp/PgDn to move names.</p>
  </div>
  <div id="voterList"></div>
</div>
