.content-wrapper {
  width: 100%;
}
#voterList {
  margin: 50px 0 2000px 0;
}
#voterList:focus {
  outline: none;
}
footer,
.CompCode {
  display: none;
}
.main-content {
  background-image: none;
  padding: 0;
}
.Main {
  overflow: hidden;
}
.TopLine {
  background-position: right center;
  background-image: url(../../Images/LogoSm.png);
  width: 100px;
  height: 60pt;
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}
.NextUp {
  height: 50pt;
  font-size: 20pt;
  z-index: 10;
  color: #013d7a;
  position: fixed;
  top: 183pt;
  left: 20pt;
}
body.OthersDim .Voter.Other {
  color: #85b082;
}
body.OthersDim .Voter.Other.Current {
  background-color: #fafffa !important;
}
body.OthersDim .Voter.NotLocal b,
body.OthersDim .Voter.NotLocal span {
  display: none;
}
body.OthersHidden .Voter.Other {
  display: none;
}
.Voter {
  position: relative;
  z-index: 2;
  padding: 0 3px 11px 3px;
  font-size: 55pt;
  /* 50 for most, 60 for Petpetua */
  clear: both;
  border-radius: 2px;
  box-shadow: 0 3px 9px #555;
  margin: 0 7px 9px 6px;
}
.Voter.VM_BLANK {
  box-shadow: none;
  height: 95px;
}
.Voter div {
  margin: 0 200px 0 60px;
  z-index: 1;
}
.Voter.Current {
  background-color: white !important;
  color: black;
}
.Voter.Present {
  background: url(../../Images/walk.png) no-repeat;
  background-position: 10px 30px;
  background-size: 24px;
}
.Voter b {
  position: absolute;
  left: 5px;
  text-align: right;
  min-width: 27px;
  top: 15px;
  font-size: 23pt;
  font-weight: normal;
  color: #013d7a;
}
.Voter.NotCurrent {
  background-color: #efeeef;
  color: #666;
}
.Voter u {
  display: none;
}
.Voter i,
.Voter em {
  display: none;
  font-style: normal;
  font-size: 19pt;
  color: #4b8200;
  position: absolute;
  bottom: 6px;
  right: 7px;
}
body.ShowLocations_i .Voter i {
  display: block;
}
body.ShowLocations_em .Voter em {
  display: block;
}
body.ShowEnvReason .Voter u {
  display: inline;
  text-decoration: none;
  position: absolute;
  top: 6px;
  right: 7px;
  font-size: 19pt;
  color: #013d7a;
}
#showNav {
  float: right;
}
.Nav {
  display: none;
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 9px;
  border-radius: 2px;
  box-shadow: 0 3px 9px #555;
  background-color: #fff;
}
.Nav h2 {
  font-size: 1.2em;
  margin-top: 0;
  line-height: normal;
}
.Nav h2.newSection {
  margin-top: 1.5em;
}
.Nav .instructions p span {
  color: #999;
}
.Nav p {
  margin: 4px 0;
}
.Nav .comment {
  font-size: 80%;
  color: #999;
  float: right;
}
.Nav.Show {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .Voter {
    font-size: 36pt;
  }
  .Voter u {
    font-size: 14pt;
  }
  .Voter.Present {
    background-size: 20px;
    background-position-y: 13px;
  }
  body.ShowLocations .Voter i {
    font-size: 14pt;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlJvbGxDYWxsLmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0UsV0FBQTs7QUFHRjtFQUNFLHVCQUFBOztBQUVBLFVBQUM7RUFDQyxhQUFBOztBQUlKO0FBQ0E7RUFDRSxhQUFBOztBQUdGO0VBQ0Usc0JBQUE7RUFDQSxVQUFBOztBQUdGO0VBQ0UsZ0JBQUE7O0FBR0Y7RUFDRSxpQ0FBQTtFQUNBLDhDQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxVQUFBO0VBQ0EsZUFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsNEJBQUE7O0FBR0Y7RUFDRSxZQUFBO0VBQ0EsZUFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EsZUFBQTtFQUNBLFVBQUE7RUFDQSxVQUFBOztBQUdGLElBQUksVUFDRixPQUFNO0VBQ0osY0FBQTs7QUFFQSxJQUpBLFVBQ0YsT0FBTSxNQUdIO0VBQ0MseUJBQUE7O0FBTE4sSUFBSSxVQVlGLE9BQU0sU0FDSjtBQWJKLElBQUksVUFZRixPQUFNLFNBQ0Q7RUFDRCxhQUFBOztBQUtOLElBQUksYUFDRixPQUFNO0VBQ0osYUFBQTs7QUFJSjtFQUNFLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLHVCQUFBO0VBQ0EsZUFBQTs7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSwwQkFBQTtFQUNBLHFCQUFBOztBQUVBLE1BQUM7RUFDQyxnQkFBQTtFQUNBLFlBQUE7O0FBWkosTUFlRTtFQUNFLHNCQUFBO0VBQ0EsVUFBQTs7QUFHRixNQUFDO0VBQ0Msa0NBQUE7RUFDQSxZQUFBOztBQUdGLE1BQUM7RUFDQyxnREFBQTtFQUNBLDhCQUFBO0VBQ0EscUJBQUE7O0FBNUJKLE1BK0JFO0VBQ0Usa0JBQUE7RUFDQSxTQUFBO0VBQ0EsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsU0FBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtFQUNBLGNBQUE7O0FBR0YsTUFBQztFQUNDLHlCQUFBO0VBQ0EsV0FBQTs7QUE1Q0osTUErQ0U7RUFDRSxhQUFBOztBQWhESixNQW1ERTtBQW5ERixNQW1ESztFQUNELGFBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsVUFBQTs7QUFJSixJQUFJLGdCQUNGLE9BQ0U7RUFDRSxjQUFBOztBQUtOLElBQUksaUJBQ0YsT0FDRTtFQUNFLGNBQUE7O0FBS04sSUFBSSxjQUNGLE9BQ0U7RUFDRSxlQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxVQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7O0FBS047RUFDRSxZQUFBOztBQUlGO0VBQ0UsYUFBQTtFQUNBLFVBQUE7RUFDQSwyQkFBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLDBCQUFBO0VBQ0Esc0JBQUE7O0FBUEYsSUFTRTtFQUNFLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBOztBQUVBLElBTEYsR0FLRztFQUNDLGlCQUFBOztBQWZOLElBbUJFLGNBQ0UsRUFDRTtFQUNFLFdBQUE7O0FBdEJSLElBMkJFO0VBQ0UsYUFBQTs7QUE1QkosSUErQkU7RUFDRSxjQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7O0FBSUosSUFBSTtFQUNGLGNBQUE7O0FBT0Ysd0JBQTJDO0VBR3pDO0lBQ0UsZUFBQTs7RUFERixNQUdFO0lBQ0UsZUFBQTs7RUFVRixNQUFDO0lBQ0MscUJBQUE7SUFDQSwyQkFBQTs7RUFJSixJQUFJLGNBQ0YsT0FBTztJQUNMLGVBQUEifQ== */