@model RollCallModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
    ContextItems.AddJavascriptForPage("url", "rollCallPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("ver", "site.lastVersionNum={0};".FilledWith(Model.LastVersionNum));
    TemplateLoader.RequireTemplates(TemplateLoader.File.RollCallLine);
}
<div class="Main">
    <div class="TopLine">
        Now Voting:</div>
    <div class="NowVoting">
    </div>
    <div class="NextUp">
        Next up...</div>
    <div class="Nav">
      <button id="btnReturn" type="button">
        Return to Dashboard</button>
        <div>Press F11 for full-screen!</div>
        <div>Press Up,Down to move names.</div>
    </div>
    @TemplateLoader.File.RollCallLine.FilledWithEach(Model.Voters()).AsRawHtml()
</div>
