@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@*@if (Request.IsAuthenticated)
{
}
else
{
    <ul>
        <li>@ActionLink2("Home", "Index", "Public")</li>
        <li>@ActionLink2("Register", "Register", "Account")</li>
        <li>@ActionLink2("Log on", "LogOn", "Account")</li>
        @*  
      , routeValues: null, htmlAttributes: new
   {
     id = "logonLink",
     data_dialog_title = "Identification"
   }
    </ul>
}
*@