@using TallyJ.Code.Session
<footer>
  <div class="content-wrapper">
    <div class="copyright" title="Running on @Environment.MachineName - @UserSession.CurrentElectionGuid">
      &copy; @DateTime.Now.Year Glen Little
    </div>
    <div class="helpLink">
      @RenderPage("Version.cshtml")
    </div>
    <div class="helpLink">
      <a title="View document"
         href="https://docs.google.com/document/d/1GiapKWev6zJBN8q7upssJcId4dblNxrk-ErOmHgLczA/pub"
         target="gdoc">Status & Feedback Document</a>
    </div>
    <div class="float-right">
      <ul id="social">
        <li>
          <a tabindex="-1" target="facebook" href="http://www.facebook.com/TallyJ.Support"
             class="facebook" title="Go to the TallyJ Support page"></a>
        </li>
        <li>
          <a tabindex="-1" target="twitter" href="http://twitter.com/tallyj_bahai" class="twitter"
             title="View news from #TallyJ_Bahai"></a>
        </li>
        <li>
          <a tabindex="-1" target="gplus" class="gplus" title="Go to TallyJ on Google+"
             href="https://plus.google.com/109176504285792009711?prsrc=3" style="text-decoration: none;"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
