<appSettings>
  <!--
  IMPORTANT! 
  
  You need to modify and copy this file to the folder beside this one called:
  
     App_Settings
  
  The file is referenced from inside the web.config file.
  -->

  
  <!--
  If this server is on the public internet, you should use an HTTPS address and set this value to "true"
  --> 
  <add key="secure" value="true"/>


  <!--
  When an email goes out, it includes a link back to your server. You define that here:
  -->
  <add key="HostSite" value="https://[your webserver / path to TallyJ]/"/>

  
  <!-- 
  To use Google or Facebook logins, you must have an SSL certificate and an HTTPS address.
  
  To enable Google signin for voters, you need to obtain a google client API account.
  See some instructions here:
     https://docs.google.com/document/d/1f4Q5XjdI3V4k39hQAaka4XuTl0rqUTAbmRV-Z3aMVaI/
  
  Remove these lines if you do not plan to enable Google login.
  -->
  <add key="google-ClientId" value="[your client id].apps.googleusercontent.com"/>
  <add key="google-ClientSecret" value="[your client secret]"/>
  

  <!--
  Similarly, for Facebook you need to arrange for an App account. See the document for details.
  
  Remove these lines if you do not plan to enable Facebook login.
  -->
  <add key="facebook-AppId" value="[your app id]"/>
  <add key="facebook-AppSecret" value="[your app secret]"/>
  

  <!--
  The following should be a random set of characters. For example: wjou355$@jrwET
  -->
  <add key="XsrfValue" value="wegws662342$242"/>
  

  <!--
  To be able to send real emails, you need to specify your SMTP (email) host and the id/pw to use)
  -->
  <add key="SmtpUsername" value="[your smtp user name]"/>
  <add key="SmtpPassword" value="[your smtp password"/>
  <add key="SmtpHost" value="[your smtp host]"/>
  <!--
  For testing, if you don't want real emails to be sent out, include the "SmtpPickupDirectory" setting
  as shown here, pointing to a folder on your computer.
  
  Remove this line to allow emails to be sent via SMTP!
  -->
  <add key="SmtpPickupDirectory" value="D:\Temp\Emails"/>
  

</appSettings>