<appSettings>
  <!--
  IMPORTANT! 
  
  You need to modify and copy this file to the folder beside this one called:
  
     App_Data
  
  The file is referenced from inside the web.config file.  
  Alternatively, you can put the file anywhere on the server and update the reference in web.config to the file's location.
  -->

  
  <!--
  If this server is on the public internet, you should use an HTTPS address and set this value to "true"
  --> 
  <add key="secure" value="true"/>


  <!--
  When an email goes out, it includes a link back to your server. You define that here:
  -->
  <add key="HostSite" value="https://[your webserver / path to TallyJ]/"/>

  

  <!--
  Auth0 is used for voter login.
  
  You need to set up an account at Auth0 and configure it for your server.
  
  To enable Google signin for voters, you need to obtain a google client API account.
  See some instructions here:
     https://docs.google.com/document/d/1f4Q5XjdI3V4k39hQAaka4XuTl0rqUTAbmRV-Z3aMVaI/
  

  To enable Facebook signin for voters, you need an "app" here:
     https://developers.facebook.com/apps/
  
  -->
  <add key="auth0-domain" value="______.auth0.com"/>
  <add key="auth0-ClientId" value="[your id]"/>
  <add key="auth0-ClientSecret" value="[your secret]"/>
  <add key="auth0-RedirectUri" value="[your host site URL]/Vote"/>
  <add key="auth0-PostLogoutRedirectUri" value="[your host site URL]"/>


  <!--
  To send SMS messages, you will need a Twilio account and get a SID and Token from there.
  -->
  <add key="twilio-SID" value="[your SID]"/>
  <add key="twilio-Token" value="[your Token]"/>



  <!--
  The following should be a random set of characters. For example: wjou355$@jrwET
  -->
  <add key="XsrfValue" value="wegws662342$242"/>
  

  <!--
  To be able to send real emails, you need to specify your SMTP (email) host and the id/pw to use)
  -->
  <add key="SmtpUsername" value="[your smtp user name]"/>
  <add key="SmtpPassword" value="[your smtp password"/>
  <add key="SmtpHost" value="[your smtp host]"/>

  <add key="SmtpDefaultFromAddress" value="noreply@tallyj.com"/>
  <add key="SmtpDefaultFromName" value="TallyJ System"/>

  <!--
  For testing, if you don't want real emails to be sent out, include the "SmtpPickupDirectory" setting
  as shown here, pointing to a folder on your computer.
  
  Remove this line to allow emails to be sent via SMTP!
  -->
  <add key="SmtpPickupDirectory" value="D:\Temp\Emails"/>
  

</appSettings>