@using TallyJ.Code.Session
@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

  ViewData["ExtraScripts"] = new[]
  {
    ClientFile("~/Scripts/vue{0}.js", ".min"),
  };
}

<div id="LogView">
  <div class="Header">
    <div class="reportSelector">
      <button v-on:click="showReport('mainLog')" class="btn" :class="{'btn-success': report==='mainLog'}">General Log</button>
      <button v-on:click="showReport('onlineVotingLog')" class="btn" :class="{'btn-success': report==='onlineVotingLog'}">Online Voting</button>
      <button v-on:click="showReport('electionList')" class="btn" :class="{'btn-success': report==='electionList'}">Elections List</button>
      <a href="Dashboard">Home</a>
    </div>

  </div>

  <event-log :report="report" v-if="report"></event-log>

</div>

<script>
  var _url = {
    mainLog: @Url.Action("GetMainLog", "SysAdmin").QuotedForJavascript().AsRawHtml(),
    onlineVotingLog: @Url.Action("GetOnlineVotingLog", "SysAdmin").QuotedForJavascript().AsRawHtml(),
    electionList: @Url.Action("GetElectionList", "SysAdmin").QuotedForJavascript().AsRawHtml(),
  };
</script>

<script id="eventLog" type="text/x-template">
  <div class="eventLog">

    <div class="autorefresh">
      Auto-refresh
      <select v-model="autoUpdateSeconds">
        <option v-for="opt in autoUpdateSettings"
                :key="opt.s"
                v-text="opt.t"
                :value="opt.s"></option>
      </select>
      <span class="age">{{age}}</span>
    </div>


    <div>
      <button v-on:click="searchText=''; getLog(report, true)">Refresh</button>
      @*<input placeholder="%sql_" v-on:keyup.enter="getLog('mainLog', true)" v-model="searchText">
    <button v-on:click="getLog('mainLog', true)">Search</button>*@
      <select v-model="numToShow" v-on:change="refresh">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      
      <span v-if="report === 'electionList'">
        Sort: {{currentSort || '(pick column)'}} {{lastSort ? '&#x2191' : '&#x2193'}}
      </span>
    </div>

    <div class="mainLog" v-if="report == 'mainLog'">
      <table>
        <thead>
          <tr>
            <th>When</th>
            <th>Election</th>
            <th>Site</th>
            <th>Comp</th>
            <th>Voter</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody v-for="r in logInfo.mainLog.log" :key="r.C_RowId">
          <tr :class="rowClassNames('mainLog', r)">
            <td class="NoWrap">{{r.AsOf_Display}}</td>
            <td>{{r.ElectionName}}</td>
            <td>{{r.HostAndVersion}}</td>
            <td>{{r.ComputerCode}}</td>
            <td>{{r.VoterEmail}}</td>
            <td>
              <button class="btn btn-mini"
                      v-if="r.numLines > 1"
                      v-on:click="r.showFullDetails = !r.showFullDetails"
                      v-text="r.numLines + ' Lines'"></button>
              {{r.shortDetails}}
            </td>
          </tr>
          <tr v-if="r.showFullDetails">
            <td colspan="99">
              <div class="fullDetails" v-html="r.fullDetails"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <button v-on:click="getLog('mainLog', false)">Show More</button>
    </div>


    <div class="onlineVotingLog" v-if="report == 'onlineVotingLog'">

      <table>
        <thead>
          <tr>
            <th>Election</th>
            <th>Convenor</th>
            <th>Email</th>
            <th>Ballot Size</th>
            <th>Tally Status</th>
            <th>Logged In</th>
            <th>Pending</th>
            <th>Processed</th>
            <th>Open Date</th>
            <th>First Activity</th>
            <th>Most Recent</th>
            <th>Close Date</th>
          </tr>
        </thead>
        <tbody v-for="r in logInfo.onlineVotingLog.log" :key="r.C_RowId">
          <tr :class="rowClassNames('onlineVotingLog', r)">
            <td>{{r.Name}}</td>
            <td>{{r.Convenor}}</td>
            <td>{{r.Email}}</td>
            <td>{{r.NumberToElect}}</td>
            <td>{{r.TallyStatus}}</td>
            <td>{{r.Activated}}</td>
            <td>{{r.Submitted}}</td>
            <td>{{r.Processed}}</td>
            <td>{{r.OnlineWhenOpen_Display}}</td>
            <td>{{r.First_Display}}</td>
            <td>{{r.MostRecent_Display}}</td>
            <td>{{r.OnlineWhenClose_Display}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Count: {{logInfo.onlineVotingLog.log.length}}
      </div>
    </div>

    <div class="electionList" v-if="report == 'electionList'">
      <table>
        <thead>
          <tr>
            <th><span v-on:click="sort('DateOfElection_Date')">Date</span></th>
            <th><span v-on:click="sort('RecentActivity_Date')">Recent Activity</span></th>
            <th><span v-on:click="sort('ShowAsTest')">Test?</span></th>
            <th><span v-on:click="sort('Name')">Election</span></th>
            <th><span v-on:click="sort('Convenor')">Convenor</span></th>
            <th><span v-on:click="sort('Email')">Email</span></th>
            <th><span v-on:click="sort('ElectionType')">Type</span></th>
            <th><span v-on:click="sort('TallyStatus')">Status</span></th>
            <th><span v-on:click="sort('NumberToElect')">Ballot Size</span></th>
            <th><span v-on:click="sort('NumPeople')">People</span></th>
            <th><span v-on:click="sort('NumOnline')">Online</span></th>
            <th><span v-on:click="sort('NumBallots')">Ballots</span></th>
          </tr>
        </thead>
        <tbody v-for="r in logInfo.electionList.log" :key="r.C_RowId">
          <tr :class="rowClassNames('electionList', r)">
            <td>{{r.DateOfElection_Display}}</td>
            <td>{{r.RecentActivity_Display}}</td>
            <td>{{r.ShowAsTest ? 'Test' : ''}}</td>
            <td>{{r.Name}}</td>
            <td>{{r.Convenor}}</td>
            <td>{{r.Email}}</td>
            <td>{{r.ElectionType}} / {{r.ElectionMode}}</td>
            <td>{{r.TallyStatus}}</td>
            <td>{{r.NumberToElect}}</td>
            <td>{{r.NumPeople}}</td>
            <td>{{r.NumOnline}}</td>
            <td>{{r.NumBallots}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Count: {{logInfo.electionList.log.length}}
      </div>
    </div>

  </div>
</script>
