@using TallyJ.Code.Session
@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="LogView">
  <div class="Header">
    <div class="reportSelector">
      <button v-on:click.passive="showReport('mainLog')" class="btn" :class="{'btn-success': report==='mainLog'}">General Log</button>
      <button v-on:click.passive="showReport('onlineVotingLog')" class="btn" :class="{'btn-success': report==='onlineVotingLog'}">Online Voting</button>
      <button v-on:click.passive="showReport('electionList')" class="btn" :class="{'btn-success': report==='electionList'}">Elections List</button>
      <a href="Dashboard">Home</a>
    </div>

  </div>

  <event-log :report="report" v-if="report"></event-log>

</div>

<script>
  var _url = {
    mainLog: @Url.Action("GetMainLog", "SysAdmin").QuotedForJavascript().AsRawHtml(),
    onlineVotingLog: @Url.Action("GetOnlineVotingLog", "SysAdmin").QuotedForJavascript().AsRawHtml(),
    electionList: @Url.Action("GetElectionList", "SysAdmin").QuotedForJavascript().AsRawHtml(),
  };
</script>

<script id="eventLog" type="text/x-template">
  <div class="eventLog">

    <div class="autorefresh">
      Auto-refresh
      <select v-model="autoUpdateSeconds">
        <option v-for="opt in autoUpdateSettings"
                :key="opt.s"
                v-text="opt.t"
                :value="opt.s"></option>
      </select>
      <span class="age">{{age}}</span>
    </div>


  
    @*<div>

      <button v-on:click.passive="searchText=''; getLog(report, true)">Refresh</button>
      <select v-model="numToShow" v-on:change="refresh">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>

    </div>*@

  <div class="mainLog" v-if="report == 'mainLog'">
    <div>

      <span>
        Filter by Detail
      </span>
      <el-input size="mini" type="search" v-on:keyup.enter="getLog(report, true)" v-model="searchText"></el-input>

      <span>
        Filter by Who
      </span>
      <el-input size="mini" type="search" v-on:keyup.enter="getLog(report, true)" v-model="searchName"></el-input>

      <span>&nbsp; Within a date range:</span>
      <el-date-picker v-model="moreDates"
                      size="mini"
                      type="datetimerange"
                      range-separator="To"
                      start-placeholder="Start date"
                      end-placeholder="End date">
      </el-date-picker>
      <el-select v-model="numMoreMainLog" size="mini" class="numMoreMainLog">
        <el-option v-for="n in numMoreOptions"
                   :key="n"
                   :label="'Show ' + n + ' lines'"
                   :value="n"></el-option>
      </el-select>

      <el-button icon="el-icon-search" type="primary" size="small" v-on:click.passive="getLog(report, true)">Search</el-button>

    </div>

    <table>
      <thead>
        <tr>
          <th>When</th>
          <th>Election</th>
          <th>Site</th>
          <th>Comp</th>
          <th>Voter</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody v-for="r in logInfo.mainLog.log" :key="r.C_RowId">
        <tr :class="rowClassNames('mainLog', r)">
          <td class="NoWrap">{{r.AsOf_Display}}</td>
          <td>{{r.ElectionName}}</td>
          <td>{{r.HostAndVersion}}</td>
          <td>{{r.ComputerCode}}</td>
          <td>{{r.VoterId}}</td>
          <td>
            <button class="btn btn-mini"
                    v-if="r.hasFullDetails"
                    v-on:click.passive="r.showFullDetails = !r.showFullDetails"
                    v-text="'Details'"></button>
            {{r.shortDetails}}
          </td>
        </tr>
        <tr v-if="r.showFullDetails">
          <td colspan="99">
            <div class="fullDetails" v-html="r.fullDetails"></div>
          </td>
        </tr>
      </tbody>
    </table>

    <span>{{logInfo.mainLog.log.length}} lines showing. &nbsp;</span>

    <el-select v-model="numMoreMainLog" size="mini" class="searchNumMore">
      <el-option v-for="n in numMoreOptions"
                 :key="n"
                 :label="'Add ' + n + ' more lines'"
                 :value="n"></el-option>
    </el-select>

    <el-button icon="el-icon-bottom" size="small" type="primary" v-on:click.passive="getLog('mainLog', false)">Get More</el-button>
    <span>{{logInfo.mainLog.received}} lines just added.</span>

  </div>


  <div class="onlineVotingLog" v-if="report == 'onlineVotingLog'">
    <div>
      <span>&nbsp; Within a date range:</span>
      <el-date-picker v-model="moreDates"
                      size="mini"
                      type="datetimerange"
                      range-separator="To"
                      start-placeholder="Start date"
                      end-placeholder="End date">
      </el-date-picker>

      <el-button icon="el-icon-search" type="primary" size="small" v-on:click.passive="getLog(report, true)">Search</el-button>

      <span>
        Sorting: {{currentSort || '(pick column)'}} {{lastSort ? '&#x2191' : '&#x2193'}}
      </span>


    </div>
    <table>
      <thead>
        <tr>
          <th v-on:click.passive="sort('Name', $event)">Election</th>
          <th v-on:click.passive="sort('Convenor', $event)">Convenor</th>
          <th v-on:click.passive="sort('Email')">Admin Email(s)</th>
          <th v-on:click.passive="sort('NumberToElect')">Ballot Size</th>
          <th v-on:click.passive="sort('TallyStatus')">Tally Status</th>
          <th v-on:click.passive="sort('Activated')">Logged In</th>
          <th v-on:click.passive="sort('Submitted')">Pending</th>
          <th v-on:click.passive="sort('Processed')">Processed</th>
          <th v-on:click.passive="sort('OnlineWhenOpen_Date')">Open Date</th>
          <th v-on:click.passive="sort('First_Date')">First Activity</th>
          <th v-on:click.passive="sort('MostRecent_Date')">Most Recent</th>
          <th v-on:click.passive="sort('OnlineWhenClose_Date')">Close Date</th>
        </tr>
      </thead>
      <tbody v-for="r in logInfo.onlineVotingLog.log" :key="r.C_RowId">
        <tr :class="rowClassNames('onlineVotingLog', r)">
          <td>{{r.Name}}</td>
          <td>{{r.Convenor}}</td>
          <td>{{r.Email}}</td>
          <td>{{r.NumberToElect}}</td>
          <td>{{r.TallyStatus}}</td>
          <td>{{r.Activated}}</td>
          <td>{{r.Submitted}}</td>
          <td>{{r.Processed}}</td>
          <td>{{r.OnlineWhenOpen_Display}}</td>
          <td>{{r.First_Display}}</td>
          <td>{{r.MostRecent_Display}}</td>
          <td>{{r.OnlineWhenClose_Display}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      Count: {{logInfo.onlineVotingLog.log.length}}
    </div>
  </div>

    <div class="electionList" v-if="report == 'electionList'">
      <div>
        <span>&nbsp; Within a date range:</span>
        <el-date-picker v-model="moreDates"
                        size="mini"
                        type="datetimerange"
                        range-separator="To"
                        start-placeholder="Start date"
                        end-placeholder="End date">
        </el-date-picker>
        <el-button icon="el-icon-search" type="primary" size="small" v-on:click.passive="getLog(report, true)">Search</el-button>

        <span>
          Sorting: {{currentSort || '(pick column)'}} {{lastSort ? '&#x2191' : '&#x2193'}}
        </span>

      </div>

      <table>
        <thead>
          <tr>
            <th></th>
            <th v-on:click.passive="sort('DateOfElection_Date')">Date</th>
            <th v-on:click.passive="sort('RecentActivity_Date')">Recent Activity</th>
            <th v-on:click.passive="sort('ShowAsTest')">Test?</th>
            <th v-on:click.passive="sort('Name')">Election</th>
            <th v-on:click.passive="sort('Convenor')">Convenor</th>
            <th v-on:click.passive="sort('Email')">Admin Email(s)</th>
            <th v-on:click.passive="sort('ElectionType')">Type</th>
            <th v-on:click.passive="sort('TallyStatus')">Status</th>
            <th v-on:click.passive="sort('NumberToElect')">Ballot Size</th>
            <th v-on:click.passive="sort('NumPeople')">People</th>
            <th v-on:click.passive="sort('NumOnline')">Online</th>
            <th v-on:click.passive="sort('NumBallots')">Ballots</th>
          </tr>
        </thead>
        <tbody v-for="r in logInfo.electionList.log" :key="r.C_RowId">
          <tr :class="rowClassNames('electionList', r)">
            <td>{{r.C_RowId}}</td>
            <td>{{r.DateOfElection_Display}}</td>
            <td>{{r.RecentActivity_Display}}</td>
            <td>{{r.ShowAsTest ? 'Test' : ''}}</td>
            <td>{{r.Name}}</td>
            <td>{{r.Convenor}}</td>
            <td>{{r.Email}}</td>
            <td>{{r.ElectionType}} / {{r.ElectionMode}}</td>
            <td>{{r.TallyStatus}}</td>
            <td>{{r.NumberToElect}}</td>
            <td>{{r.NumPeople}}</td>
            <td>{{r.NumOnline}}</td>
            <td>{{r.NumBallots}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        Count: {{logInfo.electionList.log.length}}
      </div>
    </div>

  </div>
</script>
