@{
  ViewBag.Title = "Reference Materials";
  ViewBag.Message = "Resources for the curious";
}
<hgroup class="title"><h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<section class="quotes"><header><h3>Quotes:</h3>
</header>
  <ol>
    <li><p>It is a basic principle of elections for Bahá'í Spiritual Assemblies that each
      voter must vote for the nine people who, in his or her opinion, are best suited
      to serve. He may have a low opinion of all those who are eligible, but his duty
      is to vote for those nine from among them who, in his estimation, best meet the
      standards for service on a Spiritual Assembly. This is how it is possible to vote
      for exactly nine names. Since the membership of an Assembly is nine, it would give
      rise to a number of statistical anomalies if voters were permitted to record votes
      for fewer or more than nine names. In any one election there are not usually any
      cases where a voter accidentally makes a mistake and includes a name of an ineligible
      person, so the statistical effect is slight, and there is no need to invalidate
      his whole ballot. As you point out, a believer who does not wish to vote for nine,
      may achieve his end by purposely including the names of those who are ineligible,
      but this would be a betrayal of the trust placed in him as a Bahá'í voter. One cannot
      control such actions, but like any action contrary to the spirit of the Faith, they
      are detrimental and should be strongly discouraged. <em>(Compilations, Lights of Guidance,
        p. 21)</em> </p>
      <li><p>Invalid Ballots Under certain conditions an entire ballot may be declared invalid.
        These are: <br>
        (1) More than nine names on ballot paper; <br>
        (2) Less than nine names on ballot paper; <br>
        (3) Duplication of names. <br>
        Under other conditions, because of specified irregularities, one or more of the
        names may be invalidated but the rest of the ballot would be considered valid. These
        irregularities are: <br>
        (1) A name not identifiable, or illegible; <br>
        (2) The name of an ineligible person, such as a youth or person not resident in
        the jurisdiction of the voting area, provided of course that each ballot contains
        no more or less than nine names and no name has been duplicated. <br>
        <em>Letter from the Universal House of Justice, dated July 29, 1971, to a National
          Spiritual Assembly (Compilations, NSA USA - Developing Distinctive Bahá'í Communities)</em>
      </p>
        <li><p>In answer to your question about who should decide this matter, the House of
          Justice states that it is the duty of the tellers to report the entire result of
          the voting, to the National Spiritual Assembly which has a duty of accepting the
          tellers' report before it is presented to the Convention. If the National Assembly
          sees that the ninth place is tied and that one of the persons tied is a member of
          a minority, it would instruct the tellers to report the results on this basis without
          calling for a re-vote. If, however, there is any doubt at all as to whether a minority
          is involved, the Assembly should resolve the matter by instruction that a re-vote
          for the ninth place should be held. <em>(Compilations, Lights of Guidance, p. 25)</em>
        </p>
          <li><p>68. Each Voter Must Vote for the Nine Best Suited for Election -- Not Betray
            Sacred Trust<br>
            <br>
            &quot;It is a basic principle of elections for Bahá'í Spiritual Assemblies that
            each voter must vote for the nine people who, in his or her opinion, are best suited
            to serve. He may have a low opinion of all those who are eligible, but his duty
            is to vote for those nine from among them who, in his estimation, best meet the
            standards for service on a Spiritual Assembly. This is how it is possible to vote
            for exactly nine names. Since the membership of an Assembly is nine, it would give
            rise to a number of statistical anomalies if voters were permitted to record votes
            for fewer or more than nine names. In any one election there are not usually any
            cases where a voter accidentally makes a mistake and includes a name of an ineligible
            person, so the statistical effect is slight, and there is no need to invalidate
            his whole ballot. As you point out, a believer who does not wish to vote for nine,
            may achieve his end by purposely including the names of those who are ineligible,
            but this would be a betrayal of the trust placed in him as a Bahá'í voter. One cannot
            control such actions, but like any action contrary to the spirit of the Faith, they
            are detrimental and should be strongly discouraged.&quot; <em>(Compilations, Lights
              of Guidance, p. 21)</em></p>
            <li><p>85. Results Reported to National Assembly for acceptance and Instructions to
              Tellers about Re-voting<br>
              <br>
              &quot;In answer to your question about who should decide this matter, the House
              of Justice states that it is the duty of the tellers to report the entire result
              of the voting, to the National Spiritual Assembly which has a duty of accepting
              the tellers' report before it is presented to the Convention. If the National Assembly
              sees that the ninth place is tied and that one of the persons tied is a member of
              a minority, it would instruct the tellers to report the results on this basis without
              calling for a re-vote. If, however, there is any doubt at all as to whether a minority
              is involved, the Assembly should resolve the matter by instruction that a re-vote
              for the ninth place should be held.&quot; <em>(Compilations, Lights of Guidance, p.
                25)</em></p>
              <li><p>Tellers <br>
                The tellers are appointed by the outgoing Spiritual Assembly. Any Bahá'í, adult
                or youth, in good standing may serve as teller; however, the Chief Teller should
                be an adult. The task includes: <br>
                * Collecting the ballots <br>
                * Counting the ballots <br>
                * Making certain that the ballots are valid <br>
                * Recording the results <br>
                * Reporting the results to the election meeting <br>
                * Submitting to the local and National Spiritual Assembly a report signed by all
                tellers. This report becomes part of the permanent records of the community. <br>
                <br>
                In addition, the Chief Teller is responsible for organizing the work of the tellers,
                announcing the results of the election and any other relevant information desired
                by the electors, and ensuring that the election report is signed by all tellers.
                <em>(Compilations, NSA USA - Developing Distinctive Bahá'í Communities)</em></p>
              </li>
  </ol>
</section>
