.Election
{
    border-bottom: 1px solid #ccc;
    padding: 9px 0 9px 5px;
}
.Election.True .Detail
{
    color: #8dc63e;
    font-weight: bold;
}
.Election.True button.btnSelectElection,
.Locations .True button
{
    opacity: .5;
}
.Locations
{
    display: none;
    margin-left: 150px;
}
.Election.True .Locations {
    display: block;
}
.SelectLocation {
    margin-left: 120px;
    display: none;
}
.Locations .True {
    color: #8dc63e;
    font-weight: bold;
}