@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ElectionsListViewModel
@{
    ViewBag.Title = "Choose an Election";
    ViewBag.Message = "Select or create an election";

    ContextItems.AddJavascriptForPage("url", "chooseElectionPage.electionsUrl={0};".FilledWith(@Url.Action("Index", "Elections").QuotedForJavascript()));
    var electionsInfo = Model.MyElectionsInfo.ToList();
    ContextItems.AddJavascriptForPage("initial", "chooseElectionPage.elections={0};".FilledWith(electionsInfo.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("guest", "chooseElectionPage.isGuest={0};".FilledWith(UserSession.IsGuestTeller.SerializedAsJsonString()));
    TemplateLoader.RequireTemplates(TemplateLoader.File.LocationSelectItem, TemplateLoader.File.ElectionListItem);
}
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
@if (@electionsInfo.Count() > 0)
{
    <h3>Your Elections</h3>
}<div id="ElectionList">
</div>
<div class="Election MakeNew">
    <button type="button" id="btnCreate">
        Create a New Election</button></div>
