.Election {
  border-bottom: 1px solid #ccc;
  padding: 3px 0 4px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Election.deleting {
  background-color: #ffb2b2;
}
.Election.justloaded {
  background-color: #b2ffb2;
}
.Election.true .Detail {
  color: #8dc63e;
  font-weight: bold;
}
.Election.true .SelectLocation,
.Election.true .Locations {
  display: block;
}
.Election.SingleName .notSingle {
  display: none;
}
.Election.IsFuture {
  color: #060;
}
.numVoters,
.numBallots {
  font-size: 80%;
  white-space: nowrap;
}
.Locations .true button {
  opacity: .5;
}
.Detail {
  position: relative;
  min-height: 21px;
}
.Detail i {
  margin-left: 15px;
  font-size: 80%;
  font-style: normal;
  white-space: nowrap;
}
.Detail b {
  white-space: nowrap;
}
.buttons {
  display: block;
  margin-left: 5px;
  white-space: nowrap;
  flex-shrink: 0;
}
.btnSelectElection {
  margin-right: 15px;
}
#btnCreate {
  margin-left: 37px;
  display: block;
}
button.active {
  background-color: greenyellow;
}
.Locations {
  display: none;
  margin-left: 150px;
}
.SelectLocation {
  margin-left: 120px;
  display: none;
}
.Locations .true {
  color: #8dc63e;
  font-weight: bold;
}
.MakeNew {
  margin-top: 25px;
}
.MakeNewList li {
  margin-bottom: 14px;
}
.TestElection {
  color: #aaa;
}
.Test {
  display: none;
}
.TestElection .Test {
  display: inline-block;
}
#file-uploader {
  display: inline-block;
  margin-left: 20px;
}
#form2 {
  float: right;
}
#formLoadFile {
  margin: 0;
}
#formLoadFile input {
  display: block;
  margin: 3px 0 0 37px;
}
div.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
  margin: -10px 0 9px 0;
}
li.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
}
#loadingLog {
  background-color: white;
  margin: 5px 100px 0 50px;
  padding: 3px 10px;
  display: none;
}
@media only screen and (max-width: 750px) {
  .buttons {
    white-space: normal;
  }
  .buttons .btnSelectElection {
    margin-right: 0;
  }
  .buttons .btn-group {
    margin-top: 2px;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkNob29zZUVsZWN0aW9uLmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNkJBQUE7RUFDQSxzQkFBQTtFQUNBLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBOztBQUVBLFNBQUM7RUFDQyx5QkFBQTs7QUFHRixTQUFDO0VBQ0MseUJBQUE7O0FBR0YsU0FBQyxLQUNDO0VBQ0UsY0FBQTtFQUNBLGlCQUFBOztBQUhKLFNBQUMsS0FNQztBQU5GLFNBQUMsS0FPQztFQUNFLGNBQUE7O0FBSUosU0FBQyxXQUNDO0VBQ0UsYUFBQTs7QUFJSixTQUFDO0VBQ0MsV0FBQTs7QUFPSjtBQUFZO0VBQ1YsY0FBQTtFQUNBLG1CQUFBOztBQUdGLFVBQVcsTUFBTTtFQUNmLFdBQUE7O0FBR0Y7RUFDRSxrQkFBQTtFQUNBLGdCQUFBOztBQUZGLE9BSUU7RUFDRSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBOztBQVJKLE9BV0U7RUFDRSxtQkFBQTs7QUFJSjtFQUNFLGNBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBO0VBQ0EsY0FBQTs7QUFHRjtFQUNFLGtCQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxjQUFBOztBQUdGLE1BQU07RUFDSiw2QkFBQTs7QUFHRjtFQUNFLGFBQUE7RUFDQSxrQkFBQTs7QUFHRjtFQUNFLGtCQUFBO0VBQ0EsYUFBQTs7QUFJRixVQUFXO0VBQ1QsY0FBQTtFQUNBLGlCQUFBOztBQUdGO0VBQ0UsZ0JBQUE7O0FBR0YsWUFBYTtFQUNYLG1CQUFBOztBQUdGO0VBQ0UsV0FBQTs7QUFHRjtFQUNFLGFBQUE7O0FBR0YsYUFBYztFQUNaLHFCQUFBOztBQU9GO0VBQ0UscUJBQUE7RUFDQSxpQkFBQTs7QUFHRjtFQUNFLFlBQUE7O0FBR0Y7RUFDRSxTQUFBOztBQUdGLGFBQWM7RUFDWixjQUFBO0VBQ0Esb0JBQUE7O0FBR0YsR0FBRztFQUNELFdBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxxQkFBQTs7QUFHRixFQUFFO0VBQ0EsV0FBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTs7QUFHRjtFQUNFLHVCQUFBO0VBQ0Esd0JBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7O0FBR0Ysd0JBQTBDO0VBQ3hDO0lBQ0UsbUJBQUE7O0VBREYsUUFHRTtJQUNFLGVBQUE7O0VBSkosUUFPRTtJQUNFLGVBQUEifQ== */