@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ElectionsListViewModel
@{
    ViewBag.Title = "Choose an Election";
    ViewBag.Message = "Select or create an election";

    ContextItems.AddJavascriptForPage("url", "chooseElectionPage.electionsUrl={0};".FilledWith(@Url.Action("Index", "Elections").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("initial", "chooseElectionPage.elections={0};".FilledWith(Model.MyElectionsInfo.SerializedAsJson()));
    TemplateLoader.RequireTemplates(TemplateLoader.File.LocationSelectItem, TemplateLoader.File.ElectionListItem);
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<h3>
    Your elections: (@Model.MyElectionsInfo.Count())</h3>
<div id="ElectionList">
</div>
<div class="Election">
    <button type="button" id="btnCreate">
        Create a New Election</button></div>
