.Election {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  box-shadow: #ccc 1px 1px;
  padding: 3px 4px 4px 5px;
  margin: 3px 0;
  border-radius: 2px;
}
.Election .TopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Election .BottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Election.deleting {
  background-color: #ffb2b2;
}
.Election.justloaded {
  background-color: #b2ffb2;
}
.Election.current .Detail {
  color: #8dc63e;
  font-weight: bold;
}
.Election.current .SelectLocation,
.Election.current .Locations {
  display: block;
}
.Election.IsFuture {
  color: #060;
}
.numVoters,
.numBallots,
.status {
  font-size: 80%;
  white-space: nowrap;
}
.Locations .true button {
  opacity: 0.5;
}
.Detail {
  position: relative;
  min-height: 21px;
}
.Detail i {
  margin-left: 15px;
  font-size: 80%;
  font-style: normal;
  white-space: nowrap;
}
.Detail b {
  white-space: nowrap;
}
.buttons {
  display: block;
  margin-left: 5px;
  white-space: nowrap;
  flex-shrink: 0;
}
.btnSelectElection {
  margin-right: 15px;
}
#btnCreate {
  margin-left: 37px;
  display: block;
}
button.active {
  background-color: greenyellow;
}
.Locations {
  display: none;
  margin-left: 150px;
}
.SelectLocation {
  margin-left: 120px;
  display: none;
}
.onlineCurrentlyOpen {
  font-weight: bold;
  color: #af5f00;
}
.Locations .true {
  color: #8dc63e;
  font-weight: bold;
}
.MakeNew {
  margin-top: 25px;
}
.MakeNewList li {
  margin-bottom: 14px;
}
.TestElection {
  color: #aaa;
}
.TestElection .onlineCurrentlyOpen {
  color: rgba(175, 95, 0, 0.75);
}
#file-uploader {
  display: inline-block;
  margin-left: 20px;
}
#form2 {
  float: right;
}
#formLoadFile {
  margin: 0;
}
#formLoadFile input {
  display: block;
  margin: 3px 0 0 37px;
}
div.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
  margin: -10px 0 9px 0;
}
.NoneFound {
  margin: 1em;
}
li.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
}
.h3button {
  display: flex;
  align-items: center;
  gap: 1em;
}
.currentElections {
  min-height: 2em;
}
.oldElections {
  margin-top: 2em;
}
.oldElections h3 {
  margin: 0;
}
.loadingLog {
  background-color: white;
  margin: 5px 100px 0 50px;
  padding: 3px 10px;
}
@media only screen and (max-width: 750px) {
  .buttons {
    white-space: normal;
  }
  .buttons .btnSelectElection {
    margin-right: 0;
  }
  .buttons .btn-group {
    margin-top: 2px;
  }
}