@import "../../Content/bootstrap/css/variables.less";

.Election {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  box-shadow: #ccc 1px 1px;
  padding: 3px 4px 4px 5px;
  margin: 3px 0;
  border-radius: 2px;

  .TopRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .BottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.deleting {
    background-color: rgb(255, 178, 178);
  }

  &.justloaded {
    background-color: rgb(178,255,178);
  }

  &.current { // currently logged into
    border-width: 3px;
  }
  //&.IsFuture {
  //  color: #060;
  //}
}


.tellers {
  border: 1px solid #83e0ff;
  margin: 5px 5px 3px 15px;
  background-color: lightblue;
  display: inline-flex;
  align-items: center;
  gap: .5em;
  font-size: 85%;
  color: #000;
  padding-right: 3px;

  .tellerStatus {
    padding: 0 0 0 4px;
  }

  .names {
    background-color: white;
    padding: 0 5px 0 4px;
  }
}

.numVoters, .numBallots {
  white-space: nowrap;
}

.Detail {
  position: relative;
  min-height: 21px;

  .Detail1 {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .Detail2 {
    margin: 5px 0 3px 15px;
    font-size: 85%;
    color: #444;
  }
}

.TopRight {
}

.Test {
  background-color: #e85a55;
}

.Test, .NotTest {
  padding: 3px 4px 2px 4px;
  color: white;
  font-size: 60%;
  border-radius: 7px;
}

.NotTest {
  background-color: #44c145;
}

.buttons {
  display: block;
  margin-left: 5px;
  white-space: nowrap;
  flex-shrink: 0;
}

.btnSelectElection {
  margin-right: 15px;
}

#btnCreate {
  margin-left: 37px;
  display: block;
}

button.active {
  background-color: greenyellow;
}

.Locations {
  margin-left: 150px;
}

.onlineCurrentlyOpen {
  font-weight: bold;
  color: @tallyJOrangeText;
}

.MakeNew {
  margin-top: 25px;
}

.MakeNewList li {
  margin-bottom: 14px;
}


#fileName {
  //display: none;
}

#file-uploader {
  display: inline-block;
  margin-left: 20px;
}

#form2 {
  float: right;
}

#formLoadFile {
  margin: 0;
}

#formLoadFile input {
  display: block;
  margin: 3px 0 0 37px;
}

div.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
  margin: -10px 0 9px 0;
}

.NoneFound {
  margin: 1em;
}

li.Comment {
  color: #666;
  font-size: 90%;
  font-style: italic;
}

.h3button {
  display: flex;
  align-items: center;
  gap: 1em;
}

.currentElections {
  min-height: 2em;
}

.oldElections {
  margin-top: 2em;

  h3 {
    margin: 0;
  }
}

.loadingLog {
  background-color: white;
  margin: 5px 100px 0 50px;
  padding: 3px 10px;
}

@media only screen and (max-width: 750px) {
  .buttons {
    white-space: normal;

    .btnSelectElection {
      margin-right: 0;
    }

    .btn-group {
      margin-top: 2px;
    }
  }
}
