section.features a
{
    text-decoration: none;
    cursor: pointer;
}
section.features a section
{
    border: 2px solid transparent;
}
section.features a:hover section
{
    border: 2px solid #ddd;
}

section.features a:active section
{
    border: 2px solid #8dc63e;
}

hgroup.title a
{
    float: right;
    color: #013d7a;
    text-decoration: none;
}
hgroup.title a:hover
{
    text-decoration: underline;
}
section.todo h3, section.todo
{
    color: #ccc;
}
section.features
{
    border: 1px solid #d7d7d7;
    border-right: none;
    border-bottom: none;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
}
.featuresTitle
{
    margin: -5px 0 0px -17px;
    color: #bbb;
    font-weight: normal;
    font-style: italic;
    font-size: 23px;
}
.Projector h3
{
    background-position: right 4px;
    background-image: url('../../Images/SlideProjector.gif');
    background-repeat: no-repeat;
}
.Role-known h3
{
    background-position: right 4px;
    background-image: url('../../Images/keys.png');
    background-repeat: no-repeat;
}
.TipKnown {
    background-image: url('../../Images/keys.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;    
}
.TipProjector {
    background-image: url('../../Images/SlideProjector.gif');
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;    
}