div.MainDashboard section.feature h3 {
  font-size: 16.8px;
  line-height: normal;
}
div.MainDashboard section.features a {
  text-decoration: none;
  cursor: pointer;
}
div.MainDashboard section.features a:hover h3 {
  color: inherit;
}
div.MainDashboard section.features a section {
  border: 1px solid transparent;
}
div.MainDashboard section.features a:hover.Featured section {
  border: 1px solid #888;
}
div.MainDashboard section.features a:hover.NotFeatured section {
  border: 1px solid #888;
}
div.MainDashboard section.features a:active section {
  border: 1px solid #8dc63e;
}
div.MainDashboard hgroup.title a {
  float: right;
  color: #013d7a;
  text-decoration: none;
}
div.MainDashboard hgroup.title a:hover {
  text-decoration: underline;
}
div.MainDashboard section.todo h3,
div.MainDashboard section.todo {
  color: #ccc;
}
div.MainDashboard section.features {
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}
div.MainDashboard section.features.NotStarted {
  color: #af5f00;
}
div.MainDashboard section.features.NotStarted a {
  color: #af5f00;
}
div.MainDashboard section.features.NamesReady {
  color: #013d7a;
}
div.MainDashboard section.features.NamesReady a {
  color: #013d7a;
}
div.MainDashboard section.features.Tallying {
  color: #4b8200;
}
div.MainDashboard section.features.Tallying a {
  color: #4b8200;
}
div.MainDashboard .featuresTitle {
  margin: -5px 0 0px -17px;
  font-weight: normal;
  font-style: italic;
  font-size: 23px;
}
div.MainDashboard .Projector .TipProjector {
  display: inline-block;
}
div.MainDashboard .Role-known .TipKnown {
  display: inline-block;
}
div.MainDashboard .NotFeatured h3 {
  color: #999;
}
div.MainDashboard .NotFeatured section.feature {
  background-image: none;
  height: 45px;
  padding: 10px 15px 20px 10px;
  border: solid #ccc 1px;
}
div.MainDashboard section.features p {
  color: #013d7a;
}
div.MainDashboard .NotFeatured p {
  display: none;
}
div.MainDashboard .h2 {
  margin-top: 10px;
}
body.BP-None .NamesReady {
  display: none;
}
.TipKnown {
  background-image: url('../../Images/keys.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.TipProjector {
  background-image: url('../../Images/SlideProjector.gif');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.TipIcon {
  display: none;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkluZGV4LmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdBLEdBQUcsY0FDRCxRQUFPLFFBQVM7RUFDZCxpQkFBQTtFQUNBLG1CQUFBOztBQUhKLEdBQUcsY0FNRCxRQUFPLFNBQVU7RUFDZixxQkFBQTtFQUNBLGVBQUE7O0FBRUEsR0FWRCxjQU1ELFFBQU8sU0FBVSxFQUlkLE1BQU87RUFFTixjQUFBOztBQVpOLEdBQUcsY0FNRCxRQUFPLFNBQVUsRUFTZjtFQUNFLDZCQUFBOztBQUdGLEdBbkJELGNBTUQsUUFBTyxTQUFVLEVBYWQsTUFBTSxTQUFVO0VBQ2Ysc0JBQUE7O0FBR0YsR0F2QkQsY0FNRCxRQUFPLFNBQVUsRUFpQmQsTUFBTSxZQUFhO0VBQ2xCLHNCQUFBOztBQUdGLEdBM0JELGNBTUQsUUFBTyxTQUFVLEVBcUJkLE9BQVE7RUFDUCx5QkFBQTs7QUE1Qk4sR0FBRyxjQWdDRCxPQUFNLE1BQU87RUFDWCxZQUFBO0VBQ0EsY0FBQTtFQUNBLHFCQUFBOztBQW5DSixHQUFHLGNBc0NELE9BQU0sTUFBTyxFQUFDO0VBQ1osMEJBQUE7O0FBdkNKLEdBQUcsY0EwQ0QsUUFBTyxLQUFNO0FBMUNmLEdBQUcsY0EwQ2dCLFFBQU87RUFDdEIsV0FBQTs7QUEzQ0osR0FBRyxjQThDRCxRQUFPO0VBQ0wsa0JBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0EsaUJBQUE7O0FBRUEsR0FwREQsY0E4Q0QsUUFBTyxTQU1KO0VBQ0MsY0FBQTs7QUFERixHQXBERCxjQThDRCxRQUFPLFNBTUosV0FHQztFQUNFLGNBQUE7O0FBSUosR0E1REQsY0E4Q0QsUUFBTyxTQWNKO0VBQ0MsY0FBQTs7QUFERixHQTVERCxjQThDRCxRQUFPLFNBY0osV0FHQztFQUNFLGNBQUE7O0FBSUosR0FwRUQsY0E4Q0QsUUFBTyxTQXNCSjtFQUNDLGNBQUE7O0FBREYsR0FwRUQsY0E4Q0QsUUFBTyxTQXNCSixTQUdDO0VBQ0UsY0FBQTs7QUF4RVIsR0FBRyxjQTZFRDtFQUNFLHdCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7O0FBakZKLEdBQUcsY0FvRkQsV0FDRTtFQUNFLHFCQUFBOztBQXRGTixHQUFHLGNBK0ZELFlBQ0U7RUFDRSxxQkFBQTs7QUFqR04sR0FBRyxjQThHRCxhQUFhO0VBQ1gsV0FBQTs7QUEvR0osR0FBRyxjQWtIRCxhQUFhLFFBQU87RUFDbEIsc0JBQUE7RUFDQSxZQUFBO0VBQ0EsNEJBQUE7RUFDQSxzQkFBQTs7QUF0SEosR0FBRyxjQXlIRCxRQUFPLFNBQVU7RUFDZixjQUFBOztBQTFISixHQUFHLGNBNkhELGFBQWE7RUFDWCxhQUFBOztBQTlISixHQUFHLGNBaUlEO0VBQ0UsZ0JBQUE7O0FBSUosSUFBSSxRQUNGO0VBQ0UsYUFBQTs7QUFLSjtFQUNFLHNCQUFzQix3QkFBdEI7RUFDQSw0QkFBQTtFQUNBLHFCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7O0FBR0Y7RUFDRSxzQkFBc0Isa0NBQXRCO0VBQ0EsNEJBQUE7RUFDQSxxQkFBQTtFQUNBLFdBQUE7RUFDQSxZQUFBOztBQUdGO0VBQ0UsYUFBQSJ9 */