section.features
{
  cursor: pointer;
}
section.features a {
  text-decoration: none;
}
section.features a section {
  border: 2px solid transparent;
}
section.features a:hover section {
  border: 2px solid #ddd;
}

section.features a:active section {
  border: 2px solid #8dc63e;
}

hgroup.title a 
{
  float: right;
  color: #013d7a;
  text-decoration: none;
}
hgroup.title a:hover {
  text-decoration: underline;
}
section.todo h3,
section.todo
 {
    color: #ccc;
}