@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model BallotSingleModel
@{
    ViewBag.Title = "Ballots";
    ViewBag.Message = "Tally the votes for a single position";

    ContextItems.AddJavascriptForPage("pageUrl", "ballotPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("peopleUrl", "ballotPage.peopleUrl={0};".FilledWith(@Url.Action("Index", "People").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("initial", "ballotPage.initialVotes={0};".FilledWith(Model.CurrentVotesJson()));
    TemplateLoader.RequireTemplates(TemplateLoader.File.SingleVoteLine);
}
<script src="@ClientFile("~/Scripts/PeopleHelper.js")" type="text/javascript"></script>
<div class="float-left">
    <h3>
        Single Vote Election</h3>
    <input id="txtSearch" autocomplete="off"><span id="action"></span> <span id="more"></span>
    <ul id="nameList">
    </ul>
</div>
<div id="votesPanel" class="float-left">
  Names of People Receiving Votes
  <div id="votesList"></div>
</div>
