.div1
{
    width: 400px;
}

.tabs
{
    min-height: 300px;
}

.nameList
{
    margin: 0 0 10px 0;
    height: 400px;
    width: 350px;
    border: solid 1px #999;
    padding: 4px;
    font-size: 110%;
    line-height: 1.5;
    overflow: auto;
    position: relative;
}
.nameList u
{
    text-decoration: none;
}
.nameList li
{
    border: 1px solid transparent;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.nameList li:hover
{
    border-color: #ddd;
}
.nameList li.selected
{
    background-color: #c1f1b4;
    border-color: #999;
}
.nameList .InvalidName
{
    text-decoration: line-through;
}
.nameList .Fuzzy
{
    font-style: italic;
}
.nameList .First
{
    padding: 3px 0 3px 0;
    border-top: 3px double #ccc;
    width: 100%;
    display: block;
}

.ballotList
{
    overflow: auto;
    padding: 2px;
    height: 250px;
}
.ballotList div
{
    border: 1px solid transparent;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ballotList div span
{
    color: #666;
}
.ballotList div:hover
{
    border-color: #ddd;
}
.ballotList div.selected
{
    background-color: #c1f1b4;
    border-color: #999;
}



.action
{
    font-size: 11px;
    min-width: 100px;
    display: block;
}
.actionHolder
{
    margin-top: -5px;
    margin-bottom: 5px;
}

.tip1
{
    color: #aaa;
    font-size: 10px;
    display: inline-block;
}
span.ZZdelaying
{
    background-color: #f8f541;
}
span.ZZsearching
{
    background-color: #f1c1b4;
}
input.ZZdelaying
{
    background-color: #fffebf;
}
input.ZZsearching
{
    background-color: #ffe8e2;
}
.votesPanel
{
    margin-left: 15px;
    float: left;
    width: 530px;
}
.ui-icon-arrow-2-n-s
{
    display: inline-block;
    margin-left: 15px;
    cursor: ns-resize;
    visibility: hidden;
}
.ui-icon-trash
{
    display: inline-block;
    margin-left: 7px;
    cursor: pointer;
    visibility: hidden;
}
.InvalidName
{
    text-decoration: line-through;
}
span.Vote
{
    width: 60px;
    display: inline-block;
    text-align: right;
    margin-right: 9px;
}
input.Vote
{
    width: 60px;
    margin-right: 5px;
    text-align: right;
}
.titleDiv
{
    font-weight: bold;
    font-size: 12pt;
    border-bottom: 1px solid #ccc;
    padding-right: 4px;
}
.titleDiv div
{
    margin: -7px 0 0 0;
}
button.smallButton
{
    font-size: 12px;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
}
.Valid .Invalid
{
    display: none;
}
.InvalidP .InvalidCustom, .InvalidC .InvalidPerson
{
    display: none;
}
.InvalidP div.InvalidPerson
{
    color: #e80c4d;
    margin: -6px 0 0 117px;
}

select.Invalid
{
    vertical-align: top;
    color: #e80c4d;
}
.VoteHost:hover .ui-icon
{
    visibility: visible;
}

.VoteHost span.Name
{
    display: none;
    font-size: 16pt;
    padding: 0 9px 0 0;
}
.VoteHost.InvalidP span.Name
{
    display: inline;
    font-size: 1em;
    text-decoration: line-through;
}
.VoteHost.Valid span.Name
{
    display: inline;
}
.InvalidBallot, .Ineligible, span.Invalid
{
    color: #e80c4d;
    font-weight: bold;
    margin-left: 22px;
}
.Ok
{
    color: #0ce84d;
}
.Confirmed
{
    font-weight: bold;
}
.NotConfirmed
{
    opacity: .5;
}

.txtContact
{
    width: 260px;
}
div.heading
{
    font-weight: bold;
    margin: 0 0 4px 0;
}
.ui-widget
{
    font-size: .85em;
}
.ui-helper-reset
{
    font-size: 12px;
}

.ChangedMessage
{
    display: none;
}
.Changedtrue .ChangedMessage
{
    display: block;
    color: #e80c4d;
    margin-left: 70px;
    padding-bottom: 5px;
}
.Changedtrue
{
    border: 1px solid red;
    background-color: #ffcccc;
}
.txtNumCollected
{
    width: 40px;
    text-align: right;
    margin-right: 5px;
}
.lblNumEntered
{
}
.countsBad, .countsGood, .countsNeutral
{
    margin: 4px 0 3px 0;
}
.countsBad
{
    color: red;
}
.countsGood
{
    color: green;
}
#votesList
{
    padding-top: 5px;
    margin-bottom: 20px;
}
.VoteNum
{
    display: inline-block;
    width: 20px;
    text-align: right;
    margin-right: 12px;
    font-size: 80%;
    color: #aaa;
}
.InUse
{
    color: #f6941e; 
}
.titleDiv .ballotStatus
{
    padding-right: 20px;
    vertical-align: top;
    font-size: 16pt;
}
.titleDiv .ballotCode
{
    padding-left: 3px;
    font-size: 16pt;
}
.duplicateVote .Name {
    color: #e80c4d;
}
.duplicateVote .Duplicate
{
    color: #e80c4d;
    margin-right: 2px;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    margin-left: 25px;
}

.VoteHost
{
    background-color: #eeffd6;
    line-height: 1.5;
}
.ExtraVote
{
    border-top: 1px solid black;
    margin-top: 5px;
}
.ExtraVote, .ExtraVotes
{
    background-color: #ffe3c2;
    line-height: 1.2;
}
.ballotList li:hover
{
    background-color: #cfc;
}
#tabBallots
{
    background-color: #efeeef;
}
#btnRefreshBallotList
{
    margin: 14px 0 -3px 0;
}
#btnAddMissing
{
    float: right;
}
.review {
    text-align: center;
}
#addMissingPanel {
    display: none;   
}
h5 {
    margin-top: 1em;
}
span.HideZero,
span.HideZero0 {
    display: none;
}
.SpoiledCount {
    display: inline-block;
    margin-left: 15px;
}