@import "../../Content/bootstrap/css/variables.less";

@invalidColor: #e00000;

body {
  overflow-y: scroll; //avoid jitter
}

#body {
  &.saving {
    #tabNameSearch {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.PullInstructionsHandle {
  position: absolute;
  top: 2px;
  right: 0;
  margin: 0;
}

.PullInstructions {
  margin: 9px 0 -5px 0;
}

.FrontDeskUpdated {
  display: none;
  margin: 3em 1em 1em;
  color: darkred;

  button {
    color: black;
    display: block;
  }
}

section.content-wrapper {
  padding: 30px 0 0;
}

.Panels {
  display: flex;
  margin: 15px 0 0 0;
}

#votesPanel, .sidePanel {
  display: none;
}

.sidePanel {
  width: 330px;
  flex: 0 0 auto;
}

tr.overrides {
  td {
    white-space: nowrap;
  }
}

/* overrides to fix UI */
.ui-tabs-panel {
  padding: 3px 2px 5px 5px;
}

.ui-tabs-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-tabs-nav li {
  display: inline-block;
  padding: 0 6px 0 6px;
}

.nameList {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  li {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 2px 0 5px;
    color: #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    span {
      position: absolute;
      top: 0;
      right: 3px;
      left: 3px;

      &.ShowVote {
        top: 0;
        height: 4px;
        left: 0;
        //background-color: rgba(112, 184, 255, 0.25);
        background-image: linear-gradient(to right, rgb(214, 234, 255) 0%, rgb(214, 234, 255) 97%, rgba(0, 0, 0, 0) 100%)
      }
    }


    &.selected {
      background-color: #c1f1b4;
    }
    //&.HasVotes {
    //  background-image: linear-gradient(to right, @tallyJGreen 0%, rgba(0,0,0,0) 3%);
    //}
    i {
      // sound match
      border-bottom: 1px #666 dashed;
    }

    &.Match4 {
      //color: darken(@tallyJGreen, 20%);
      color: @tallyJGreenText;
      font-style: italic;

      i {
        // sound match
        border-bottom: 1px #666 dashed;
        font-style: normal;
      }
    }
  }

  li.Match5Only + li.Match4 {
    padding-top: 2px;
    border-top: 3px double @tallyJGreen;
  }

  .CannotReceiveVotes {
    text-decoration: line-through;
  }
}

#nameList {
  overflow: auto;
  height: 300px;
  border: solid 1px #999;


  u {
    text-decoration: none;
    float: right;
  }

  li {
    cursor: pointer;

    &:hover {
      background-color: rgba(204, 255, 190, 0.5);
      //border-color: #ddd;
    }

    i {
      // sound match
      border-bottom: 1px #666 dashed;
    }

    .First {
      padding-top: 2px;
      border-top: 3px double #ccc;
      width: 100%;
      display: block;
    }
  }
}

.nameListKey {
  display: none;

  h5 {
    margin: 15px 0 3px;
    font-style: italic;
  }

  ul {
    border: solid 1px #999;
    background-color: #f7f7f7;
  }
}

.ballotList {
  overflow: auto;
  max-height: ~"calc(100vh * 0.3)";
  min-height: 150px;
  border: solid 1px #999;
  clear: both;
  margin: 14px 0 0;

  li:hover {
    background-color: #cfc;
  }

  div {
    border: 1px solid transparent;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 2px 3px;
  }

  div span {
    //color: #0066cc;
    color: black;
  }

  div:hover {
    background-color: #ddffcf;
    background-color: rgba(204, 255, 190, 0.5);
    border-color: #ddd;
  }

  div.selected {
    background-color: #c1f1b4;
    border-color: #999;
  }
}


.action {
  font-size: 11px;
  min-width: 100px;
  display: block;
  margin-left: 3px;
}

.actionHolder {
  margin-top: -5px;
  margin-bottom: 5px;
}

.tip1 {
  color: #6f6f6f;
  font-size: 10px;
  display: inline-block;
}

span.ZZdelaying {
  background-color: #f8f541;
}

span.ZZsearching {
  background-color: #f1c1b4;
}

input.ZZdelaying {
  background-color: #fffebf;
}

input.ZZsearching {
  background-color: #ffe8e2;
}

.votesPanel {
  margin-left: 15px;
  flex: 1 1 auto;
  //float: left;
  //width: 530px;
  &.online {
    .icons {
      display: none;
    }
  }
}

.ui-icon-arrow-2-n-s {
  display: inline-block;
  margin-left: 15px;
  cursor: ns-resize;
  visibility: hidden;
}

.ui-icon-trash {
  display: inline-block;
  margin-left: 7px;
  cursor: pointer;
  visibility: hidden;
}

.CannotReceiveVotes {
  text-decoration: line-through;
}

.NotBold {
  font-weight: normal
}

span.Vote {
  width: 60px;
  display: inline-block;
  text-align: right;
  margin-right: 9px;
}

input.Vote {
  width: 60px;
  margin-right: 5px;
  text-align: right;
}

.ballotStatus {
  text-align: right;
  padding: 7px 0 4px 0;
  font-weight: bold;
  font-size: 16pt;
}

.titleDiv {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1px 0;
  font-weight: bold;
  font-size: 12pt;

  .VoteNum {
    margin-top: 2px;
  }

  .ballotCode {
    padding-left: 3px;
    font-size: 16pt;
    color: @tallyJGreenText;
  }

  div {
    margin: -3px 0 0 0;
  }
}

button.smallButton {
  font-size: 12px;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.Valid .Invalid,
.Valid .Duplicate {
  display: none;
}

.InvalidP .InvalidCustom, .InvalidC .InvalidPerson {
  display: none;
}

.InvalidP div.InvalidPerson {
  color: @invalidColor;
  padding: 4px 0 5px 38px;
}

select.Invalid {
  vertical-align: top;
  color: @invalidColor;
}


.InvalidBallot, .Ineligible, span.Invalid {
  color: @invalidColor;
  font-weight: bold;
}

.Ok {
  color: @tallyJGreenText;
}

.Confirmed {
  font-weight: bold;
}

.NotConfirmed {
  opacity: .5;
}

.txtContact {
  width: 260px;
}

div.heading {
  font-weight: bold;
  margin: 0 0 4px 0;
}

.ui-widget {
  font-size: .85em;
}

.ui-helper-reset {
  font-size: 12px;
}

.ChangedMessage {
  display: none;
}

.Changedtrue {
  border: 1px solid red;
  background-color: #ffcccc;

  .ChangedMessage {
    display: block;
    color: @invalidColor;
    margin-left: 32px;
    padding-bottom: 5px;
  }
}

.txtNumCollected {
  width: 50px;
  text-align: right;
  margin-right: 5px;
}

.lblNumEntered {
}

.countsBad, .countsGood, .countsNeutral {
  margin: 4px 0 3px 0;
}

.countsBad {
  color: red;
}

.countsGood {
  color: green;
}


@media screen and (min-height: 900px) {
  #votesList {
    max-height: 9999px;
  }
}

.VoteNum {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 12px;
  font-size: 80%;
  flex-shrink: 0;
  color: #999;
  vertical-align: top;
  margin-top: 8px;
}

.InUse {
  color: #966868;

  &::before {
    content: "✔ ";
  }
}



.duplicateVote {
  .Name {
    color: @invalidColor;
  }

  .Duplicate {
    color: @invalidColor;
    margin-right: 2px;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
  }
}

.showAll {
  display: none;
  float: right;
  margin: -17px -2px 0 0;
  font-size: 10px;
  color: #777;

  label {
    font-size: 10px;
    line-height: normal;
  }
}

.BallotGuid {
  font-weight: normal;
  font-size: 90%;
  margin: 0 1em;
}

#votesPanel {
  &.showAllVotes {
    #votesList {
      max-height: none;
    }
  }

  &.empty {
    #btnNewBallot {
      display: none;
    }
  }
}

.rawVote {
  display: none;
}

body.IsPhysical {
  .onlyVirtualLocation {
    display: none;
  }

  .NewBallotBtns {
    display: inline-block;
  }
}


body.IsVirtual {
  .NewBallotBtns, #btnAddToThis {
    display: none !important;
  }

  .onlyPhysicalLocation {
    display: none;
  }

  .LocationStatusH3, .locationInfo {
    display: none;
  }

  #votesList .VoteHost {
    &.withRawfalse {
      border-color: transparent;
      background: none;
    }
  }
}

body.HasOfflineLocations {
  .ForLocations {
    display: none;
  }
}

.btnTakeFirstMatch {
  display: none;
}

#votesList {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 5px;
  max-height: calc(100vh - 350px);
  overflow-y: auto;

  .VoteHost {
    width: 100%;
    margin: 2px 0;
    min-height: 1.4em;
    background-color: #f1ffde;
    box-sizing: border-box;
    border: 2px solid #f1ffde;

    span.Name {
      display: none;
      font-size: 14pt;
      padding: 0 9px 0 0;
      text-indent: -20px;
      margin-left: 20px;

      u {
        font-size: 11pt;
        text-decoration: none;
        color: #333;
        float: right;
      }
    }

    &.InvalidP span.Name {
      display: inline;
      margin-left: 3px;
      text-indent: 0;
      font-size: 11pt;
      text-decoration: line-through;
    }

    &.Valid span.Name {
      display: block;

      .u {
        float: right;
      }
    }

    .ui-icon {
      visibility: visible;
      margin: 2px 10px 0px 5px;
      z-index: 1;
    }

    .Top {
      display: flex;
      align-items: flex-start;
      min-height: 26px;
    }

    .NameInfo {
      flex: 2 1 auto;
      white-space: normal;
      display: inline-block;
      padding: 4px 0 0 5px;
    }

    .icons {
      flex: 0 0 auto;
    }

    .btnFind {
      // visibility: hidden;
    }

    &.withRawtrue {
      margin: 8px 0;
      border-color: #f1ffde;

      &.hasBothtrue {
        .btnFind {
          visibility: visible;
        }
      }

      option[value="cd27534d-d7e8-e011-a095-002269c41d11"] {
        display: none;
      }

      .Name {
        margin-right: 5px;
      }

      .Vote {
        display: none;
      }

      .rawVote {
        display: flex;
        align-items: center;
        border: 1px solid #efeeef;
        background-color: #e6e6e6;
        border-top: none;
        border-right: none;
        padding: 4px 8px 4px 0px;
        margin: 2px;
        opacity: 0.7;

        .btnFind {
        }

        > span {
          padding: 0 10px 0 8px;
          flex-shrink: 0;

          span {
            display: inline-block;
          }
        }

        .names {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          > span {
            cursor: zoom-in;
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 3px;
            padding: 1px 3px;

            &:hover {
              border: 1px solid #aaa;
            }

            button {
              margin-right: 5px;
            }
          }

          button {
            margin: 0 2px 0 0;
            vertical-align: text-top;
          }
        }

        .other {
          width: 50%;

          > span {
            border: 1px solid transparent;
            border-radius: 3px;
            padding: 1px 3px;
            cursor: zoom-in;

            &:hover {
              border: 1px solid #aaa;
            }
          }
        }


        .btnFindPart {
          line-height: 120%;
          padding: 2px 6px;
          font-size: 11px;
          border-radius: 3px;
        }
      }
    }

    .showfalse {
      display: none;
    }

    &.rawTarget {
      border-color: #3da81f; // darker

      .rawVote {
        opacity: 1;
        background-color: #e4f2d2;

        button {
          opacity: 1;
        }
      }

      &.canTakeFirstMatch.rawDonefalse {
        .btnTakeFirstMatch {
          display: block;
          margin: 0 0 3px 120px;
        }
      }
    }

    &.rawDonefalse {
      background-color: #f1b787;

      .rawVote {
        background-color: #f1b787;
        opacity: 1;
      }

      &.rawTarget {
        background-color: #ffcca2;

        .rawVote {
          background-color: #ffcca2;
        }
      }
    }

    &.rawDonetrue {
      background-color: #f1ffde;
    }


    &.pending {
      .VoteNum {
        margin-top: 4px;
        min-height: 15px;
        background-image: url(../../images/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position-x: 100%;
      }
    }
  }

  .ExtraVote {
    border-top: 1px solid black;
    margin-top: 5px;
  }

  .ExtraVote, .ExtraVotes {
    background-color: #ffe3c2;
    line-height: 1.2;
  }
}

.ballotList li:hover {
  background-color: #cfc;
}

#btnRefreshBallotList {
  margin: -5px 0 3px 3px;
}

#btnAddMissing {
  float: right;
}

.review {
  margin-top: 1em;
}

#addMissingPanel {
  display: none;

  > h3 {
    display: inline-block;
  }

  #btnCancelAddMissing {
    display: inline-block;
    margin-left: 20px;
  }
}

h5 {
  margin-top: 0;
}

span.HideZero,
span.HideZero0 {
  display: none;
}

.SpoiledCount {
  display: inline-block;
  margin-left: 15px;
}

#ddlLocationStatus {
  margin: 0 0 10px 5px;
}

.ui-accordion-header {
  line-height: 110%;
  font-weight: bold;
  font-size: 12pt;
  padding: 4px 4px 4px 4px;
  margin: 3px 0 0 0;
  cursor: pointer;
}

.ui-accordion-content {
  border-top: none;
  padding: 10px 6px 10px 6px;
}

.ballotDiv1 {
  margin: 2px 0 5px 0;
}

#ballotFilter {
  margin: 3px 0 0 10px;
  font-size: 80%;
}

#keyTimeShow {
  width: 3px;
  height: 0px;
  top: 1px;
  background-color: #0ce84d;
  display: inline-block;
  position: absolute;
}

#keyTimeShow.searching {
  background-color: red;
}

#txtSearch {
  margin-left: 5px;
}

#searchInput {
  position: relative;
}


@media only screen and (max-width: 600px) {
  .Panels {
    display: block;
  }

  #votesList {
    //width: 400px;
  }

  #votesPanel {
    //width: 400px;
  }

  .NameInfo {
    //width: 270px;
  }
}
