.PullInstructionsHandle {
  position: absolute;
  top: 2px;
  right: 10px;
  margin: 0;
}
.PullInstructions {
  margin: 9px 0 -5px 0;
}
.main-content {
  padding: 30px 15px 0;
}
.Panels {
  display: flex;
  margin: 15px 0 0 0;
}
#votesPanel,
.sidePanel {
  display: none;
}
.sidePanel {
  width: 330px;
  flex: 0 0 auto;
}
tr.overrides td {
  white-space: nowrap;
}
/* overrides to fix UI */
.ui-tabs-panel {
  padding: 3px 2px 5px 5px;
}
.ui-tabs-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-tabs-nav li {
  display: inline-block;
  padding: 0 6px 0 6px;
}
.nameList {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px #999;
  line-height: 1.5;
  overflow: auto;
}
.nameList u {
  text-decoration: none;
}
.nameList li {
  border-bottom: 1px solid #f0f0f0;
  padding: 0 2px 0 5px;
  color: #000;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
}
.nameList li span {
  position: absolute;
  top: 0;
}
.nameList li span.ShowVote {
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(112, 184, 255, 0.4) 0%, rgba(112, 184, 255, 0.3) 75%, rgba(0, 0, 0, 0) 100%);
}
.nameList li:hover {
  background-color: rgba(204, 255, 190, 0.5);
}
.nameList li.selected {
  background-color: #c1f1b4;
}
.nameList li i {
  border-bottom: 1px #666 dashed;
}
.nameList li.Match1 {
  color: #101c00;
  font-style: italic;
}
.nameList li.Match1 i {
  border-bottom: 1px #666 dashed;
  font-style: normal;
}
.nameList li.Match1.HasVotes {
  background-image: linear-gradient(to right, #4b8200 0%, rgba(0, 0, 0, 0) 3%), linear-gradient(45deg, #af5f00 0%, rgba(0, 0, 0, 0) 5%);
}
.nameList li.HasVotes + li.NoVotes {
  padding-top: 2px;
  border-top: 3px double #ccc;
}
.nameList li.Match2Only + li.Match1 {
  padding-top: 2px;
  border-top: 3px double #4b8200;
}
.nameList .CannotReceiveVotes {
  text-decoration: line-through;
}
.nameList .First {
  padding-top: 2px;
  border-top: 3px double #ccc;
  width: 100%;
  display: block;
}
.ballotList {
  overflow: auto;
  padding: 5px 0px 0px 0px;
  max-height: calc(100vh - 400px);
  min-height: 150px;
}
.ballotList div {
  border: 1px solid transparent;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.ballotList div span {
  color: #666;
}
.ballotList div:hover {
  background-color: #ddffcf;
  background-color: rgba(204, 255, 190, 0.5);
  border-color: #ddd;
}
.ballotList div.selected {
  background-color: #c1f1b4;
  border-color: #999;
}
.action {
  font-size: 11px;
  min-width: 100px;
  display: block;
  margin-left: 3px;
}
.actionHolder {
  margin-top: -5px;
  margin-bottom: 5px;
}
.tip1 {
  color: #6f6f6f;
  font-size: 10px;
  display: inline-block;
}
span.ZZdelaying {
  background-color: #f8f541;
}
span.ZZsearching {
  background-color: #f1c1b4;
}
input.ZZdelaying {
  background-color: #fffebf;
}
input.ZZsearching {
  background-color: #ffe8e2;
}
.votesPanel {
  margin-left: 15px;
  flex: 1 1 auto;
}
.ui-icon-arrow-2-n-s {
  display: inline-block;
  margin-left: 15px;
  cursor: ns-resize;
  visibility: hidden;
}
.ui-icon-trash {
  display: inline-block;
  margin-left: 7px;
  cursor: pointer;
  visibility: hidden;
}
.CannotReceiveVotes {
  text-decoration: line-through;
}
span.Vote {
  width: 60px;
  display: inline-block;
  text-align: right;
  margin-right: 9px;
}
input.Vote {
  width: 60px;
  margin-right: 5px;
  text-align: right;
}
.ballotStatus {
  text-align: right;
  padding: 7px 0 4px 0;
  font-weight: bold;
  font-size: 16pt;
}
.titleDiv {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1px 0;
  font-weight: bold;
  font-size: 12pt;
}
.titleDiv .ballotCode {
  padding-left: 3px;
  font-size: 16pt;
  color: #4b8200;
}
.titleDiv div {
  margin: -3px 0 0 0;
}
button.smallButton {
  font-size: 12px;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.Valid .Invalid,
.Valid .Duplicate {
  display: none;
}
.InvalidP .InvalidCustom,
.InvalidC .InvalidPerson {
  display: none;
}
.InvalidP div.InvalidPerson {
  color: #e00000;
  padding: 0 0 6px 33px;
}
select.Invalid {
  vertical-align: top;
  color: #e00000;
}
.InvalidBallot,
.Ineligible,
span.Invalid {
  color: #e00000;
  font-weight: bold;
}
.Ok {
  color: #4b8200;
}
.Confirmed {
  font-weight: bold;
}
.NotConfirmed {
  opacity: .5;
}
.txtContact {
  width: 260px;
}
div.heading {
  font-weight: bold;
  margin: 0 0 4px 0;
}
.ui-widget {
  font-size: .85em;
}
.ui-helper-reset {
  font-size: 12px;
}
.ChangedMessage {
  display: none;
}
.Changedtrue {
  border: 1px solid red;
  background-color: #ffcccc;
}
.Changedtrue .ChangedMessage {
  display: block;
  color: #e00000;
  margin-left: 32px;
  padding-bottom: 5px;
}
.txtNumCollected {
  width: 40px;
  text-align: right;
  margin-right: 5px;
}
.countsBad,
.countsGood,
.countsNeutral {
  margin: 4px 0 3px 0;
}
.countsBad {
  color: red;
}
.countsGood {
  color: green;
}
@media screen and (min-height: 900px) {
  #votesList {
    max-height: 9999px;
  }
}
.VoteNum {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 12px;
  font-size: 80%;
  color: #999;
  vertical-align: top;
  margin-top: 3px;
}
.InUse {
  color: #966868;
}
.InUse::before {
  content: "✔ ";
}
.duplicateVote .Name {
  color: #e00000;
}
.duplicateVote .Duplicate {
  color: #e00000;
  margin-right: 2px;
  font-weight: bold;
  display: inline-block;
  font-size: 1em;
}
.showAll {
  display: none;
  float: right;
  margin: -17px -2px 0 0;
  font-size: 10px;
  color: #777;
}
.showAll label {
  font-size: 10px;
  line-height: normal;
}
#votesPanel.showAllVotes #votesList {
  max-height: none;
}
#votesList {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 5px;
  max-height: 50vh;
  overflow-y: auto;
}
#votesList .VoteHost {
  width: 100%;
  margin: 2px 0;
  min-height: 1.4em;
  background-color: #f1ffde;
}
#votesList .VoteHost span.Name {
  display: none;
  font-size: 14pt;
  padding: 0 9px 0 0;
  text-indent: -20px;
  margin-left: 20px;
}
#votesList .VoteHost.InvalidP span.Name {
  display: inline;
  margin-left: 3px;
  text-indent: 0;
  font-size: 1em;
  text-decoration: line-through;
}
#votesList .VoteHost.Valid span.Name {
  display: inline-block;
}
#votesList .VoteHost .ui-icon {
  visibility: visible;
  margin: 2px 10px 0px 5px;
  z-index: 1;
}
#votesList .VoteHost .Top {
  display: flex;
  align-items: baseline;
}
#votesList .VoteHost .NameInfo {
  flex: 2 1 auto;
  white-space: normal;
  display: inline-block;
}
#votesList .VoteHost .icons {
  flex: 0 0 auto;
}
.ExtraVote {
  border-top: 1px solid black;
  margin-top: 5px;
}
.ExtraVote,
.ExtraVotes {
  background-color: #ffe3c2;
  line-height: 1.2;
}
.ballotList li:hover {
  background-color: #cfc;
}
#btnAddMissing {
  float: right;
}
.review {
  margin-top: 1em;
}
#addMissingPanel {
  display: none;
}
#addMissingPanel > h3 {
  display: inline-block;
}
#addMissingPanel #btnCancelAddMissing {
  display: inline-block;
  margin-left: 20px;
}
h5 {
  margin-top: 0;
}
span.HideZero,
span.HideZero0 {
  display: none;
}
.SpoiledCount {
  display: inline-block;
  margin-left: 15px;
}
#ddlLocationStatus {
  margin: 0 0 10px 5px;
}
.ui-accordion-header {
  line-height: 110%;
  font-weight: bold;
  font-size: 12pt;
  padding: 4px 4px 4px 4px;
  margin: 3px 0 0 0;
  cursor: pointer;
}
.ui-accordion-content {
  border-top: none;
  padding: 10px 6px 2px 6px;
}
.ballotDiv1 {
  margin: 2px 0 5px 0;
}
#ballotFilter {
  margin-top: 3px;
  font-size: 80%;
}
#keyTimeShow {
  width: 3px;
  height: 0px;
  top: 1px;
  background-color: #0ce84d;
  display: inline-block;
  position: absolute;
}
#keyTimeShow.searching {
  background-color: red;
}
#txtSearch {
  margin-left: 5px;
}
#searchInput {
  position: relative;
}
@media only screen and (max-width: 600px) {
  .Panels {
    display: block;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkJhbGxvdE5vcm1hbC5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFJQTtFQUNFLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFdBQUE7RUFDQSxTQUFBOztBQUdGO0VBQ0Usb0JBQUE7O0FBR0Y7RUFDRSxvQkFBQTs7QUFHRjtFQUNFLGFBQUE7RUFDQSxrQkFBQTs7QUFHRjtBQUFhO0VBQ1gsYUFBQTs7QUFHRjtFQUNFLFlBQUE7RUFDQSxjQUFBOztBQUdGLEVBQUUsVUFDQTtFQUNFLG1CQUFBOzs7QUFLSjtFQUNFLHdCQUFBOztBQUdGO0VBQ0UsZ0JBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLDZCQUFBO0VBQ0EsNEJBQUE7O0FBR0YsWUFBYTtFQUNYLHFCQUFBO0VBQ0Esb0JBQUE7O0FBR0Y7RUFDRSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxXQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxzQkFBQTtFQUNBLHNCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBOztBQVRGLFNBV0U7RUFDRSxxQkFBQTs7QUFaSixTQWVFO0VBQ0UsZ0NBQUE7RUFDQSxvQkFBQTtFQUNBLFdBQUE7RUFDQSxlQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkFBQTtFQUNBLGtCQUFBOztBQXRCSixTQWVFLEdBU0U7RUFDRSxrQkFBQTtFQUNBLE1BQUE7O0FBRUEsU0FiSixHQVNFLEtBSUc7RUFDQyxTQUFBO0VBQ0EsT0FBQTtFQUVBLGtCQUFrQiwyR0FBbEI7O0FBSUosU0FyQkYsR0FxQkc7RUFDQywwQ0FBQTs7QUFJRixTQTFCRixHQTBCRztFQUNDLHlCQUFBOztBQTFDTixTQWVFLEdBZ0NFO0VBRUUsOEJBQUE7O0FBR0YsU0FyQ0YsR0FxQ0c7RUFDQyxjQUFBO0VBQ0Esa0JBQUE7O0FBRkYsU0FyQ0YsR0FxQ0csT0FJQztFQUVFLDhCQUFBO0VBQ0Esa0JBQUE7O0FBR0YsU0EvQ0osR0FxQ0csT0FVRTtFQUNDLGtCQUFrQiw0REFBOEQsdURBQWhGOztBQS9EUixTQW9FRSxHQUFFLFNBQVUsS0FBSTtFQUNkLGdCQUFBO0VBQ0EsMkJBQUE7O0FBdEVKLFNBeUVFLEdBQUUsV0FBWSxLQUFJO0VBQ2hCLGdCQUFBO0VBQ0EsOEJBQUE7O0FBM0VKLFNBOEVFO0VBQ0UsNkJBQUE7O0FBL0VKLFNBa0ZFO0VBQ0UsZ0JBQUE7RUFDQSwyQkFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBOztBQUlKO0VBQ0UsY0FBQTtFQUNBLHdCQUFBO0VBQ0EsK0JBQUE7RUFDQSxpQkFBQTs7QUFKRixXQU1FO0VBQ0UsNkJBQUE7RUFDQSxlQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkFBQTs7QUFWSixXQWFFLElBQUk7RUFDRixXQUFBOztBQWRKLFdBaUJFLElBQUc7RUFDRCx5QkFBQTtFQUNBLDBDQUFBO0VBQ0Esa0JBQUE7O0FBcEJKLFdBdUJFLElBQUc7RUFDRCx5QkFBQTtFQUNBLGtCQUFBOztBQUtKO0VBQ0UsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBOztBQUdGO0VBQ0UsZ0JBQUE7RUFDQSxrQkFBQTs7QUFHRjtFQUNFLGNBQUE7RUFDQSxlQUFBO0VBQ0EscUJBQUE7O0FBR0YsSUFBSTtFQUNGLHlCQUFBOztBQUdGLElBQUk7RUFDRix5QkFBQTs7QUFHRixLQUFLO0VBQ0gseUJBQUE7O0FBR0YsS0FBSztFQUNILHlCQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxjQUFBOztBQUtGO0VBQ0UscUJBQUE7RUFDQSxpQkFBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7O0FBR0Y7RUFDRSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBOztBQUdGO0VBQ0UsNkJBQUE7O0FBR0YsSUFBSTtFQUNGLFdBQUE7RUFDQSxxQkFBQTtFQUNBLGlCQUFBO0VBQ0EsaUJBQUE7O0FBR0YsS0FBSztFQUNILFdBQUE7RUFDQSxpQkFBQTtFQUNBLGlCQUFBOztBQUlGO0VBQ0UsaUJBQUE7RUFDQSxvQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTs7QUFHRjtFQUNFLDBCQUFBO0VBQ0EsNkJBQUE7RUFDQSxjQUFBO0VBQ0EsaUJBQUE7RUFDQSxlQUFBOztBQUxGLFNBT0U7RUFDRSxpQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBOztBQVZKLFNBYUU7RUFDRSxrQkFBQTs7QUFJSixNQUFNO0VBQ0osZUFBQTtFQUNBLGFBQWEsMENBQWI7O0FBR0YsTUFBTztBQUNQLE1BQU87RUFDTCxhQUFBOztBQUdGLFNBQVU7QUFBZ0IsU0FBVTtFQUNsQyxhQUFBOztBQUdGLFNBQVUsSUFBRztFQUNYLGNBQUE7RUFDQSxxQkFBQTs7QUFHRixNQUFNO0VBQ0osbUJBQUE7RUFDQSxjQUFBOztBQUlGO0FBQWdCO0FBQWEsSUFBSTtFQUMvQixjQUFBO0VBQ0EsaUJBQUE7O0FBR0Y7RUFDRSxjQUFBOztBQUdGO0VBQ0UsaUJBQUE7O0FBR0Y7RUFDRSxXQUFBOztBQUdGO0VBQ0UsWUFBQTs7QUFHRixHQUFHO0VBQ0QsaUJBQUE7RUFDQSxpQkFBQTs7QUFHRjtFQUNFLGdCQUFBOztBQUdGO0VBQ0UsZUFBQTs7QUFHRjtFQUNFLGFBQUE7O0FBR0Y7RUFDRSxxQkFBQTtFQUNBLHlCQUFBOztBQUZGLFlBSUU7RUFDRSxjQUFBO0VBQ0EsY0FBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7O0FBSUo7RUFDRSxXQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQkFBQTs7QUFNRjtBQUFZO0FBQWE7RUFDdkIsbUJBQUE7O0FBR0Y7RUFDRSxVQUFBOztBQUdGO0VBQ0UsWUFBQTs7QUFJRixtQkFBc0M7RUFDcEM7SUFDRSxrQkFBQTs7O0FBSUo7RUFDRSxxQkFBQTtFQUNBLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTtFQUNBLFdBQUE7RUFDQSxtQkFBQTtFQUNBLGVBQUE7O0FBR0Y7RUFDRSxjQUFBOztBQUVBLE1BQUM7RUFDQyxTQUFTLElBQVQ7O0FBS0osY0FDRTtFQUNFLGNBQUE7O0FBRkosY0FLRTtFQUNFLGNBQUE7RUFDQSxpQkFBQTtFQUNBLGlCQUFBO0VBQ0EscUJBQUE7RUFDQSxjQUFBOztBQUlKO0VBQ0UsYUFBQTtFQUNBLFlBQUE7RUFDQSxzQkFBQTtFQUNBLGVBQUE7RUFDQSxXQUFBOztBQUxGLFFBT0U7RUFDRSxlQUFBO0VBQ0EsbUJBQUE7O0FBSUosV0FBVyxhQUNUO0VBQ0UsZ0JBQUE7O0FBSUo7RUFDRSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxnQkFBQTs7QUFORixVQVFFO0VBQ0UsV0FBQTtFQUNBLGFBQUE7RUFDQSxpQkFBQTtFQUNBLHlCQUFBOztBQVpKLFVBUUUsVUFNRSxLQUFJO0VBQ0YsYUFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7O0FBR0YsVUFkRixVQWNHLFNBQVUsS0FBSTtFQUNiLGVBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7RUFDQSxjQUFBO0VBQ0EsNkJBQUE7O0FBR0YsVUF0QkYsVUFzQkcsTUFBTyxLQUFJO0VBQ1YscUJBQUE7O0FBL0JOLFVBUUUsVUEwQkU7RUFDRSxtQkFBQTtFQUNBLHdCQUFBO0VBQ0EsVUFBQTs7QUFyQ04sVUFRRSxVQWdDRTtFQUNFLGFBQUE7RUFDQSxxQkFBQTs7QUExQ04sVUFRRSxVQXFDRTtFQUNFLGNBQUE7RUFDQSxtQkFBQTtFQUNBLHFCQUFBOztBQWhETixVQVFFLFVBMkNFO0VBQ0UsY0FBQTs7QUFLTjtFQUNFLDJCQUFBO0VBQ0EsZUFBQTs7QUFHRjtBQUFZO0VBQ1YseUJBQUE7RUFDQSxnQkFBQTs7QUFHRixXQUFZLEdBQUU7RUFDWixzQkFBQTs7QUFNRjtFQUNFLFlBQUE7O0FBR0Y7RUFDRSxlQUFBOztBQUdGO0VBQ0UsYUFBQTs7QUFERixnQkFHRTtFQUNFLHFCQUFBOztBQUpKLGdCQU9FO0VBQ0UscUJBQUE7RUFDQSxpQkFBQTs7QUFJSjtFQUNFLGFBQUE7O0FBR0YsSUFBSTtBQUNKLElBQUk7RUFDRixhQUFBOztBQUdGO0VBQ0UscUJBQUE7RUFDQSxpQkFBQTs7QUFHRjtFQUNFLG9CQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxpQkFBQTtFQUNBLGVBQUE7RUFDQSx3QkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTs7QUFHRjtFQUNFLGdCQUFBO0VBQ0EseUJBQUE7O0FBR0Y7RUFDRSxtQkFBQTs7QUFHRjtFQUNFLGVBQUE7RUFDQSxjQUFBOztBQUdGO0VBQ0UsVUFBQTtFQUNBLFdBQUE7RUFDQSxRQUFBO0VBQ0EseUJBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBOztBQUdGLFlBQVk7RUFDVixxQkFBQTs7QUFHRjtFQUNFLGdCQUFBOztBQUdGO0VBQ0Usa0JBQUE7O0FBR0Ysd0JBQTBDO0VBQ3hDO0lBQ0UsY0FBQSIsImZpbGUiOiJ1bmRlZmluZWQifQ== */