.div1 {
    width: 340px;
}

#bnHolder {
    position: relative;
    height: 300px;
    width: 330px;
}


#nameList
{
    height: 200px;
    width: 300px;
    border: solid 1px #999;
    padding: 4px;
    font-size: 110%;
    line-height: 1.5;
    overflow: auto;
}
#nameList u
{
    text-decoration: none;
}
#nameList li
{
    border: 1px solid transparent;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#nameList li:hover
{
    border-color: #ddd;
}
#nameList li.selected
{
    background-color: #c1f1b4;
    border-color: #999;
}
#nameList i.First {
    border-top: 3px double #ccc;
    width: 100%;
    display: block;
}


#ballotList
{
    overflow: auto;
    padding: 2px;
}
#ballotList li
{
    border: 1px solid transparent;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#ballotList li:hover
{
    border-color: #ddd;
}
#ballotList li.selected
{
    background-color: #c1f1b4;
    border-color: #999;
}



#actionZZ
{
    width: 20px;
    height: 1em;
    display: inline-block;
}
span.delayingZZ
{
    background-color: #f8f541;
}
span.searchingZZ
{
    background-color: #f1c1b4;
}
input.delaying
{
    background-color: #fffebf;
}
input.searching
{
    background-color: #ffe8e2;
}
#votesPanel
{
    margin-left: 15px;
}
.ui-icon-trash
{
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.Inelligible
{
    text-decoration: line-through;
}
span.Vote
{
    width: 60px;
    display: inline-block;
    text-align: right;
    margin-right: 9px;
}
input.Vote
{
    width: 60px;
    margin-right: 5px;
    text-align: right;
}
.titleDiv
{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
#btnAddSpoiled {
    font-size: 90%;
    float: right;
}
.Valid .Invalid 
{
    display: none;
}
.VoteHost span.Name
{
    display: none;
}
.VoteHost.Valid span.Name {
    display: inline;
}
.Ineligible, span.Invalid {
    color: #e80c4d;
    font-weight: bold;
}

#txtContact 
{
    width: 300px;
}
#votesPanel {
    float: left;
    width: 605px;
}
table.locationInfo {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}
table.locationInfo th {
    vertical-align: top;
    padding-right: 20px;
    text-align: left;
}
table.locationInfo td {
    vertical-align: top;
}

.ui-widget {
    font-size: .85em;
}
.ui-helper-reset {
    font-size: 12px;
}
#votesList {
    max-height: 300px;
    overflow: auto;
}

.Changedfalse .ChangedMessage {
    display: none;
}
.Changedtrue .ChangedMessage {
    color: #e80c4d;
    margin-left: 70px;
    padding-bottom: 5px;
}
.Changedtrue {
    border: 1px solid red;
    background-color: #ffcccc;
}