@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model IBallotModel
@{
    ViewBag.Title = "Ballots";
    ViewBag.Message = "Tally the votes";

    ContextItems.AddJavascriptForPage("pageUrl", "ballotNormalPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("peopleUrl", "ballotNormalPage.peopleUrl={0};".FilledWith(@Url.Action("Index", "People").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("invalids", "ballotNormalPage.invalidReasons={0};".FilledWith(Model.InvalidReasonsJsonString()));
    ContextItems.AddJavascriptForPage("ballot", "ballotNormalPage.BallotInfo={0};".FilledWith(Model.CurrentBallotJsonString()));
    ContextItems.AddJavascriptForPage("location", "ballotNormalPage.Location={0};".FilledWith(new LocationModel().CurrentBallotLocationJsonString()));
    ContextItems.AddJavascriptForPage("ballotList", "ballotNormalPage.Ballots={0};".FilledWith(Model.CurrentBallotsInfoList().SerializedAsJsonString()));
    TemplateLoader.RequireTemplates(TemplateLoader.File.NormalVoteLine);

}
<script src="@ClientFile("~/Scripts/PeopleHelper.js")" type="text/javascript"></script>
<div class="float-left div1">
    <div id="tabs" class="tabs">
        <ul>
            <li><a href="#tabLocation">This Location</a> </li>
            <li><a href="#tabBallots">Ballots <span id="collectedVsEnteredTitle"></span></a>
            </li>
            <li><a href="#tabNameSearch">Ballot #<span class="ballotCode"></span></a></li>
        </ul>
        <div id="tabNameSearch">
            <div class="heading">
                Add names to this ballot.
            </div>
            <div>
                Find a <u>n</u>ame in the list by typing...</div>
            <input id="txtSearch" accesskey="N" tabindex="1" autocomplete="off">
            <button id="btnNewBallot" class="NewBallotBtns smallButton float-right" accesskey="B" tabindex="2" >
                Start New <u>B</u>allot</button>
            <div class="actionHolder">
                <div class="action">
                    <span id="action"></span><span id="more"></span>
                </div>
                <div class="tip1">
                    &uarr; &darr; Enter</div>
            </div>
            <ul id="nameList" class="nameList">
            </ul>
            <div class="Clear5">
            </div>
        </div>
        <div id="tabBallots" class="locationInfo">
            <div class="heading">
                Ballots at Location: <span data-name="Name"></span>
            </div>
            <button id="btnNewBallot2" class="NewBallotBtns smallButton float-right" accesskey="B">
                Start New <u>B</u>allot</button>
            <div>
                Received:
                <input id="txtNumCollected" type="number" data-name="BallotsCollected" class="txtNumCollected" />
                Entered: <span id="lblNumEntered" class="lblNumEntered"></span>
            </div>
            <ul id="ballotList" class="ballotList">
            </ul>
            <button type="button" id="btnRefreshBallotList" class="float-right">
                Refresh</button>
        </div>
        <div id="tabLocation" class="locationInfo">
            <div class="heading">
                Location Status
            </div>
            <div>
                <select id="ddlLocationStatus" data-name="TallyStatusCode" size="@LocationStatusEnum.Count">
                  @LocationStatusEnum.ForHtmlSelect(UserSession.CurrentLocation.TallyStatus)
                </select>
            </div>
            <div class="heading">
                Contact Info:
            </div>
            <div>
                <input id="txtContact" class="txtContact" maxlength="250" data-name="ContactInfo" />
            </div>
        </div>
    </div>
    <div class="PullInstructions">
        <ol>
            <li>Each paper ballot needs to be recorded here.</li>
            <li>The ballot is automatically saved as names are added to it.</li>
            <li>Duplicate names will be noticed and marked.</li>
            <li>If using multiple locations, update the Location Status to indicate the status of
                your counting process, and the Contact Info in case the head teller needs to contact
                you. </li>
        </ol>
    </div>
</div>
<div id="votesPanel" class="votesPanel">
    <div class="titleDiv">
        <div class="float-right">
            <span class="ballotStatus"></span>Ballot #<span class="ballotCode"></span>
        </div>
        <span class="VoteNum">#</span> Names on the ballot (in order)</div>
    <div id="votesList">
    </div>
    <button id="btnAddSpoiled" type="button" tabindex="3" class="smallButton spoiledBtn">
        Add a line for a spoiled vote</button><br/>
    <button type="button" id="btnDeleteBallot" disabled class="smallButton"
        title="Delete after all votes have been deleted">
        Delete this empty ballot</button>
</div>
