.Names > div > span:first-child {
    width: 15em;
    display: inline-block;
}
.EnvNum
{
    float: right;
    text-align: right;
    margin-right: 1em;
}
.Names div {
    border-bottom: dotted 1px #ccc;    
}
.Names div:hover {
    background-color: #ddd;    
}
.When {
    text-align: right;
    float: right;
}
#lists {
    clear: left;
    display: none;
}
#lists > div
{
    float: left;
    margin-right: 20px;
}
.Count
{
    margin: 2px 0 15px 0;
    font-size: 110%;
}
.Totals
{
    margin: 15px 0 0 0;
}
.Totals tr td:first-child {
    font-weight: bold;
    text-align: left;
    width: 130px;
}
tr.SubTotal td {
    border-top: solid #000 1px;
    padding-bottom: 20px;
}
tr.Total td {
    border-top: double #000 3px;
    padding-bottom: 20px;
}
#btnShowNames {
    float: left;
    margin: 25px 0 0 0;
}
.Names {
    display: none;
    width: 400px;
}
h3 {
    margin: 1.2em 0 .2em 0;
}