@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model PeopleModel
@{
  var ballotProcess = UserSession.CurrentElection.BallotProcessRaw;
  var ballotProcessEnum = UserSession.CurrentElection.BallotProcess;

  var envNumMode = UserSession.CurrentElection.EnvNumModeRaw;

  var inPersonName = "In Person";

  switch (ballotProcessEnum)
  {
    case TallyJ.EF.BallotProcessEnum.RegV:
      inPersonName = "Ballot Received";
      break;
  }

  ContextItems.AddJavascriptForPage("reconcilePage.envNumMode={0};".FilledWith(envNumMode.QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("reconcilePage.inPersonName={0};".FilledWith(inPersonName.QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("reconcilePage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("reconcilePage.beforeUrl={0};".FilledWith(Url.Action("Index", "Before").QuotedForJavascript()));
}
<div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
<div class="PullInstructions">
  <ol>
    <li>This page should be used before the ballot envelopes are opened.</li>
    <li>When shown, names are listed according to when the person or ballot was registered. This may assist tellers in remembering what happened at the Front Desk.</li>
    <li>
      Once the counts of ballot envelopes matches what is shown below, the envelopes can
      be mixed together, then opened and tallied.
    </li>
  </ol>
</div>
<div class="btnRefreshDiv">
  <button type="button" id="btnRefresh" class="btn">Refresh</button>
</div>

<div class="Totals Count">
  <div id="Totals"></div>
</div>

<div id="lists">
</div>

<script type="text/x-template" id="envelopeTemplate">
  <div data-time="{SortTime}" title="{Tellers}" class="VM-{VotingMethod}">
    <span>{C_FullName}</span>
    <span class="EnvNum Number{EnvNum}" data-num="{EnvNum}">#{EnvNum}</span>
    <span class=When title="{FullTime}">{When}</span>
    {^Log}
    <span class='ui-icon ui-icon-person'></span>
  </div>
</script>
