.VmgHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;
}
.VmgHead h3 .allLoc {
  font-size: 60%;
}
.sortSelector {
  width: 125px;
  background-color: #fafafa;
}
.Log {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 0 0 4px;
  background-color: #8bb6e2;
  border-radius: 50%;
  cursor: help;
}
h3 {
  margin: 0;
  color: #013d7a;
  white-space: nowrap;
  line-height: normal;
}
.EnvNum {
  margin-right: 15px;
}
.EnvNum.Number {
  display: none;
}
.VMG-R h3 {
  color: #00ccc9;
}
.removedBallots h3 {
  color: #7a0101;
}
.removedBallots div.Names span:nth-child(1),
.removedBallots div.Names span:nth-child(2) {
  text-decoration-line: line-through;
  text-decoration-color: #7a0101;
}
.Names {
  min-width: 300px;
}
.Names > div {
  border-top: dotted 1px #ccc;
  display: flex;
  clear: both;
}
.Names > div > span:first-child {
  flex-grow: 2;
}
.Names > div:first-child {
  border-top: none;
}
.Names > div:hover {
  background-color: #ddd;
}
body.BP-RegC .EnvNum {
  display: none;
}
.When {
  font-size: 80%;
  line-height: 1.4em;
}
.ui-icon {
  display: inline-block;
}
#lists {
  margin: 20px 0 0 0;
  column-count: 2;
}
#lists > div {
  width: 95%;
  margin-top: 20px;
  break-inside: avoid;
}
#lists > div:first-child {
  margin-top: 0px;
}
.Count {
  margin: 2px 0 15px 0;
  font-size: 110%;
}
.Totals {
  margin: 15px 0 0 0;
}
.Totals tr td:first-child {
  font-weight: bold;
  text-align: left;
  width: 130px;
}
tr.SubTotal td {
  border-top: solid #000 1px;
  padding-bottom: 20px;
}
tr.Total td {
  border-top: double #000 3px;
  padding-bottom: 20px;
}
#btnShowNames {
  float: left;
  margin: 25px 0 0 0;
}
.btnRefreshDiv {
  float: right;
  margin-right: 2em;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlJlY29uY2lsZS5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNFLGFBQUE7RUFDQSw4QkFBQTtFQUNBLG1CQUFBO0VBQ0EsaUJBQUE7O0FBSkYsUUFNRSxHQUNFO0VBQ0UsY0FBQTs7QUFLTjtFQUNFLFlBQUE7RUFDQSx5QkFBQTs7QUFHRjtFQUNFLHFCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBOztBQUlGO0VBQ0UsU0FBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBOztBQUlGO0VBQ0Usa0JBQUE7O0FBRUEsT0FBQztFQUNDLGFBQUE7O0FBSUosTUFDRTtFQUNFLGNBQUE7O0FBSUosZUFDRTtFQUNFLGNBQUE7O0FBRkosZUFLRSxJQUFHLE1BQ0QsS0FBSSxVQUFVO0FBTmxCLGVBS0UsSUFBRyxNQUNrQixLQUFJLFVBQVU7RUFDL0Isa0NBQUE7RUFDQSw4QkFBQTs7QUFLTjtFQUNFLGdCQUFBOztBQURGLE1BR0U7RUFDRSwyQkFBQTtFQUNBLGFBQUE7RUFDQSxXQUFBOztBQU5KLE1BR0UsTUFLRSxPQUFNO0VBQ0osWUFBQTs7QUFHRixNQVRGLE1BU0c7RUFDQyxnQkFBQTs7QUFHRixNQWJGLE1BYUc7RUFDQyxzQkFBQTs7QUFLTixJQUFJLFFBQ0Y7RUFDRSxhQUFBOztBQUlKO0VBQ0UsY0FBQTtFQUNBLGtCQUFBOztBQVlGO0VBQ0UscUJBQUE7O0FBR0Y7RUFDRSxrQkFBQTtFQUdBLGVBQUE7O0FBR0YsTUFBTztFQUNMLFVBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBOztBQUVBLE1BTEssTUFLSjtFQUNDLGVBQUE7O0FBSUo7RUFDRSxvQkFBQTtFQUNBLGVBQUE7O0FBR0Y7RUFDRSxrQkFBQTs7QUFHRixPQUFRLEdBQUcsR0FBRTtFQUNYLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxZQUFBOztBQUdGLEVBQUUsU0FBVTtFQUNWLDBCQUFBO0VBQ0Esb0JBQUE7O0FBR0YsRUFBRSxNQUFPO0VBQ1AsMkJBQUE7RUFDQSxvQkFBQTs7QUFHRjtFQUNFLFdBQUE7RUFDQSxrQkFBQTs7QUFHRjtFQUNFLFlBQUE7RUFDQSxpQkFBQSJ9 */