.Names > div > span:first-child {
  max-width: 19em;
  display: inline-block;
}

.EnvNum {
  float: right;
  text-align: right;
  margin-right: 6px;
}

.Names div {
  border-top: dotted 1px #ccc;
  clear: both;
}

.Names div:first-child {
  border-top: none;
}

  .Names div:hover {
    background-color: #ddd;
  }

.When {
  text-align: right;
  float: right;
  vertical-align: top;
}

.oldEnv .When {
  float: none;
}

.ui-icon {
  display: inline-block;
}

#lists {
  clear: left;
}

  #lists > div {
    float: left;
    margin-right: 70px;
  }

.Count {
  margin: 2px 0 15px 0;
  font-size: 110%;
}

.Totals {
  margin: 15px 0 0 0;
}

  .Totals tr td:first-child {
    font-weight: bold;
    text-align: left;
    width: 130px;
  }

tr.SubTotal td {
  border-top: solid #000 1px;
  padding-bottom: 20px;
}

tr.Total td {
  border-top: double #000 3px;
  padding-bottom: 20px;
}

#btnShowNames {
  float: left;
  margin: 25px 0 0 0;
}

.Names {
  width: 400px;
}

h3 {
  margin: 1.2em 0 .2em 0;
}

.oldEnv div span:first-child span:first-child {
  text-decoration: line-through;
}
.btnRefreshDiv {
  float: right;
    margin-right: 2em;
}