
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model PeopleModel
@{
  ContextItems.AddJavascriptForPage("pageUrl", "sortBallotsPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("beforeUrl", "sortBallotsPage.beforeUrl={0};".FilledWith(Url.Action("Index", "Before").QuotedForJavascript()));
}
<div class="PullInstructions">
  <ol>
    <li>
      This shows a list of ballot envelopes in the order that they will be shown on the Roll Call screen, sorted by name.
    </li>
    <li>
      It may be helpful to sort the ballots in this order before starting the roll call.
    </li>
    <li>
      Recently added envelopes are hightlighted in yellow for a minute or two to make them easier to find.
      This is especially useful if the envelopes are being sorted as they are received.
      One teller can keep this page open and file the ballots in the order needed for the Roll Call.
    </li>
  </ol>
</div>
<div class="btnRefreshDiv">
  <button type="button" id="btnRefresh" class="btn">Refresh</button>
</div>
<div class="@(ContextItems.LocationModel.HasLocations ? "" : "Hidden")">
  Showing who voted at:
  <select id="locations">
    <option value="-1">[All Locations]</option>
    @ContextItems.LocationModel.GetLocationOptions()
  </select>
</div>

<div id="lists">
</div>
