.Names > div > span:first-child {
    max-width: 19em;
    display: inline-block;
}



.sortSelector {
    float: right;
    margin-top: 12px;
}

.Names {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -moz-column-rule: 1px solid #ccc;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
}

    .Names.Col3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .Names div {
        border-top: dotted 1px #ccc;
        clear: both;
        white-space: nowrap;
    }

        .Names div span {
            white-space: normal;
            display: inline-block;
        }

        .Names div b {
            width: 60px;
            text-align: center;
            display: inline-block;
        }

        .Names div:hover {
            background-color: #ddd;
        }

.When {
    text-align: right;
    float: right;
    vertical-align: top;
}

.ui-icon {
    display: inline-block;
}

.Count {
    margin: 2px 0 15px 0;
    font-size: 110%;
}

#btnShowNames {
    float: left;
    margin: 25px 0 0 0;
}

h3 {
    margin: 0;
}

.oldEnv div span:first-child span:first-child {
    text-decoration: line-through;
}

.btnRefreshDiv {
    float: right;
    margin-right: 2em;
}

@media only screen and (max-width: 800px) {
    .Names.Col3 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .Names.Col3 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
