<?xml version="1.0" encoding="utf-8" ?>
<root  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="menu.xsd">
  <menu id="main">
    <group title="Preparing" longtitle="Initial Setup - Preparing for the election" showTitleInPage="false">
      <page title="Configure this Election" featureWhen="NotStarted, NamesReady" controller="Setup" action="Index" requireElection="true" role="known" desc="Select type of election and other details"></page>
      <page title="Import Name List" featureWhen="NotStarted" controller="Setup" action="ImportCsv" requireElection="true" role="known" desc="Upload and import names of people from CSV files"></page>
      <page title="Import Version 1" showOnDashboard="false" controller="Setup" action="ImportV1" requireElection="true" role="known" desc="Upload and import files from TallyJ version 1.8x"></page>
    </group>
    <group title="Voting" longtitle="Before Tallying Ballots - Registration and voting" showTitleInPage="false">
      <page title="Edit People's Names" featureWhen="NotStarted, NamesReady, Tallying" controller="Setup" action="People" requireElection="true" role="guest" desc="Edit people's names. Add more people."></page>
      <page title="Front Desk" featureWhen="NamesReady" showTellerSelector="true" showLocationSelector="true" controller="Before" action="FrontDesk" requireElection="true" role="guest" desc="Welcome voters to the election venue. Record who is participating in the election." isPreBallot="true"></page>
      <page title="Sort Envelopes" featureWhen="NamesReady" controller="Ballots" action="SortBallots" requireElection="true" role="guest" desc="Show sorted list of ballot envelopes received." isPreBallot="true"></page>
      <page title="Roll Call" class="Projector" featureWhen="NamesReady" controller="Before" action="RollCall" requireElection="true" role="guest" desc="Display the names of those who are voting." isPreBallot="true"></page>
    </group>
    <group title="Tallying" longtitle="Tallying Ballots" showTitleInPage="false">
      <page title="Count Envelopes" featureWhen="Tallying" controller="Ballots" action="Reconcile" requireElection="true" role="guest" desc="Review the number of ballot envelopes received from each source." isPreBallot="true"></page>
      <page title="Enter Ballots" featureWhen="TieBreakNeeded, Tallying" showTellerSelector="true" showLocationSelector="true" controller="Ballots" action="Index" requireElection="true" role="guest" desc="Type in the names found on ballots."></page>
      <page title="Monitor Progress" featureWhen="TieBreakNeeded, Tallying, Reviewing" controller="After" action="Monitor" requireElection="true" role="guest" desc="Centrally monitor progress of tellers."></page>
    </group>
    <group title="Review and Report" longtitle="Review then share the news!" showTitleInPage="false">
      <page title="Analyze Ballots" featureWhen="Tallying, TieBreakNeeded, Reviewing, Report" controller="After" action="Analyze" requireElection="true" role="known" desc="Review results, checking for ties."></page>
      <page title="Detailed Reports" featureWhen="TieBreakNeeded, Reviewing, Report" controller="After" action="Reports" requireElection="true" role="known" desc="Generate election reports."></page>
      <page title="Display Tellers' Report" featureWhen="Reviewing, Report" class="Projector" controller="After" action="Presenter" requireElection="true" role="guest" desc="Display results of the election."></page>
      <!--<page title="Export Data" controller="Setup" action="Export" requireElection="true" role="known" desc="Download election data to a local file."></page>-->
    </group>
    <group title="general" longtitle="General pages" showTitleInPage="false">
      <page title="Welcome Page" featureWhen="OnDash" controller="Public" action="Index" showOnDashboard="true" requireElection="false" role="*" desc="Welcome page"></page>
      <page title="Choose Election" featureWhen="OnDash, General" controller="Dashboard" action="ChooseElection" requireElection="false" role="known" desc="List your elections.  Choose, save, load and delete elections."></page>
      <page title="Dashboard" featureWhen="OnDash, General" controller="Dashboard" action="Index" showOnDashboard="false" requireElection="true" role="*" desc="A listing of all the modules and pages in TallyJ"></page>
      <page title="Reference Materials" featureWhen="OnDash, General" controller="Public" action="Learning" requireElection="false" role="*" desc="Read more about Bahá’í elections, the job of tellers, and how TallyJ works."></page>
      <page title="Change my Password" featureWhen="OnDash, General" controller="Account" action="ChangePassword" requireElection="true" role="known" desc="Change your password"></page>
      <page title="Logout" featureWhen="OnDash, General" controller="Account" action="Logoff" showOnDashboard="true" requireElection="false" role="guest" desc="Log out of the site"></page>
    </group>
  </menu>
  <menu id="misc">
    <page title="Logon Page" controller="Account" action="LogOn" requireElection="false" role="*" desc=""/>
    <page title="Register Page" controller="Account" action="Register" requireElection="false" role="*" desc=""/>
    <page title="Contact" controller="Public" featureWhen="General" action="Contact" requireElection="false" role="*" desc=""/>
    <page title="About" controller="Public" action="About" requireElection="false" role="*" desc=""/>
    <page title="Install" controller="Public" action="Install" requireElection="false" role="*" desc=""/>
  </menu>
</root>