<?xml version="1.0" encoding="utf-8" ?>
<root  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="menu.xsd">
    <menu id="main">
        <group title="Preparing" longtitle="Preparing for the election before the big day">
            <page title="Setup the Election" controller="Setup" action="Index" requireElection="true" role="known" desc="Select type of election and other details"></page>
            <page title="Import Names" controller="Setup" action="ImportCsv" requireElection="true" role="known" desc="Upload and import names of people from CSV files"></page>
            <page title="Import Version 1 Files" controller="Setup" action="ImportV1" requireElection="true" role="known" desc="Upload and import files from TallyJ version 1.x"></page>
        </group>
        <group title="Voting" longtitle="Registration and voting">
            <page title="Manage People's Names" controller="Setup" action="People" requireElection="true" role="guest" desc="Edit people's names. Add more people."></page>
            <page title="Front Desk Registration" controller="Before" action="FrontDesk" requireElection="true" role="guest" desc="Welcome voters to the election venue. Record who is participating in the election."></page>
            <page title="Roll Call" class="Projector" controller="Before" action="RollCall" requireElection="true" role="guest" desc="Display the names of those who are voting."></page>
        </group>
        <group title="Tallying" longtitle="Processing the ballots">
            <page title="Reconcile Ballot Counts" controller="Ballots" action="Reconcile" requireElection="true" role="guest" desc="Review the number of ballot envelopes received from each source."></page>
            <page title="Enter Ballots" controller="Ballots" action="Index" requireElection="true" role="guest" desc="Type in the names found on ballots."></page>
            <page title="Monitor Progress" controller="After" action="Monitor" requireElection="true" role="known" desc="Centrally monitor progress of tellers."></page>
        </group>
        <group title="Review and Report" longtitle="Review then share the news!">
            <page title="Analyze Ballots" controller="After" action="Analyze" requireElection="true" role="known" desc="Review results, checking for ties."></page>
            <page title="View Reports" controller="After" action="Reports" requireElection="true" role="guest" desc="Generate election reports."></page>
            <page title="Teller's Report" class="Projector" controller="After" action="Presenter" requireElection="true" role="guest" desc="Display results of the election."></page>
            <!--<page title="Export Data" controller="Setup" action="Export" requireElection="true" role="known" desc="Download election data to a local file."></page>-->
        </group>
        <group title="General" longtitle="General pages" showTitleInPage="false">
            <page title="Dashboard" controller="Dashboard" action="Index" showOnDashboard="false" requireElection="true" role="*" desc="A listing of all the modules and pages in TallyJ"></page>
            <page title="Reference Materials" controller="Public" action="Learning" requireElection="false" role="*" desc="Read more about Bahá’í elections, the job of tellers, and how TallyJ works."></page>
            <page title="Switch to a Different Election" controller="Dashboard" action="ChooseElection" requireElection="false" role="known" desc="Switch to a different election"></page>
            <page title="Change my Password" controller="Account" action="ChangePassword" requireElection="false" role="known" desc="Change your password"></page>
            <page title="Welcome Page" controller="Public" action="Index" showOnDashboard="false" requireElection="false" role="*" desc="Welcome page"></page>
            <page title="Logout" controller="Account" action="Logoff" showOnDashboard="false" requireElection="false" role="guest" desc="Log out of the site"></page>
        </group>
    </menu>
    <menu id="misc">
        <page title="Logon Page" controller="Account" action="LogOn" requireElection="false" role="*" desc=""/>
        <page title="Register Page" controller="Account" action="Register" requireElection="false" role="*" desc=""/>
        <page title="Contact" controller="Public" action="Contact" requireElection="false" role="*" desc=""/>
        <page title="About" controller="Public" action="About" requireElection="false" role="*" desc=""/>
        <page title="Install" controller="Public" action="Install" requireElection="false" role="*" desc=""/>
    </menu>
</root>