table
{
    border-collapse: separate;
    border-spacing: 0px 0px;
    float: left;
}
thead th
{
    border-bottom: 1px solid #000;
}

tr th:first-child
{
    text-align: left;
}

td
{
    text-align: center;
    min-width: 40px;
    padding: 2px 7px;
    border-left: 1px solid #e0e0e0;
}

tr.Odd {
    background-color: #ddd;
}
tr.Odd td {
    border-left: 1px solid #d0d0d0;
}

tr.Tied {
    color: red;
}

#chart {
    float: right;
    width: 340px;
    height: 500px;
    margin-left: 10px;
}
table.Main, table#invalids, table#totalCounts {
    float: left;
    clear: left;
}
table.Main, table#invalids {
    display: none;
}
table caption {
    font-weight: bold;
    margin-top: 25px;
}