table
{
    border-collapse: separate;
    border-spacing: 0px 0px;
    float: left;
    margin-bottom: 30px;
}
thead th
{
    border-bottom: 1px solid #000;
}

.Main td
{
    text-align: center;
    min-width: 40px;
    padding: 2px 7px;
    border-left: 1px solid #e0e0e0;
}

tr.Odd {
    background-color: #ddd;
}
tr.Odd td {
    border-left: 1px solid #d0d0d0;
}

tr.Tied {
    color: red;
}

#chart {
    float: right;
    width: 340px;
    height: 500px;
    margin-left: 10px;
}
table.Main, table#invalids, table#totalCounts {
    float: left;
    clear: left;
}
table.Main, table#invalids {
    display: none;
}
table caption {
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
    text-align: left;
}
#invalids caption {
    color: red;
}
td.Left {
    text-align: left;
}
#btnRefesh {
    float: right;
}
#InitialMsg {
    color: red;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 50px;
}
#totalCounts tr td:first-child {
    padding-right: 30px;
}