@using TallyJ.Code.Session
@model ResultsModel
@{
    ViewBag.Title = "Election Analysis";
    ViewBag.Message = "Review the results";

    ContextItems.AddJavascriptForPage("pageUrl", "analyzePage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));

    //todo: don't run analysis until after page loads framework...
    //ContextItems.AddJavascriptForPage("results", "analyzePage.results={0};".FilledWith(Model.CurrentResults.SerializedAsJson()));
}
<script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Scripts/highcharts/themes/dark-green.js")"></script>
<button type="button" id="btnRefesh">
    Refresh</button>
<div id="chart">
</div>
<table class="Main">
    <caption>
        Results</caption>
    <thead>
        <tr>
            <th>
                Person
            </th>
            <th>
                Votes
            </th>
            <th>
                Rank
            </th>
            <th>
                Comments
            </th>
        </tr>
    </thead>
    <tbody id="mainBody">
        <tr class="{ClassName}">
            <th>
                {PersonName}
            </th>
            <td>
                {VoteCount}
            </td>
            <td>
                {Rank}
            </td>
            <td>
                {Comments}
            </td>
        </tr>
    </tbody>
    <tfoot id="mainFoot">
        <tr class="{ClassName}">
            <th>
                {PersonName}
            </th>
            <td>
                {VoteCount}
            </td>
            <td>
                {Rank}
            </td>
            <td>
                {Comments}
            </td>
        </tr>
    </tfoot>
</table>
<table id="invalids">
    <caption>
        Ballots Requiring Attention</caption>
    <thead>
        <tr>
            <td>
                Ballot
            </td>
            <td>
                Vote Line
            </td>
        </tr>
    </thead>
    <tbody id="invalidsBody">
        <tr>
            <td>
                {Ballot}
            </td>
            <td>
                {Link}
            </td>
        </tr>
    </tbody>
</table>
<table id="totalCounts">
    <caption>
        Total Counts</caption>
    <tr>
        <td>
            Total Votes Recorded
        </td>
        <td>
            <span data-name="TotalVotes"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Invalid Ballots
        </td>
        <td>
            <span data-name="TotalInvalidBallots"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Invalid Votes
        </td>
        <td>
            <span data-name="TotalInvalidVotes"></span>
        </td>
    </tr>
</table>
