body.BP-None .ballotCounts .Calc {
  display: none !important;
}
.setStatus h3 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: normal;
}
table {
  border-collapse: separate;
  border-spacing: 0px 0px;
  margin-bottom: 20px;
}
thead th,
thead td {
  border-bottom: 1px solid #000;
}
.Main td {
  text-align: center;
  padding: 2px 10px;
  border-left: 1px solid #e0e0e0;
}
tr.Odd td {
  border-left: 1px solid #d0d0d0;
}
tr.Resolved {
  color: green;
}
tr.SectionT.Tied {
  color: red;
  font-weight: bold;
}
tr.SectionE {
  background-color: #d9d9d9;
}
tr.SectionE.Tied {
  color: red;
  font-weight: bold;
}
tr.SectionO {
  background-color: #aaa;
}
tr.SectionO.Tied.Force {
  color: red;
  font-weight: bold;
}
.LeftHalf {
  width: 59%;
  margin-right: 2%;
  float: left;
}
.RightHalf {
  width: 38%;
  float: left;
}
.NoAnalysis {
  color: red;
  margin: 0px 0 0 106px;
  font-weight: bold;
}
body.ready .setStatus h3 {
  color: #4b8200;
  font-weight: bold;
}
body.ready #loadingLog {
  width: auto;
}
body.analyzing .LeftHalf {
  visibility: hidden;
}
body.analyzing #btnRefreshDiv .setStatus {
  display: none;
}
body.analyzing .RightHalfOther {
  display: none;
}
body.notReady .overallWarning {
  display: block;
}
body.notReady #btnRefreshDiv .setStatus {
  color: #999;
  border-color: #999;
}
table.Main {
  clear: right;
}
table#invalids {
  display: none;
  clear: right;
}
table#invalids {
  width: 100%;
  margin-top: 35px;
}
table caption {
  font-weight: bold;
  font-size: 110%;
  text-align: left;
}
#invalids caption {
  color: red;
}
td.Left {
  text-align: left;
}
td.nw {
  white-space: nowrap;
}
#btnRefresh {
  display: block;
  margin-top: 2px;
}
#btnRefreshDiv {
  margin-bottom: 10px;
}
#btnRefreshDiv .setStatus {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 3px 8px 3px 4px;
  border-radius: 3px;
  border: 1px solid #333;
  background-color: #e6e6e6;
}
#btnRefreshDiv .setStatus label {
  display: block;
}
#btnRefreshDiv .buttons {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 20px;
}
#btnRefreshDiv .buttons button {
  margin-bottom: 1px;
}
#HasCloseVote td {
  color: #666;
}
#InitialMsg {
  font-weight: bold;
  font-size: 105%;
  margin: 10px 0 25px 0;
  text-align: center;
  clear: both;
}
#InitialMsg.bad {
  color: red;
}
table#totalCounts tr {
  height: 24px;
}
table#totalCounts th {
  text-align: left;
}
table#totalCounts td {
  text-align: center;
  min-width: 75px;
  margin: 0 2px;
  padding: 0 5px;
}
#totalCounts tr td:first-child {
  padding-right: 5px;
  text-align: left;
}
#totalCounts tr.totalBallots td {
  border-top: solid 1px grey;
}
#totalCounts tbody.ballotCounts td {
  background-color: #d9d9d9;
}
#tieResultsBody td {
  vertical-align: top;
}
#tieResultsBody p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.TieBreakGroup {
  font-weight: bold;
  padding: 0 6px 6px 6px;
}
.TieBreakNeeded td {
  color: red;
  padding-bottom: 20px;
}
.TieBreakNeeded button,
.TieBreakNeeded div {
  margin-left: 25px;
}
input.TieBreakCount {
  width: 40px;
  margin-right: 15px;
  display: inline-block;
  text-align: right;
}
.ChartLine {
  height: 3px;
  background-color: #1aee1a;
  width: 5%;
}
.ChartLineTie {
  height: 3px;
  background-color: blue;
  width: 0;
}
.SectionE .ChartLine {
  background-color: #ffe500;
}
.SectionO .ChartLine {
  background-color: #ccc;
}
tr.Tied .ChartLine {
  background-color: red;
}
.PersonColumn {
  width: 290px;
}
#trCountMismatch {
  display: none;
}
table#totalCounts tr#trCountMismatch td {
  text-align: right;
  padding-right: 5px;
  color: red;
  font-weight: bold;
}
#totalCounts.mismatch .IfMismatch {
  background-color: red;
  font-weight: bold;
}
#totalCounts.mismatch #trCountMismatch {
  display: table-row;
}
input.Manual {
  text-align: center;
  width: 60px;
  padding-top: 2px;
}
input.Manual.Additional {
  width: 35px;
}
span.Final.changed {
  font-weight: bold;
}
span.Calc.changed {
  color: #888;
  padding: 0 4px;
  text-decoration: line-through;
}
.overallWarning {
  color: red;
  font-weight: bold;
  font-size: 105%;
  margin: 10px 0 25px 0;
  text-align: center;
  display: none;
}
#body {
  min-height: 500px;
}
#instructions li {
  line-height: normal;
  margin-bottom: 3px;
}
#loadingLog {
  background-color: white;
  margin: 5px auto 0 auto;
  padding: 8px 10px;
  display: none;
  min-height: 1em;
  text-align: left;
}
#btnShowLog {
  margin-top: 5px;
}
.btnSaveManualCounts {
  line-height: 1.3;
  padding: 2px;
}
@media screen and (max-width: 750px) {
  .main-content {
    padding: 30px 10px 0;
  }
  .MainHolder {
    max-height: 90vh;
    overflow: auto;
    background: #f5f3f5;
    padding: 4px 0 0 5px;
    margin: 0px 0 15px 0;
  }
  .LeftHalf {
    width: auto;
    margin-right: 0;
    float: none;
  }
  .RightHalf {
    width: auto;
    float: none;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkFuYWx5emUuY3NodG1sLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUEsSUFBSSxRQUNGLGNBQ0U7RUFDRSx3QkFBQTs7QUFLTixVQUNFO0VBQ0UsZ0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7O0FBSUo7RUFDRSx5QkFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7O0FBR0YsS0FBTTtBQUFJLEtBQU07RUFDZCw2QkFBQTs7QUFHRixLQUFNO0VBQ0osa0JBQUE7RUFDQSxpQkFBQTtFQUNBLDhCQUFBOztBQUdGLEVBQUUsSUFBSztFQUNMLDhCQUFBOztBQUdGLEVBQUU7RUFDQSxZQUFBOztBQUdGLEVBQUUsU0FBUztFQUNULFVBQUE7RUFDQSxpQkFBQTs7QUFHRixFQUFFO0VBQ0EseUJBQUE7O0FBR0YsRUFBRSxTQUFTO0VBQ1QsVUFBQTtFQUNBLGlCQUFBOztBQUdGLEVBQUU7RUFDQSxzQkFBQTs7QUFHRixFQUFFLFNBQVMsS0FBSztFQUNkLFVBQUE7RUFDQSxpQkFBQTs7QUFHRjtFQUNFLFVBQUE7RUFDQSxnQkFBQTtFQUNBLFdBQUE7O0FBR0Y7RUFDRSxVQUFBO0VBQ0EsV0FBQTs7QUFHRjtFQUNFLFVBQUE7RUFDQSxxQkFBQTtFQUNBLGlCQUFBOztBQUlBLElBQUMsTUFDQyxXQUNFO0VBQ0UsY0FBQTtFQUNBLGlCQUFBOztBQUpOLElBQUMsTUFRQztFQUNFLFdBQUE7O0FBSUosSUFBQyxVQU1DO0VBQ0Usa0JBQUE7O0FBUEosSUFBQyxVQVVDLGVBQ0U7RUFDRSxhQUFBOztBQVpOLElBQUMsVUFnQkM7RUFDRSxhQUFBOztBQUlKLElBQUMsU0FDQztFQUNFLGNBQUE7O0FBRkosSUFBQyxTQUtDLGVBQWU7RUFDYixXQUFBO0VBQ0Esa0JBQUE7O0FBS04sS0FBSztFQUNILFlBQUE7O0FBR0YsS0FBSztFQUNILGFBQUE7RUFDQSxZQUFBOztBQUdGLEtBQUs7RUFDSCxXQUFBO0VBQ0EsZ0JBQUE7O0FBR0YsS0FBTTtFQUNKLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBOztBQUdGLFNBQVU7RUFDUixVQUFBOztBQUdGLEVBQUU7RUFDQSxnQkFBQTs7QUFHRixFQUFFO0VBQ0EsbUJBQUE7O0FBR0Y7RUFDRSxjQUFBO0VBQ0EsZUFBQTs7QUFHRjtFQUNFLG1CQUFBOztBQURGLGNBR0U7RUFDRSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSx3QkFBQTtFQUNBLGtCQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkFBQTs7QUFWSixjQUdFLFdBU0U7RUFDRSxjQUFBOztBQWJOLGNBaUJFO0VBQ0UscUJBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7O0FBckJKLGNBaUJFLFNBTUU7RUFDRSxrQkFBQTs7QUFLTixhQUFjO0VBQ1osV0FBQTs7QUFHRjtFQUNFLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBOztBQUdGLFdBQVc7RUFDVCxVQUFBOztBQUlGLEtBQUssWUFBYTtFQUNoQixZQUFBOztBQUdGLEtBQUssWUFBYTtFQUNoQixnQkFBQTs7QUFHRixLQUFLLFlBQWE7RUFDaEIsa0JBQUE7RUFDQSxlQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7O0FBR0YsWUFBYSxHQUFHLEdBQUU7RUFDaEIsa0JBQUE7RUFDQSxnQkFBQTs7QUFHRixZQUFhLEdBQUUsYUFBYztFQUMzQiwwQkFBQTs7QUFHRixZQUFhLE1BQUssYUFBYztFQUM5Qix5QkFBQTs7QUFHRixlQUFnQjtFQUNkLG1CQUFBOztBQUdGLGVBQWdCO0VBQ2QsYUFBQTtFQUNBLG9CQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxzQkFBQTs7QUFHRixlQUFnQjtFQUNkLFVBQUE7RUFDQSxvQkFBQTs7QUFHRixlQUFnQjtBQUNoQixlQUFnQjtFQUNkLGlCQUFBOztBQUdGLEtBQUs7RUFDSCxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxxQkFBQTtFQUNBLGlCQUFBOztBQUdGO0VBQ0UsV0FBQTtFQUNBLHlCQUFBO0VBQ0EsU0FBQTs7QUFHRjtFQUNFLFdBQUE7RUFDQSxzQkFBQTtFQUNBLFFBQUE7O0FBR0YsU0FBVTtFQUNSLHlCQUFBOztBQUdGLFNBQVU7RUFDUixzQkFBQTs7QUFHRixFQUFFLEtBQU07RUFDTixxQkFBQTs7QUFRRjtFQUNFLFlBQUE7O0FBR0Y7RUFDRSxhQUFBOztBQUdGLEtBQUssWUFBYSxHQUFFLGdCQUFpQjtFQUNuQyxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLGlCQUFBOztBQUdGLFlBQVksU0FBVTtFQUNwQixxQkFBQTtFQUNBLGlCQUFBOztBQUdGLFlBQVksU0FBVTtFQUNwQixrQkFBQTs7QUFJRixLQUFLO0VBQ0gsa0JBQUE7RUFDQSxXQUFBO0VBQ0EsZ0JBQUE7O0FBR0YsS0FBSyxPQUFPO0VBQ1YsV0FBQTs7QUFHRixJQUFJLE1BQU07RUFDUixpQkFBQTs7QUFHRixJQUFJLEtBQUs7RUFDUCxXQUFBO0VBQ0EsY0FBQTtFQUNBLDZCQUFBOztBQUdGO0VBQ0UsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxhQUFBOztBQUdGO0VBQ0UsaUJBQUE7O0FBR0YsYUFBYztFQUNaLG1CQUFBO0VBQ0Esa0JBQUE7O0FBR0Y7RUFDRSx1QkFBQTtFQUNBLHVCQUFBO0VBQ0EsaUJBQUE7RUFDQSxhQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBOztBQUdGO0VBQ0UsZUFBQTs7QUFHRjtFQUNFLGdCQUFBO0VBQ0EsWUFBQTs7QUFHRixtQkFBcUM7RUFDbkM7SUFDRSxvQkFBQTs7RUFHRjtJQUNFLGdCQUFBO0lBQ0EsY0FBQTtJQUNBLG1CQUFBO0lBQ0Esb0JBQUE7SUFDQSxvQkFBQTs7RUFHRjtJQUNFLFdBQUE7SUFDQSxlQUFBO0lBQ0EsV0FBQTs7RUFHRjtJQUNFLFdBQUE7SUFDQSxXQUFBIn0= */