@using TallyJ.Code.Session
@model ResultsModel
@{
    ViewBag.Title = "Election Analysis";
    ViewBag.Message = "Review the results";

    ContextItems.AddJavascriptForPage("pageUrl", "analyzePage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));

    //todo: don't run analysis until after page loads framework...
    //ContextItems.AddJavascriptForPage("results", "analyzePage.results={0};".FilledWith(Model.CurrentResults.SerializedAsJson()));
}
<script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Scripts/highcharts/themes/dark-green.js")"></script>

<table class="Main">
  <thead>
    <tr>
      <th>
        Person
      </th>
      <th>
        Votes
      </th>
      <th>
        Rank
      </th>
      <th>
        Comments
      </th>
    </tr>
  </thead>
  <tbody id="mainBody">
    <tr class="{ClassName}">
      <th>
        {PersonName}
      </th>
      <td>
        {VoteCount}
      </td>
      <td>
        {Rank}
      </td>
      <td>
        {Comments}
      </td>
    </tr>
  </tbody>
  <tfoot id="mainFoot">
    <tr class="{ClassName}">
      <th>
        {PersonName}
      </th>
      <td>
        {VoteCount}
      </td>
      <td>
        {Rank}
      </td>
      <td>
        {Comments}
      </td>
    </tr>
  </tfoot>
</table>
<button type="button" id="btnRefesh">Refresh</button>
<div id="chart"></div>