@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model MonitorModel
@{
    ViewBag.Title = "Election Monitor";
    ViewBag.Message = "What's Happening?";

    ContextItems.AddJavascriptForPage("pageUrl", "monitorPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("locations", "monitorPage.LocationInfos={0};".FilledWith(Model.LocationInfoJson));
}
<div style="padding-bottom: 15px;">
    Election Status:
    <select id="ddlElectionStatus">
        <option value="">Please select...</option>
        @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection.TallyStatus)
    </select>
</div>
<table class="Main">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Status
            </th>
            <th>
                # Ballots
            </th>
            <th>
                Minutes Ago
            </th>
            <th>
                Computer
            </th>
            <th>
                View
            </th>
            <th>
                Contact Info
            </th>
        </tr>
    </thead>
    <tbody id="mainBody">
        <tr>
            <th rowspan="{rows}">
                {Name}
            </th>
            <td rowspan="{rows}">
                {TallyStatus}
            </td>
            <td>
                {Ballots}
            </td>
            <td>
                <span class="minutesOld" data-start="{MinutesOld}">{MinutesOld}</span>
            </td>
            <td>
                {ComputerCode}
            </td>
            <td>
                {Btn}
            </td>
            <td rowspan="{rows}">
                {ContactInfo}
            </td>
        </tr>
        <tr>
            <td>
                {Ballots}
            </td>
            <td>
                <span class="minutesOld" data-start="{MinutesOld}">{MinutesOld}</span>
            </td>
            <td>
                {ComputerCode}
            </td>
            <td>
                {Btn}
            </td>
        </tr>
    </tbody>
</table>
<div class="AutoButtons">
    <input type="checkbox" id="chkAutoRefresh" />
    <span>Auto-refresh every </span>
    <select id="ddlRefresh">
        <option value="10">10 seconds</option>
        <option value="15">20 seconds</option>
        <option value="30">30 seconds</option>
        <option value="60">minute</option>
        <option value="120">2 minutes</option>
    </select>
    <button type="button" id="btnRefesh">
        Refresh Now</button>
    <span id="lastRefresh"></span>
</div>
