html
{
  background-color: #EFEEEF;
}

.content-wrapper
{
  width: 100%;
}

header, footer
{
  display: none;
}

.main-content
{
  background-image: none;
  padding: 0;
}

h1
{
  text-align: center;
  font-size: 24pt;
  color: #013d7a;
  padding: 13pt 0 0pt 0;
  width: 100%;
  height: 50pt;
}

#Results
{
  width: 100%;
  text-align: center;
  font-size: 24pt; /* smaller for most, larger for Petpetua */
}

table
{
  border-collapse: separate;
  border-spacing: 0px 0px;
}

thead th
{
  border-bottom: 1px solid #000;
}

th
{
  padding: 2px 7px;
}

#totalCounts td,
table.Main td
{
  text-align: center;
  vertical-align: top;
  min-width: 40px;
  padding: 2px 7px;
}

  table.Main td:first-child
  {
    border-right: 1px solid #d0d0d0;
  }

.HolderLeft tbody tr:nth-child(even)
{
  background-color: #E9E8E9;
}

th:first-child
{
  text-align: left;
}

tr.FirstExtra td
{
  border-top: double 3px #999;
  background-color: #ddd;
}

tr.Extra
{
  background-color: #ddd;
}

#chart
{
  display: none;
  float: right;
  width: 340px;
  height: 500px;
  margin-left: 10px;
}

.Ready
{
  text-align: center;
  font-size: 16pt;
  color: #aaa;
  margin-top: 2em;
  padding: .5em 1em;
}

table.Holder
{
  margin: 0 auto;
  width: 100%;
}

.HolderLeft
{
  vertical-align: top;
  width: 49%;
}

.HolderRight
{
  vertical-align: top;
  width: 50%;
}

#totalCounts
{
  width: 370px;
  margin: 0 auto;
}

.HolderLeft td:nth-child(2)
{
}

table.Main
{
  display: none;
  margin: 0 auto;
}

table caption
{
  font-weight: bold;
  font-size: 120%;
  white-space: nowrap;
  text-align: left;
}

table.Main td.Left,
#totalCounts td.Left
{
  text-align: left;
  padding-right: 30px;
}

#mainBody
{
  width: 80%;
}

#zzbtnRefesh
{
  float: right;
}

.Hidden
{
  display: none;
}

#Status
{
  font-weight: bold;
}

#Wait
{
  display: none;
  text-align: center;
  font-size: 16pt;
  color: #bbb;
  width: 62%;
  padding-top: 60px;
  margin: 0 auto;
}

.Nav
{
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 10;
  opacity: 0.1;
}

  .Nav:hover
  {
    opacity: 1;
  }
