@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model ResultsModel
@{
  ViewBag.Title = "Election Results";
  ViewBag.Message = "Celebrate the election";

  ContextItems.AddJavascriptForPage("pageUrl", "presenterPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
}
@*<script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
  <script src="@Url.Content("~/Scripts/highcharts/themes/dark-green.js")"></script>
*@
<div class="Main">
  <div class="Nav Show">
    <button id="btnReturn" type="button">Show Menu</button>
    <div>F11 (full-screen), Space(show), B(hide)</div>
    <button type="button" id="btnRefesh">Refresh</button>
  </div>
  <div id="Wait">
    <p>
      <span id="Status">@ElectionTallyStatusEnum.TextFor(UserSession.CurrentElection.TallyStatus)</span>
    </p>
    <p>
      The results will be available when the tellers have completed the counting and the status is set to "@ElectionTallyStatusEnum.Finalized.Text".
    </p>
  </div>
  <div id="Results" class="Hidden">
    <h1>Tellers' Report</h1>
    <button type="button" id="btnShow" class="Ready">
      Display Report
    </button>
    <div id="chart">
    </div>
    <table class="Holder">
      <tr>
        <td class="HolderLeft">
          <table id="totalCounts">
            <thead>
              <tr>
                <th colspan="2">
                  Statistics
                </th>
              </tr>
            </thead>
            <tr>
              <td class="Left">
                Eligible to Vote
              </td>
              <td class="numberCell">
                <span data-name="NumEligibleToVote"></span>
              </td>
            </tr>
            <tr>
              <td class="Left">
                Number who Voted
              </td>
              <td class="numberCell">
                <span data-name="NumBallots"></span>
              </td>
            </tr>
            @if (!UserSession.CurrentElection.MaskVotingMethod.AsBoolean())
            {
              <tr class="Method">
                <td class="Left">
                  Dropped Off
                  <span data-name="EnvelopesDroppedOff"></span>
                </td>
                <td class="numberCell"></td>
              </tr>
              <tr class="Method">
                <td class="Left">
                  Mailed In
                  <span data-name="EnvelopesMailedIn"></span>
                </td>
                <td class="numberCell"></td>
              </tr>
              <tr class="Method" id="calledIn">
                <td class="Left">
                  Called In
                  <span data-name="EnvelopesCalledIn"></span>
                </td>
                <td class="numberCell"></td>
              </tr>
            }
            <tr>
              <td class="Left">
                Participation Rate
              </td>
              <td class="numberCell">
                <span data-name="Participation"></span>%
              </td>
            </tr>
            @if (!UserSession.CurrentElection.IsSingleNameElection)
            {
              <tr class="ExtraSpace">
                <td class="Left">
                  Spoiled Ballots
                </td>
                <td class="numberCell">
                  <span data-name="TotalInvalidBallots"></span>
                </td>
              </tr>
            }
            <tr>
              <td class="Left">
                Spoiled Votes
              </td>
              <td class="numberCell">
                <span data-name="TotalInvalidVotes"></span>
              </td>
            </tr>
          </table>
        </td>
        <td class="HolderRight">
          <button type="button" id="btnShowNames" class="Ready">
            Display Elected
          </button>
          <table id="mainResults" class="Main">
            <thead>
              <tr>
                <th>
                  Elected
                </th>
                <th>
                  Votes
                </th>
              </tr>
            </thead>
            <tbody id="mainBody">
              <tr class="{ClassName}">
                <td class="Left">
                  {PersonName}
                </td>
                <td>
                  {VoteDisplay}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
