@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ResultsModel
@{
    ViewBag.Title = "Reports";
    ViewBag.Message = "Report the results";

    ContextItems.AddJavascriptForPage("pageUrl", "reportsPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
}
<div class="chooser">
  <h1>Reports</h1>
  <div>@ViewBag.Error</div>
  <ul id="chooser">
    <li><a href="@Url.Action("Pdf", new { id = "Teller1" })">Election Report</a></li>
  </ul>
  @*<button type="button" onclick="window.print()">Print (Ctrl+P)</button>*@
</div>
<div id="Status">
  Select a report...
</div>
<div id="report">
@*  @(new CrystalDecisions.Web.CrystalReportViewer())*@
</div>