@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ResultsModel
@{
  ViewBag.Title = "Reports";
  ViewBag.Message = "Report the results";

  TemplateLoader.RequireTemplates(TemplateLoader.File.ReportTemplates);
  ContextItems.AddJavascriptForPage("pageUrl", "reportsPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));

  var reports = new Dictionary<string, string>
  {
    { "SimpleResults|Ballot Results", "Election Report (Simple)"},
    { "Ballots", "All Ballots for Review"},
    { "VotesByNum", "Tellers' Report, by Votes"},
    { "VotesByName", "Tellers' Report, by Name"},
    { "BallotAlignment", "Ballot Alignment"},
    { "ChangedPeople", "Updated People"},

    { "AllPeople|Registration", "All Eligible Voters"},
    { "Voters", "Eligible Voters Who Voted"},
    { "NonVoters", "Eligible Voters Who Did Not Vote"},
    { "VotersByArea", "Voters by Sector/Area"},
  };
  var firstHeader = false;
}
<div class="chooser">
  <h1>Reports</h1>
    @foreach (var r in reports)
    {
      var keyParts = r.Key.Split('|');
      var href = keyParts[0];
      if (keyParts.Length == 2)
      {
        if (firstHeader)
        {
          @("</ul>".AsRawHtml())
        }
        @("<h2>{0}</h2><ul>".FilledWith(keyParts[1]).AsRawHtml())

        firstHeader = true;
      }
      <li><a href='#@href'>@r.Value</a></li>
    }
  @("</ul>".AsRawHtml())
  <button type="button" onclick="window.print()" class="btn btn-info btnPrint">Print (Ctrl+P)</button>
  <p class="Comment ">Some browsers, such as Chrome, can create a PDF copy of the report when printing.</p>
</div>
<div id="Status">
  Select a report...
</div>
<div id="report">
</div>