html {
  background-color: #EFEEEF;
}
#selTieBreaks {
  position: absolute;
  top: 1em;
  left: 1em;
}
.content-wrapper {
  width: 100%;
}
header,
.CompCode,
footer {
  display: none;
}
.main-content {
  background-image: none;
  padding: 0;
}
#Wait {
  text-align: center;
  font-size: 16pt;
  color: #bbb;
  padding-top: 60px;
  margin: 0 auto;
  width: 75%;
}
#Wait p {
  margin: 1em 0;
}
h1 {
  text-align: center;
  font-size: 24pt;
  color: #013d7a;
  padding: 13pt 0 0pt 0;
  width: 100%;
  height: 40pt;
}
.Nav {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 10;
  opacity: 0.01;
  text-align: right;
}
.Nav.Show,
.Nav:hover {
  opacity: 1;
}
#TieIntro {
  text-align: center;
  font-size: 20pt;
}
#names {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 26pt;
  justify-content: center;
}
#names .name {
  white-space: nowrap;
  padding: 0.4em 0.8em;
  text-align: center;
  background-color: #fff;
  margin: 20px 30px;
  border-radius: 2px;
  box-shadow: 0 3px 9px #555;
}
#names.manyNames {
  font-size: 18pt;
}
#names.manyNames .name {
  margin: 10px 20px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlNob3dUaWVzLmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0kseUJBQUE7O0FBR0o7RUFDSSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBOztBQUdKO0VBQ0ksV0FBQTs7QUFHSjtBQUFRO0FBQVc7RUFDZixhQUFBOztBQUdKO0VBQ0ksc0JBQUE7RUFDQSxVQUFBOztBQUlKO0VBQ0ksa0JBQUE7RUFDQSxlQUFBO0VBQ0EsV0FBQTtFQUNBLGlCQUFBO0VBQ0EsY0FBQTtFQUNBLFVBQUE7O0FBTkosS0FRSTtFQUNJLGFBQUE7O0FBS1I7RUFDSSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBQ0EscUJBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTs7QUFJSjtFQUNJLGVBQUE7RUFDQSxRQUFBO0VBQ0EsV0FBQTtFQUNBLFdBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7O0FBRUEsSUFBQztBQUFPLElBQUM7RUFDTCxVQUFBOztBQUlSO0VBQ0ksa0JBQUE7RUFDQSxlQUFBOztBQUlKO0VBQ0ksYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxlQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBOztBQU5KLE1BUUk7RUFDSSxtQkFBQTtFQUNBLG9CQUFBO0VBQ0Esa0JBQUE7RUFDQSxzQkFBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSwwQkFBQTs7QUFHSixNQUFDO0VBQ0csZUFBQTs7QUFESixNQUFDLFVBR0c7RUFDSSxpQkFBQSJ9 */