body.VoterIndex.noCursor #voterPage2 #pool > div:hover {
  border-color: transparent;
}
body.VoterIndex.noCursor #voterPage2 #pool > div.moving {
  border-color: rgba(0, 0, 0, 0.8);
}
#voterPage1 .quotes {
  padding: 10px 5px 10px 10px;
  background: #cdd5de;
  box-shadow: inset 0 0 2px 0px #efeeef;
  margin: 0 0 7px 0;
  border-radius: 3px;
}
#voterPage1 .quotes ul {
  margin: 0 0 0 25px;
}
#voterPage1 .electionListDiv {
  overflow-x: auto;
}
#voterPage1 .electionList,
#voterPage1 .loginHistory {
  border-collapse: separate;
  border-spacing: 1px 2px;
  margin: 0 0 20px 0;
}
#voterPage1 .electionList td,
#voterPage1 .loginHistory td,
#voterPage1 .electionList th,
#voterPage1 .loginHistory th {
  padding: 3px 7px;
}
#voterPage1 .electionList .ename,
#voterPage1 .loginHistory .ename {
  background-color: lightyellow;
}
#voterPage1 .electionList .ename .c,
#voterPage1 .loginHistory .ename .c {
  color: #999;
  font-size: 80%;
  margin-left: 10px;
}
#voterPage1 .electionList .ename .t,
#voterPage1 .loginHistory .ename .t {
  color: #bbb;
  font-style: italic;
  font-size: 80%;
  margin-left: 10px;
}
#voterPage1 .electionList .online,
#voterPage1 .loginHistory .online {
  background-color: lightgoldenrodyellow;
}
#voterPage1 .electionList .vmethod,
#voterPage1 .loginHistory .vmethod {
  background-color: lightyellow;
}
#voterPage1 .electionList .vmethod button,
#voterPage1 .loginHistory .vmethod button {
  margin: 5px 0 0 0;
}
#voterPage1 .electionList .vtime,
#voterPage1 .loginHistory .vtime {
  background-color: lightgoldenrodyellow;
}
#voterPage1 .electionList .vtime.Processed,
#voterPage1 .loginHistory .vtime.Processed {
  background-color: palegreen;
}
#voterPage1 .electionList .center,
#voterPage1 .loginHistory .center {
  text-align: center;
}
#voterPage1 .loginHistory td {
  background-color: #cbd5f7;
}
#voterPage1 .loginHistory .nowrap {
  white-space: nowrap;
}
#voterPage1 .loginHistoryScroll {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 50px;
}
#voterPage1 .onlineFuture .online {
  background-color: palegreen;
}
#voterPage1 .onlineSoon .online {
  background-color: #fbb450;
}
#voterPage1 .onlineNow .online {
  background-color: #7dff7a;
}
#voterPage1 .onlinePast .online {
  background-color: lightcoral;
}
#voterPage1 .emails {
  margin: 0 0 10px;
}
#voterPage1 .emails label {
  margin-right: 5px;
}
#voterPage1 .emails button {
  margin-left: 15px;
}
#voterPage2 .emptyPoolMsg {
  font-weight: bold;
  margin: 3em 0;
}
#voterPage2 .returnBtn {
  float: right;
}
#voterPage2 #quote {
  font-style: italic;
}
#voterPage2 #quote cite {
  font-size: 80%;
  padding-left: 10px;
}
#voterPage2 #nameList {
  cursor: default;
  margin: 5px 20px;
  max-height: 300px;
  overflow: auto;
}
#voterPage2 #nameList li {
  border: 1px solid transparent;
}
#voterPage2 #nameList li.inPool {
  background-color: rgba(0, 255, 0, 0.2);
}
#voterPage2 #nameList li.inPool:after {
  content: '(in pool)';
  margin-left: 10px;
  font-size: 80%;
  font-style: italic;
}
#voterPage2 #nameList li.selectResult {
  border-color: black;
}
#voterPage2 #nameList li.notInPool.Ok {
  cursor: pointer;
}
#voterPage2 #nameList li.notInPool.Ok:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#voterPage2 #nameList li.notInPool.Ineligible {
  color: #e67474;
}
#voterPage2 #nameList li.notInPool.Ineligible .IRG {
  margin-left: 10px;
  font-size: 80%;
  font-style: italic;
}
#voterPage2 #nameList li.notInPool.Ineligible .IRG:before {
  content: '(';
}
#voterPage2 #nameList li.notInPool.Ineligible .IRG:after {
  content: ')';
}
#voterPage2 .OtherRegistration {
  color: #ff0000;
}
#voterPage2 .electionStatus {
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 170%;
  margin: 10px 0;
  padding: 0.5em;
  border-radius: 2px;
}
#voterPage2 .electionStatus.onlineFuture {
  background-color: palegreen;
}
#voterPage2 .electionStatus.onlineNow {
  background-color: #7dff7a;
}
#voterPage2 .electionStatus.onlineSoon {
  background-color: #fbb450;
}
#voterPage2 .electionStatus.onlinePast {
  background-color: lightcoral;
}
#voterPage2 .poolBuilder {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
#voterPage2 .poolBuilder > div {
  flex: 50%;
}
#voterPage2 .poolBuilder > div:first-child {
  margin-right: 10px;
}
#voterPage2 .poolBuilder .searchBox {
  width: 100px;
}
#voterPage2 .lockInBtns {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#voterPage2 .lockInBtns span {
  font-weight: bold;
  margin: 0 1em 0 0;
}
#voterPage2 .lockInBtns button:disabled {
  color: red;
}
#voterPage2 .lockIn > div {
  display: flex;
  align-items: center;
}
#voterPage2 .lockIn .disabled {
  color: #aaa;
}
#voterPage2 .lockIn #lockN:checked + label {
  color: #e80c4d;
}
#voterPage2 .lockIn #lockY:checked + label {
  background-color: #afffad;
}
#voterPage2 .movingInPool #pool div:active {
  color: green;
}
#voterPage2 .movingInPool #pool div:focus {
  color: red;
}
#voterPage2 .locked #pool > div {
  cursor: default;
  user-select: none;
}
#voterPage2 .locked #pool > div:hover {
  border-color: transparent;
  user-select: none;
}
#voterPage2 .locked #pool > div.inOther {
  color: #bbb;
}
#voterPage2 .locked #pool > div .removeFromPool {
  visibility: hidden;
}
#voterPage2 #pool > div {
  display: flex;
  align-items: center;
  margin: 3px 0;
  padding: 3px 0;
  font-size: 110%;
  border: 2px solid transparent;
  cursor: ns-resize;
}
#voterPage2 #pool > div:hover {
  border-color: grey;
}
#voterPage2 #pool > div.sortable-ghost {
  background-color: lightgoldenrodyellow;
  visibility: hidden;
  transition: background-color 2s linear;
}
#voterPage2 #pool > div.moving {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.5);
}
#voterPage2 #pool > div.inTop {
  background-color: #afffad;
  transition: background-color 2s linear;
}
#voterPage2 #pool > div.firstInOther {
  border-top: double 3px darkgray;
}
#voterPage2 #pool > div .num {
  width: 20px;
  text-align: center;
  font-size: 50%;
  color: lightslategray;
}
#voterPage2 #pool > div .removeFromPool {
  padding: 0 5px 0 10px;
  color: #6b6a6a;
  cursor: pointer;
}
#voterPage2 #pool > div .removeFromPool:before {
  content: 'x';
}
#voterPage2 #pool > div div {
  flex-grow: 2;
}
@media only screen and (max-width: 600px) {
  #voterPage2 .poolBuilder {
    display: flex;
    flex-wrap: wrap;
  }
  section.content-wrapper {
    padding: 30px 10px 0;
  }
  h1 {
    font-size: 23px;
    margin-right: 65px;
    line-height: normal;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlZvdGVySG9tZS5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFXVSxJQUxOLFdBQ0QsU0FDQyxZQUNFLE1BQ0UsTUFDRztFQUNDLHlCQUFBOztBQUdGLElBVE4sV0FDRCxTQUNDLFlBQ0UsTUFDRSxNQUtHO0VBQ0MsZ0NBQUE7O0FBUVosV0FDRTtFQUNFLDJCQUFBO0VBQ0EsbUJBQUE7RUFDQSxxQ0FBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7O0FBTkosV0FDRSxRQU9FO0VBQ0Usa0JBQUE7O0FBVE4sV0FhRTtFQUNFLGdCQUFBOztBQWRKLFdBaUJFO0FBakJGLFdBaUJpQjtFQUNiLHlCQUFBO0VBQ0EsdUJBQUE7RUFDQSxrQkFBQTs7QUFwQkosV0FpQkUsY0FLRTtBQXRCSixXQWlCaUIsY0FLYjtBQXRCSixXQWlCRSxjQUtNO0FBdEJSLFdBaUJpQixjQUtUO0VBQ0YsZ0JBQUE7O0FBdkJOLFdBaUJFLGNBU0U7QUExQkosV0FpQmlCLGNBU2I7RUFDRSw2QkFBQTs7QUEzQk4sV0FpQkUsY0FTRSxPQU1FO0FBaENOLFdBaUJpQixjQVNiLE9BTUU7RUFDRSxXQUFBO0VBQ0EsY0FBQTtFQUNBLGlCQUFBOztBQW5DUixXQWlCRSxjQVNFLE9BWUU7QUF0Q04sV0FpQmlCLGNBU2IsT0FZRTtFQUNFLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxpQkFBQTs7QUExQ1IsV0FpQkUsY0ErQkU7QUFoREosV0FpQmlCLGNBK0JiO0VBQ0Usc0NBQUE7O0FBakROLFdBaUJFLGNBbUNFO0FBcERKLFdBaUJpQixjQW1DYjtFQUNFLDZCQUFBOztBQXJETixXQWlCRSxjQW1DRSxTQUdFO0FBdkROLFdBaUJpQixjQW1DYixTQUdFO0VBQ0UsaUJBQUE7O0FBeERSLFdBaUJFLGNBMkNFO0FBNURKLFdBaUJpQixjQTJDYjtFQUNFLHNDQUFBOztBQUVBLFdBOUNKLGNBMkNFLE9BR0c7QUFBRCxXQTlDVyxjQTJDYixPQUdHO0VBQ0MsMkJBQUE7O0FBaEVSLFdBaUJFLGNBbURFO0FBcEVKLFdBaUJpQixjQW1EYjtFQUNFLGtCQUFBOztBQXJFTixXQXlFRSxjQUNFO0VBQ0UseUJBQUE7O0FBM0VOLFdBeUVFLGNBS0U7RUFDRSxtQkFBQTs7QUEvRU4sV0FtRkU7RUFDRSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTs7QUF0RkosV0F5RkUsY0FDRTtFQUNFLDJCQUFBOztBQTNGTixXQStGRSxZQUNFO0VBQ0UseUJBQUE7O0FBakdOLFdBcUdFLFdBQ0U7RUFDRSx5QkFBQTs7QUF2R04sV0EyR0UsWUFDRTtFQUNFLDRCQUFBOztBQTdHTixXQWlIRTtFQUNFLGdCQUFBOztBQWxISixXQWlIRSxRQUdFO0VBQ0UsaUJBQUE7O0FBckhOLFdBaUhFLFFBT0U7RUFDRSxpQkFBQTs7QUFNTixXQUNFO0VBQ0UsaUJBQUE7RUFDQSxhQUFBOztBQUhKLFdBTUU7RUFDRSxZQUFBOztBQVBKLFdBVUU7RUFDRSxrQkFBQTs7QUFYSixXQVVFLE9BR0U7RUFDRSxjQUFBO0VBQ0Esa0JBQUE7O0FBZk4sV0FzQkU7RUFDRSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLGNBQUE7O0FBMUJKLFdBc0JFLFVBTUU7RUFDRSw2QkFBQTs7QUFFQSxXQVRKLFVBTUUsR0FHRztFQUNDLHNDQUFBOztBQUVBLFdBWk4sVUFNRSxHQUdHLE9BR0U7RUFDQyxTQUFTLFdBQVQ7RUFDQSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTs7QUFJSixXQXBCSixVQU1FLEdBY0c7RUFDQyxtQkFBQTs7QUFJQSxXQXpCTixVQU1FLEdBa0JHLFVBQ0U7RUFDQyxlQUFBOztBQUVBLFdBNUJSLFVBTUUsR0FrQkcsVUFDRSxHQUdFO0VBQ0Msb0NBQUE7O0FBSUosV0FqQ04sVUFNRSxHQWtCRyxVQVNFO0VBQ0MsY0FBQTs7QUFERixXQWpDTixVQU1FLEdBa0JHLFVBU0UsV0FHQztFQUNFLGlCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBOztBQUVBLFdBekNWLFVBTUUsR0FrQkcsVUFTRSxXQUdDLEtBS0c7RUFDQyxTQUFTLEdBQVQ7O0FBR0YsV0E3Q1YsVUFNRSxHQWtCRyxVQVNFLFdBR0MsS0FTRztFQUNDLFNBQVMsR0FBVDs7QUFwRWQsV0E0RUU7RUFDRSxjQUFBOztBQTdFSixXQWdGRTtFQUNFLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQkFBQTtFQUNBLGlCQUFBO0VBQ0EsY0FBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTs7QUFFQSxXQVRGLGdCQVNHO0VBQ0MsMkJBQUE7O0FBR0YsV0FiRixnQkFhRztFQUNDLHlCQUFBOztBQUdGLFdBakJGLGdCQWlCRztFQUNDLHlCQUFBOztBQUdGLFdBckJGLGdCQXFCRztFQUNDLDRCQUFBOztBQXRHTixXQTBHRTtFQUNFLGFBQUE7RUFDQSw4QkFBQTtFQUNBLGlCQUFBOztBQTdHSixXQTBHRSxhQUtFO0VBQ0UsU0FBQTs7QUFFQSxXQVJKLGFBS0UsTUFHRztFQUNDLGtCQUFBOztBQW5IUixXQTBHRSxhQWFFO0VBQ0UsWUFBQTs7QUF4SE4sV0E0SEU7RUFDRSxhQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7O0FBaElKLFdBNEhFLFlBTUU7RUFDRSxpQkFBQTtFQUNBLGlCQUFBOztBQXBJTixXQTRIRSxZQVdFLE9BQU07RUFDSixVQUFBOztBQXhJTixXQTRJRSxRQUNFO0VBQ0UsYUFBQTtFQUNBLG1CQUFBOztBQS9JTixXQTRJRSxRQU1FO0VBQ0UsV0FBQTs7QUFuSk4sV0E0SUUsUUFVRSxPQUFNLFFBQVM7RUFDYixjQUFBOztBQXZKTixXQTRJRSxRQWNFLE9BQU0sUUFBUztFQUNiLHlCQUFBOztBQTNKTixXQStKRSxjQUNFLE1BQ0UsSUFBRztFQUNELFlBQUE7O0FBbEtSLFdBK0pFLGNBQ0UsTUFLRSxJQUFHO0VBQ0QsVUFBQTs7QUF0S1IsV0EyS0UsUUFDRSxNQUNFO0VBQ0UsZUFBQTtFQUNBLGlCQUFBOztBQUVBLFdBTk4sUUFDRSxNQUNFLE1BSUc7RUFDQyx5QkFBQTtFQUNBLGlCQUFBOztBQUdGLFdBWE4sUUFDRSxNQUNFLE1BU0c7RUFDQyxXQUFBOztBQXZMVixXQTJLRSxRQUNFLE1BQ0UsTUFhRTtFQUNFLGtCQUFBOztBQTNMVixXQWlNRSxNQUNFO0VBQ0UsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsYUFBQTtFQUNBLGNBQUE7RUFDQSxlQUFBO0VBQ0EsNkJBQUE7RUFDQSxpQkFBQTs7QUFFQSxXQVZKLE1BQ0UsTUFTRztFQUNDLGtCQUFBOztBQUdGLFdBZEosTUFDRSxNQWFHO0VBQ0Msc0NBQUE7RUFDQSxrQkFBQTtFQUNBLHNDQUFBOztBQUdGLFdBcEJKLE1BQ0UsTUFtQkc7RUFDQyxnQ0FBQTtFQUNBLGdEQUFBOztBQUdGLFdBekJKLE1BQ0UsTUF3Qkc7RUFDQyx5QkFBQTtFQUNBLHNDQUFBOztBQUdGLFdBOUJKLE1BQ0UsTUE2Qkc7RUFDQywrQkFBQTs7QUFoT1IsV0FpTUUsTUFDRSxNQW9DRTtFQUNFLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxxQkFBQTs7QUExT1IsV0FpTUUsTUFDRSxNQTJDRTtFQUNFLHFCQUFBO0VBQ0EsY0FBQTtFQUNBLGVBQUE7O0FBRUEsV0FqRE4sTUFDRSxNQTJDRSxnQkFLRztFQUNDLFNBQVMsR0FBVDs7QUFuUFYsV0FpTUUsTUFDRSxNQXFERTtFQUNFLFlBQUE7O0FBT1Isd0JBQTBDO0VBQ3hDLFdBQ0U7SUFDRSxhQUFBO0lBQ0EsZUFBQTs7RUFJSixPQUFPO0lBQ0wsb0JBQUE7O0VBR0Y7SUFDRSxlQUFBO0lBQ0Esa0JBQUE7SUFDQSxtQkFBQSJ9 */