@band1: lightyellow;
@band2: lightgoldenrodyellow;
@future: palegreen;
@now: #7dff7a;
@past: lightcoral;
@top: #7dff7a;

body.VoterIndex {
  &.noCursor {
    #voterPage2 {
      #pool {
        > div {
          &:hover {
            border-color: transparent;
          }

          &.moving {
            border-color: rgba(0, 0, 0, .8);
          }
        }
      }
    }
  }
}

#voterPage1 {
  .electionList {
    border-collapse: separate;
    border-spacing: 1px 2px;

    td, th {
      padding: 3px 5px;
    }

    .ename {
      background-color: @band1;
    }

    .pname {
      background-color: @band1;
    }

    .online {
      background-color: @band2;
    }

    .vmethod {
      background-color: @band2;
    }

    .vtime {
      background-color: @band1;
    }

    .center {
      text-align: center;
    }
  }

  .future {
    .online {
      background-color: @future;
    }
  }

  .now {
    .online {
      background-color: @now;
    }
  }

  .past {
    .online {
      background-color: @past;
    }
  }
}


#voterPage2 {
  .emptyPoolMsg {
    font-weight: bold;
    margin: 3em 0;
  }

  #nameList {
    cursor: default;
    margin-right: 20px;

    li {
      border: 1px solid transparent;

      &.inPool {
        background-color: rgba(0,255,0,0.2);
      }

      &.selectResult {
        border-color: black;
      }

      &.notInPool {
        &.Ok {
          cursor: pointer;

          &:hover {
            background-color: rgba(0,0,0,0.1);
          }
        }

        &.NoVotes {
          background-color: rgba(128,0,0,0.1);
        }
      }
    }
  }

  .electionStatus {
    padding: 0px 10px;
    position: absolute;
    top: 0;
    right: 10px;

    &.future {
      background-color: @future;
    }

    &.now {
      background-color: @now;
    }

    &.past {
      background-color: @past;
    }
  }

  .poolBuilder {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 50%;
    }

    .searchBox {
      width: 100px;
    }
  }

  .lockIn {
    margin: 1em 0;

    > div {
      display: flex;
      align-items: center;
    }

    #lockN:checked + label {
      color: red;
    }

    #lockY:checked + label {
      background-color: @top;
    }
  }

  .movingInPool {
    #pool {
      div:active {
        color: green;
      }

      div:focus {
        color: red;
      }
    }
  }

  .locked {
    #pool {
      > div {
        cursor: default;
        user-select: none;

        &:hover {
          border-color: transparent;
          user-select: none;
        }

        &.inOther {
          color: #bbb;
        }

        .removeFromPool {
          visibility: hidden;
        }
      }
    }
  }

  #pool {
    > div {
      display: flex;
      align-items: center;
      margin: 3px 0;
      padding: 3px 0;
      font-size: 110%;
      border: 2px solid transparent;
      cursor: ns-resize;

      &:hover {
        border-color: grey;
      }

      &.sortable-ghost {
        background-color: lightgoldenrodyellow;
        visibility: hidden;
        transition: background-color 2s linear;
      }

      &.moving {
        border-color: rgba(0, 0, 0, .8);
        box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, .5);
      }

      &.inTop {
        background-color: @top;
        transition: background-color 2s linear;
      }

      &.firstInOther {
        border-top: double 3px darkgray;
      }

      &.inOther {
      }

      .num {
        width: 20px;
        text-align: center;
        font-size: 50%;
        color: lightslategray;
      }

      .removeFromPool {
        padding: 0 5px 0 10px;
        color: #b33f1e;
        cursor: pointer;
      }

      div {
        flex-grow: 2;
      }
    }
  }
}
