@band1: lightyellow;
@band2: lightgoldenrodyellow;
@future: palegreen;
@now: greenyellow;
@past: lightcoral;

#voterPage1 {
  .electionList {
    border-collapse: separate;
    border-spacing: 1px 2px;

    td, th {
      padding: 3px 5px;
    }

    .ename {
      background-color: @band1;
    }

    .pname {
      background-color: @band1;
    }

    .online {
      background-color: @band2;
    }

    .vmethod {
      background-color: @band2;
    }

    .vtime {
      background-color: @band1;
    }

    .center {
      text-align: center;
    }
  }

  .future {
    .online {
      background-color: @future;
    }
  }

  .now {
    .online {
      background-color: @now;
    }
  }

  .past {
    .online {
      background-color: @past;
    }
  }
}


#voterPage2 {
  .electionStatus {
    padding: 0px 10px;
    position: absolute;
    top: 0;
    right: 10px;

    &.future {
      background-color: @future;
    }

    &.now {
      background-color: @now;
    }

    &.past {
      background-color: @past;
    }
  }
}
