#voterBody {
  .electionList {
    border-collapse: separate;
    border-spacing: 1px 2px;

    .ename {
      padding: 3px 5px;
      margin: 1px 5px;
      background-color: lightgoldenrodyellow;
    }

    .pname {
    }

    .online {
    }
  }
}
