@model SetupModel
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@{
  ContextItems.AddJavascriptForPage("editPersonUrl", "editPersonPage.controllerUrl={0};".FilledWith(Url.Action("Index", "Setup").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("editPersonInvalids", "editPersonPage.invalidReasons={0};".FilledWith(IneligibleReasonEnum.InvalidReasonsJsonString()));
  ContextItems.AddJavascriptForPage("editPersonRules", "editPersonPage.defaultRules={rules};".FilledWith(new SetupModel().RulesForCurrentElection));
}
<input type="hidden" data-name="C_RowId" />
<table class="personEdit">
  <tr>
    <td>
      First Name
    </td>
    <td>
      <input type="text" data-name="FirstName" maxlength="50" class="text50" />
      <span class="ui-icon ui-icon-info" id="qTipFName"></span>
    </td>
  </tr>
  <tr>
    <td>
      Last Name
    </td>
    <td>
      <input type="text" data-name="LastName" maxlength="50" class="text50" />
      <span class="ui-icon ui-icon-info" id="qTipLName"></span>
    </td>
  </tr>
  <tr class="topLine">
    <td>
      <label for="ddlIneligible">Eligiblity status:</label>
    </td>
    <td>
      <select id="ddlIneligible" data-name="IneligibleReasonGuid"></select>
      <span class="ui-icon ui-icon-info" id="qTipIneligible"></span>
    </td>
  </tr>
  <tr id="trCanVote" class="topLine overrides">
    <td colspan="2">
      <label for="input2">Can vote in this election?</label>
      @*<input type="checkbox" readonly data-name="CanVote" id="input2" />*@
      <select data-name="CanVote" disabled="disabled">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <span class="sample">(e.g. name **)</span>
      @*<span class="ui-icon ui-icon-info" id="qTipCnVote"></span>*@
    </td>
  </tr>
  <tr id="trCanReceiveVotes" class="topLine overrides">
    <td colspan="2">
      <label for="input1">Can be voted for in this election?</label>
      @*<input type="checkbox" readonly id="input1" data-name="CanReceiveVotes" />*@
      <select data-name="CanReceiveVotes" disabled="disabled">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <span class="sample">(e.g. <span class="CannotReceiveVotesSample">name</span>)</span>
      @*<span class="ui-icon ui-icon-info" id="qTipCanReceive"></span>*@
    </td>
  </tr>

  <tr>
    <td>
      Other First Name(s)
    </td>
    <td>
      <input type="text" data-name="OtherNames" maxlength="100" class="text100" />
      <span class="ui-icon ui-icon-info" id="qTipOtherName"></span>
    </td>
  </tr>
  <tr>
    <td>
      Other Last Name(s) / Maiden Name
    </td>
    <td>
      <input type="text" data-name="OtherLastNames" maxlength="100" class="text100" />
      <span class="ui-icon ui-icon-info" id="qTipOtherLastName"></span>
    </td>
  </tr>
  <tr>
    <td>
      Other Identifying Information
    </td>
    <td>
      <input type="text" data-name="OtherInfo" maxlength="150" class="text150" />
      <span class="ui-icon ui-icon-info" id="qTipOtherInfo"></span>
    </td>
  </tr>
  <tr>
    <td>
      Sector / Area
    </td>
    <td>
      <input type="text" data-name="Area" maxlength="50" class="text50" />
      <span class="ui-icon ui-icon-info" id="qTipArea"></span>
    </td>
  </tr>
  <tr>
    <td>
      Bahá'í ID
    </td>
    <td>
      <input type="text" data-name="BahaiId" maxlength="20" class="text20" />
      <span class="ui-icon ui-icon-info" id="qTipBahaiId"></span>
    </td>
  </tr>
  @*        <tr>
        <td>
            Age Group
        </td>
        <td>
            <select data-name="AgeGroup">
                <option value="A">Adult</option>
                <option value="Y">Youth</option>
                <option value="JY">Junior Youth</option>
                <option value="C">Child</option>
            </select>
        </td>
    </tr>
  *@
  <tr>
    <td></td>
    <td>
      <button type="button" id="btnSave" class="btn btn-primary" accesskey="S">
        <u>S</u>ave Changes
      </button>
    </td>
  </tr>
</table>
