@model ImportV1Model
@using TallyJ.Code.Session
@{
    ContextItems.AddJavascriptForPage("controllerUrl", "importV1Page.controllerUrl={0};".FilledWith(@Url.Action("Index", "Setup").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("previous", "importV1Page.previousFiles={0};".FilledWith(Model.PreviousUploads().SerializedAsJsonString()));
    ViewBag.Title = "Import Version 1";
}
<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>
<div class="PullInstructions">
  <ol>
    <li>This page is only of interest to those who have used TallyJ version 1, and wish to import those files into version 2.</li>
    <li>Version 1 of TallyJ required the use of two XML data files: a Community file with
      the names of all voters, and an Election file with the ballots and votes cast.</li>
    <li>In Version 2 of TallyJ, which you are using now, all of this information is contained
      in one "Election". Both of the version 1 XML data files can be loaded into the current
      Election via this page.</li>
    <li>If you are beginning an election, only the Community file would need to be loaded.
      The details of this election can be entered on the "Setup the Election" page.</li>
    <li>If you are loading the version 1 files for archival or testing purposes, it is best
      to load both files. However, the Election file can be loaded on its own, and the
      complete election results can be viewed. (The only information missing would be
      the information about who voted, and the participation percentage.)</li>
  </ol>
</div>
<h2>
    Step 1: Upload the XML file</h2>
<p>
    Click the button below to choose and upload a file, or drag the file from Windows
    Explorer to this window.
</p>
<div id="file-uploader">
</div>
<div class="uploadList">
    <h4>
        Files on Server</h4>
    <table>
        <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Status
                </th>
                <th>
                    Name
                </th>
                <th>
                    File Type
                </th>
                <th>
                    Upload Time
                </th>
                <th>
                    Size
                </th>
                <th>
                    Other Actions
                </th>
            </tr>
        </thead>
        <tbody id="uploadListBody">
            <tr data-rowid="{C_RowId}" class="{ProcessingStatus} {RowClass}">
                <td class="Actions">
                    <div class="MakeActive" title="Select this file for mapping columns and importing people">
                        Select</div>
                    <span>(selected)</span>
                </td>
                <td>
                    {ProcessingStatusAndSteps}
                </td>
                <td>
                    {OriginalFileName}
                </td>
                <td>
                    {TypeDisplay}
                </td>
                <td>
                    {UploadTimeExt}
                </td>
                <td>
                    {FileSize}
                </td>
                <td>
                    <button type="button" class="download" title="Download a copy of this file">
                        <span class="ui-icon ui-icon-arrowreturn-1-s"></span>
                    </button>
                    <button type="button" class="deleteFile" title="Permanently delete this from the server">
                        <span class="ui-icon ui-icon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>
    Step 2: Import data</h2>
<p>
    All the information in the file will be processed and added to the current election.
    Any names that match will not be added again.
</p>
<p>
    Before loading, you may remove all previously loaded names and ballots by clicking "Delete all Information" below.</p>
<div>
    <button type="button" id="btnImport">
        Import People/Ballots</button>
    <button type="button" id="btnClearAll" class="float-right">
        Delete all Information</button>
</div>
<div id="importResults">
</div>
