@model ImportExportModel
@using TallyJ.Code.Session
@{
  ViewBag.Title = "Import / Export";
  ViewBag.Message = "Dealing with the names in the community";

  ContextItems.AddJavascriptForPage("controllerUrl", "importExportPage.controllerUrl={0};".FilledWith(@Url.Action("Index", "Setup").QuotedForJavascript()));
}
<button type="button" id="btnResetList">Reset all information</button>