h2 {
  margin: 20px 0 5px 0;
  color: #af5f00;
  font-weight: normal;
}
h2 span {
  color: #013d7a;
  margin-left: 11px;
}
#chooseFile {
  display: block;
  width: 700px;
  border: 1px solid #ccc;
}
.ui-icon {
  display: inline-block;
}
.uploadList {
  margin-left: 10px;
}
.uploadList h4 {
  margin-left: -10px;
}
.uploadList table {
  border-collapse: collapse;
}
.uploadList table td {
  border: 1px solid #ccc;
  padding: 0 6px 0 6px;
}
.qq-uploader {
  position: relative;
  width: 100%;
}
.qq-upload-button {
  display: block;
  /* or inline-block */
  width: 105px;
  padding: 7px 0;
  text-align: center;
  background: #4b8200;
  border-bottom: 1px solid #ddd;
  color: #fff;
}
.qq-upload-button-hover {
  background: #7db62e;
}
.qq-upload-button-focus {
  outline: 1px dotted black;
}
.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 70px;
  z-index: 2;
  background: #FF9797;
  text-align: center;
}
.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px;
}
.qq-upload-drop-area-active {
  background: #FF7171;
}
.qq-upload-list {
  display: none;
  /* don't need for tallyj */
  margin: 15px 35px;
  padding: 0;
  list-style: disc;
}
.qq-upload-list li {
  margin: 0;
  padding: 0;
  line-height: 15px;
  font-size: 12px;
}
.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
  margin-right: 7px;
}
.qq-upload-spinner {
  display: inline-block;
  background: url("loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.qq-upload-size,
.qq-upload-cancel {
  font-size: 11px;
}
.qq-upload-failed-text {
  display: none;
}
.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}
tr.Active {
  background-color: #fff;
}
.Actions {
  text-align: center;
}
.Actions div:hover {
  background-color: #ddd;
}
.Actions div {
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 3px;
  text-align: center;
  color: #00c600;
}
span.MakeActive:hover {
  text-decoration: underline;
}
tr.Active .Actions div {
  display: none;
}
tr.NotActive .Actions span {
  display: none;
}
tr.Uploaded .CopyMap {
  display: none;
}
#fieldSelector {
  white-space: nowrap;
  clear: right;
  position: relative;
  overflow-x: auto;
}
#fieldSelector > div {
  width: 100px;
  display: inline-block;
  background-color: #ddd;
  margin: 0 0 0 1px;
  overflow: hidden;
}
#fieldSelector > div.Col.FirstCol {
  margin-left: 22px;
}
#fieldSelector > div.Col {
  color: #aaa;
}
#fieldSelector > div.Col.mapped {
  background-color: #e9ffe9;
  color: #000;
}
#fieldSelector select {
  display: block;
  margin-top: 5px;
  width: 100px;
  color: #005800;
}
#fieldSelector select.Mapped {
  color: black;
  font-weight: bold;
}
#fieldSelector div div {
  overflow: hidden;
  padding: 0 0 0 2px;
}
#fieldSelector h5 {
  margin: 0 0 2px 2px;
  padding: 0 0 0 2px;
  color: #333;
}
#btnPrepareFields {
  float: right;
}
#fieldSelector > div.ImportTips {
  height: 100%;
  position: absolute;
  width: 20px;
  background-color: transparent;
}
.ImportTips span {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 2px;
}
.ImportTips span#qTipImportFoot {
  top: 27px;
}
#mappingError {
  color: red;
  font-size: 110%;
  margin: 4px 0 0 23px;
}
.reasonExamples {
  display: flex;
}
.reasonExamples h3 {
  margin: 0;
}
.reasonList {
  padding: 5px 9px;
  margin: -3px 0 5px 5px;
  background-color: #fcF6f2;
}
.reasonSamples {
  margin: 10px 0 0 15px;
}
.reasonSamples dt {
  margin-top: 10px;
}
.reasonSamples dd {
  margin-left: 25px;
}
.reasonSamples dd strong {
  display: block;
  margin: 0 0 0 45px;
  border: 1px solid transparent;
  padding: 0 2px 0 4px;
  margin-bottom: -1px;
  cursor: pointer;
}
.reasonSamples dd strong:hover {
  border-color: #4b8200;
}
p.aboutEligibility {
  margin: 1em 0 0 0;
}
dl {
  margin-top: 0;
}
#listOfStatusReasons dt {
  margin: 15px 0 0 0;
  font-weight: normal;
  border-bottom: 1px solid #333;
}
#listOfStatusReasons dd {
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 0 2px 0 4px;
  margin-bottom: -1px;
}
#listOfStatusReasons dd:hover {
  border-color: #4b8200;
}
#importResults {
  display: none;
  margin: 10px 0 0 0;
  vertical-align: top;
  line-height: 1.3;
  text-align: left;
  border-radius: 2px;
  padding: 8px 10px;
  background-color: white;
  box-shadow: 0 3px 9px #555;
}
#importResults.failed {
  background-color: #ffd9d9;
  color: #9A0000;
}
.DbCount {
  margin: 5px 9px 0 0;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkltcG9ydENzdi5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNFLG9CQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBOztBQUhGLEVBS0U7RUFDRSxjQUFBO0VBQ0EsaUJBQUE7O0FBS0Y7RUFDRSxjQUFBO0VBQ0EsWUFBQTtFQUNBLHNCQUFBOztBQUdGO0VBQ0UscUJBQUE7O0FBR0Y7RUFDRSxpQkFBQTs7QUFHRixXQUFZO0VBQ1Ysa0JBQUE7O0FBR0YsV0FBWTtFQUNWLHlCQUFBOztBQUdGLFdBQVksTUFBTTtFQUNoQixzQkFBQTtFQUNBLG9CQUFBOztBQUlGO0VBQ0Usa0JBQUE7RUFDQSxXQUFBOztBQUdGO0VBQ0UsY0FBQTs7RUFDQSxZQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7RUFDQSw2QkFBQTtFQUNBLFdBQUE7O0FBR0Y7RUFDRSxtQkFBQTs7QUFHRjtFQUNFLHlCQUFBOztBQUdGO0VBQ0Usa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7RUFDQSxVQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTs7QUFHRixvQkFBcUI7RUFDbkIsY0FBQTtFQUNBLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFdBQUE7RUFDQSxnQkFBQTtFQUNBLGVBQUE7O0FBR0Y7RUFDRSxtQkFBQTs7QUFHRjtFQUNFLGFBQUE7O0VBQ0EsaUJBQUE7RUFDQSxVQUFBO0VBQ0EsZ0JBQUE7O0FBR0YsZUFBZ0I7RUFDZCxTQUFBO0VBQ0EsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTs7QUFHRjtBQUFpQjtBQUFvQjtBQUFpQjtBQUFtQjtFQUN2RSxpQkFBQTs7QUFNRjtFQUNFLHFCQUFBO0VBQ0EsZ0JBQWdCLGNBQWhCO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSwyQkFBQTs7QUFHRjtBQUFpQjtFQUNmLGVBQUE7O0FBR0Y7RUFDRSxhQUFBOztBQUdGLGVBQWdCO0VBQ2QsZUFBQTs7QUFHRixFQUFFO0VBQ0Esc0JBQUE7O0FBR0Y7RUFDRSxrQkFBQTs7QUFHRixRQUFTLElBQUc7RUFDVixzQkFBQTs7QUFHRixRQUFTO0VBQ1AsZUFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTs7QUFHRixJQUFJLFdBQVc7RUFDYiwwQkFBQTs7QUFHRixFQUFFLE9BQVEsU0FBUztFQUNqQixhQUFBOztBQU1GLEVBQUUsVUFBVyxTQUFTO0VBQ3BCLGFBQUE7O0FBR0YsRUFBRSxTQUFVO0VBQ1YsYUFBQTs7QUFHRjtFQUNFLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7O0FBR0YsY0FBZTtFQUNiLFlBQUE7RUFDQSxxQkFBQTtFQUNBLHNCQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTs7QUFHRixjQUFlLE1BQUssSUFBSTtFQUN0QixpQkFBQTs7QUFHRixjQUFlLE1BQUs7RUFDbEIsV0FBQTs7QUFHRixjQUFlLE1BQUssSUFBSTtFQUN0Qix5QkFBQTtFQUNBLFdBQUE7O0FBSUYsY0FBZTtFQUNiLGNBQUE7RUFDQSxlQUFBO0VBQ0EsWUFBQTtFQUNBLGNBQUE7O0FBR0YsY0FBZSxPQUFNO0VBQ25CLFlBQUE7RUFDQSxpQkFBQTs7QUFHRixjQUFlLElBQUk7RUFDakIsZ0JBQUE7RUFDQSxrQkFBQTs7QUFHRixjQUFlO0VBQ2IsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7O0FBSUY7RUFDRSxZQUFBOztBQUdGLGNBQWUsTUFBSztFQUNsQixZQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsNkJBQUE7O0FBR0YsV0FBWTtFQUNWLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsUUFBQTs7QUFHRixXQUFZLEtBQUk7RUFDZCxTQUFBOztBQUdGO0VBQ0UsVUFBQTtFQUNBLGVBQUE7RUFDQSxvQkFBQTs7QUFHRjtFQUNFLGFBQUE7O0FBR0YsZUFBZ0I7RUFDZCxTQUFBOztBQUdGO0VBQ0UsZ0JBQUE7RUFDQSxzQkFBQTtFQUNBLHlCQUFBOztBQUdGO0VBQ0UscUJBQUE7O0FBREYsY0FHRTtFQUNFLGdCQUFBOztBQUpKLGNBUUU7RUFDRSxpQkFBQTs7QUFUSixjQVFFLEdBR0U7RUFDRSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSw2QkFBQTtFQUNBLG9CQUFBO0VBQ0EsbUJBQUE7RUFDQSxlQUFBOztBQUVBLGNBWEosR0FHRSxPQVFHO0VBQ0MscUJBQUE7O0FBTVIsQ0FBQztFQUNDLGlCQUFBOztBQUdGO0VBQ0UsYUFBQTs7QUFHRixvQkFDRTtFQUNFLGtCQUFBO0VBQ0EsbUJBQUE7RUFDQSw2QkFBQTs7QUFKSixvQkFPRTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLDZCQUFBO0VBQ0Esb0JBQUE7RUFDQSxtQkFBQTs7QUFFQSxvQkFQRixHQU9HO0VBQ0MscUJBQUE7O0FBTU47RUFDRSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EsdUJBQUE7RUFDQSwwQkFBQTs7QUFHRixjQUFjO0VBQ1oseUJBQUE7RUFDQSxjQUFBOztBQUdGO0VBQ0UsbUJBQUEifQ== */