[v-cloak] {
  display: none;
}
.ckHost {
  margin: 5px 0 1em 0;
}
#notifyBody .forSmsInline,
#notifyBody .forSmsBlock {
  display: none;
}
#notifyBody.Sms .forSmsInline {
  display: inline;
}
#notifyBody.Sms .forSmsBlock {
  display: block;
}
.estSmsCost {
  color: dimgray;
}
.estSmsCostComment {
  color: dimgray;
  font-style: italic;
  margin-top: -0.5em;
}
.template {
  color: #af5f00;
  user-select: all;
  cursor: pointer;
}
.templateComment {
  color: dimgrey;
  font-size: 85%;
  font-style: italic;
}
h2 {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #af5f00;
  font-weight: normal;
}
h2 span {
  color: #013d7a;
  margin-left: 11px;
}
.smsText {
  white-space: pre-line;
  padding: 0 1em 1em;
  max-width: 500px;
  border: 1px solid #666;
}
.subject {
  width: 300px;
}
.ui-icon {
  display: inline-block;
}
.ui-icon-arrow-2-n-s {
  cursor: pointer;
}
.techInfo {
  font-size: 75%;
  color: #ccc;
}
.comments {
  font-size: 90%;
  color: #777;
  display: inline-block;
}
.isSaveNeeded {
  color: #e80c27;
  font-style: italic;
}
.sideBySide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0 0 0;
}
.sideBySide h3 {
  margin: 0;
}
.emailHistoryHost {
  max-height: 400px;
  overflow: auto;
}
.emailHistoryHost.loadingLog {
  opacity: 0.4;
}
.emailHistoryHost table {
  border-collapse: separate;
  border-spacing: 1px 1px;
  margin: 0 0 20px 0;
  font-size: 85%;
  width: 100%;
}
.emailHistoryHost table th {
  text-align: left;
}
.emailHistoryHost table td {
  background-color: #cbd5f7;
  vertical-align: top;
  width: auto;
  padding: 2px 3px;
}
.emailHistoryHost table tr.endOfSection td {
  border-bottom: 3px double #999;
}
.emailHistoryHost table tr.withPhone td {
  background-color: rgba(203, 213, 247, 0.38);
}
.emailHistoryHost table tr.withPhone td:first-child {
  padding-left: 10px;
}
.emailHistoryHost table td:nth-child(3) {
  width: auto;
}
.emailHistoryHost table .nowrap {
  white-space: nowrap;
}
.emailButtons table th {
  text-align: right;
}
.emailButtons table td,
.emailButtons table th {
  vertical-align: middle;
  width: auto;
}
.messageBtns {
  margin: 1em 0;
}
.messageBtns .bottom {
  margin-top: 1em;
}
.warning {
  color: darkred;
}
.EmailError {
  color: #de0000;
  font-weight: bold;
  background-color: #ffeeee;
  padding: 2px 6px 2px 6px;
  width: fit-content;
}
div.pending {
  margin: 0.5em 0;
  font-weight: bold;
  color: red;
}
#notifyBody .emailBySms {
  grid-template-areas: 'e1' 'e2' 'listingSelection' 'e3';
  grid-template-columns: 1fr;
}
#notifyBody .ehead,
#notifyBody .shead,
#notifyBody .smsHost,
#notifyBody .smsListing,
#notifyBody .messageBtns.sms {
  display: none;
}
#notifyBody.Sms .emailBySms {
  grid-template-areas: 'eh sh' 'e1 s1' 'e2 s2' 'listingSelection listingSelection' 'e3 e3';
  grid-template-columns: 1fr 1fr;
}
#notifyBody.Sms .ehead,
#notifyBody.Sms .shead,
#notifyBody.Sms .smsHost,
#notifyBody.Sms .smsListing,
#notifyBody.Sms .messageBtns.sms {
  display: block;
}
.emailBySms {
  display: grid;
  grid-column-gap: 10px;
}
.emailBySms .ehead {
  grid-area: eh;
}
.emailBySms .shead {
  grid-area: sh;
}
.emailBySms .emailHost {
  grid-area: e1;
}
.emailBySms .samplePhone {
  display: inline-block;
  margin: 0 1em 1em;
  vertical-align: top;
  padding: 3px 0 0 0;
}
.emailBySms .samplePhone .text50 {
  width: 150px;
}
.emailBySms .samplePhone div {
  padding: 3px 0 0 4px;
}
.emailBySms .listingSelection {
  grid-area: listingSelection;
}
.emailBySms .electionInfo {
  text-align: center;
  background-color: #fafafa;
  padding: 7px 0 2px 0;
  font-size: 85%;
}
.emailBySms .selections {
  text-align: center;
  padding: 0.5em 0;
  background: #fafafa;
  margin: 0 0 5px 0;
}
.emailBySms .selections > span {
  margin: 0 7px;
}
.emailBySms .selections button {
  margin: 0 -1px;
}
.emailBySms .smsHost {
  grid-area: s1;
}
.emailBySms .messageBtns.email {
  grid-area: e2;
}
.emailBySms .messageBtns.sms {
  grid-area: s2;
}
.emailBySms .emailListing {
  grid-area: e3;
}
.emailBySms .emailListing.loading {
  opacity: 0.4;
}
.emailBySms .emailListing .el-table {
  font-size: 14px;
  background-color: transparent;
}
.emailBySms .emailListing .el-table th,
.emailBySms .emailListing .el-table tr {
  background-color: transparent;
  color: #000;
  padding: 0;
}
.emailBySms .emailListing .el-table th {
  font-weight: bold;
}
.emailBySms .emailListing .el-table .el-table-column--selection .cell {
  text-align: center;
}
.emailBySms .emailListing .el-table .el-table__header-wrapper {
  background-color: transparent;
  color: #000;
  border-bottom: 1px solid #000;
}
.emailBySms .emailListing .el-table tr.method_Online .votingMethod,
.emailBySms .emailListing .el-table tr:hover.method_Online .votingMethod {
  background-color: #b7ff95;
}
.emailBySms .emailListing .el-table tr.method_other .votingMethod,
.emailBySms .emailListing .el-table tr:hover.method_other .votingMethod {
  background-color: #ffc195;
}
.emailBySms .emailListing .el-table tr.ballot_Submitted .onlineStatus,
.emailBySms .emailListing .el-table tr:hover.ballot_Submitted .onlineStatus {
  background-color: #409eff;
  color: #fff;
}
.emailBySms .emailListing .el-table tr.ballot_Processed .onlineStatus,
.emailBySms .emailListing .el-table tr:hover.ballot_Processed .onlineStatus {
  background-color: #b7ff95;
}
.emailBySms .emailListing .el-table tr.ballot_Draft .onlineStatus,
.emailBySms .emailListing .el-table tr:hover.ballot_Draft .onlineStatus {
  background-color: #ffc195;
}
.emailBySms .emailListing .el-table tr.ballot_ .onlineStatus,
.emailBySms .emailListing .el-table tr:hover.ballot_ .onlineStatus,
.emailBySms .emailListing .el-table tr.ballot_ .votingMethod,
.emailBySms .emailListing .el-table tr:hover.ballot_ .votingMethod {
  background-color: #ff6666;
}
.el-table th > .el-table-column--selection .cell {
  padding-left: 14px;
  padding-right: 14px;
}
@media only screen and (max-width: 600px) {
  .emailBySms {
    grid-template-areas: 'e1' 'e2' 'listingSelection' 'e3';
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .emailBySms h2 {
    margin-top: 2em;
  }
  #notifyBody .emailBySms {
    grid-template-areas: 'e1' 'e2' 'listingSelection' 'e3';
  }
  #notifyBody .ehead,
  #notifyBody .shead,
  #notifyBody .smsHost,
  #notifyBody .smsListing,
  #notifyBody .messageBtns.sms {
    display: none;
  }
  #notifyBody.Sms .emailBySms {
    grid-template-areas: 'eh' 'e1' 'e2' 'listingSelection' 'e3' 'sh' 's1' 's2' 's3';
  }
  #notifyBody.Sms .ehead,
  #notifyBody.Sms .shead,
  #notifyBody.Sms .smsHost,
  #notifyBody.Sms .smsListing,
  #notifyBody.Sms .messageBtns.sms {
    display: block;
  }
}