#nameList {
  height: 300px;
  width: 600px;
  border: solid 1px #999;
  padding: 4px;
  overflow: auto;
}
#action {
  width: 20px;
  height: 1em;
  display: inline-block;
}
.delaying {
  background-color: #f8f541;
}
.searching {
  background-color: #c1f1b4;
}