#nameList {
  height: 220px;
  width: 350px;
  border: solid 1px #999;
  padding: 4px;
  overflow: auto;
}
#nameList u {
  text-decoration: none;
}
#nameList li {
  border: 1px solid transparent;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#nameList li:hover {
  border-color: #ddd;
}
#nameList li.selected {
  background-color: #c1f1b4;
  border-color: #999;
}
#nameList .InvalidName { text-decoration: line-through; }
#nameList .Fuzzy{ font-style: italic; }
#nameList .First {
    padding: 3px 0 3px 0; 
    border-top: 3px double #ccc;
    width: 100%;
    display: block;
}
#action {
  width: 20px;
  height: 1em;
  display: inline-block;
}
span.ZZdelaying {
  background-color: #f8f541;
}
span.ZZsearching {
  background-color: #c1f1b4;
}
input.delaying
{
    background-color: #fffebf;
}
input.searching
{
    background-color: #ffe8e2;
}


#editPanel {
    float: left;
    margin-left: 20px;
    display: none;
}
.Ineligible {
    text-decoration: line-through;
}
.searchlabel {
    display: block;
}
#more {
    float: right;
    font-size: 90%;
}
#btnAddNew {
    float: right;
}