.sideBySide {
  display: flex;
}
#nameList {
  height: 220px;
  width: 348px;
  border: solid 1px #999;
  padding: 4px;
  margin: 2px 0 0 2px;
  overflow: auto;
}
#nameList u {
  text-decoration: none;
}
#nameList li {
  border: 1px solid transparent;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#nameList li:hover {
  border-color: #ddd;
}
#nameList li.selected {
  background-color: #c1f1b4;
  border-color: #999;
}
#nameList li span {
  display: block;
  text-indent: -20px;
  padding-left: 20px;
}
#nameList .CannotReceiveVotes {
  text-decoration: line-through;
}
#nameList .CannotVote:after {
  content: ' 🛇';
}
#nameList .Fuzzy {
  font-style: italic;
}
#nameList .First {
  padding-top: 3px;
  border-top: 3px double #ccc;
  width: 100%;
  display: block;
}
#action {
  width: 20px;
  height: 1em;
  display: inline-block;
}
span.ZZdelaying {
  background-color: #f8f541;
}
span.ZZsearching {
  background-color: #c1f1b4;
}
input.delaying {
  background-color: #fffebf;
}
input.searching {
  background-color: #ffe8e2;
}
#editPanel {
  float: left;
  margin-left: 20px;
  display: none;
}
.Ineligible {
  text-decoration: line-through;
}
.searchlabel {
  display: block;
}
#more {
  float: right;
  font-size: 90%;
}
#btnAddNew {
  float: right;
}
.Match1 {
  font-style: italic;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlBlb3BsZS5jc2h0bWwubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGFBQUE7O0FBR0Y7RUFDRSxhQUFBO0VBQ0EsWUFBQTtFQUNBLHNCQUFBO0VBQ0EsWUFBQTtFQUNBLG1CQUFBO0VBQ0EsY0FBQTs7QUFORixTQVFFO0VBQ0UscUJBQUE7O0FBVEosU0FZRTtFQUNFLDZCQUFBO0VBQ0EsZUFBQTtFQUNBLHNCQUFBO0VBQ0EseUJBQUE7O0FBaEJKLFNBbUJFLEdBQUU7RUFDQSxrQkFBQTs7QUFwQkosU0F3QkUsR0FBRTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7O0FBMUJKLFNBNkJFLEdBQUc7RUFDRCxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTs7QUFoQ0osU0FtQ0U7RUFDRSw2QkFBQTs7QUFwQ0osU0F1Q0UsWUFBVztFQUNULFNBQVMsS0FBVDs7QUF4Q0osU0EyQ0U7RUFDRSxrQkFBQTs7QUE1Q0osU0ErQ0U7RUFDRSxnQkFBQTtFQUNBLDJCQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7O0FBSUo7RUFDRSxXQUFBO0VBQ0EsV0FBQTtFQUNBLHFCQUFBOztBQUdGLElBQUk7RUFDRix5QkFBQTs7QUFHRixJQUFJO0VBQ0YseUJBQUE7O0FBR0YsS0FBSztFQUNILHlCQUFBOztBQUdGLEtBQUs7RUFDSCx5QkFBQTs7QUFJRjtFQUNFLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7O0FBR0Y7RUFDRSw2QkFBQTs7QUFHRjtFQUNFLGNBQUE7O0FBR0Y7RUFDRSxZQUFBO0VBQ0EsY0FBQTs7QUFHRjtFQUNFLFlBQUE7O0FBR0Y7RUFDRSxrQkFBQSJ9 */