@model SetupModel
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ViewBag.Title = "Election Setup";
  ViewBag.Message = "Who, What, When and Where!";
  ViewData["ExtraScripts"] = new[] {
ClientFile("~/Scripts/vue{0}.js", ".min"),
ClientFile("~/Scripts/BadiDateToday.v1.js"),
ClientFile("~/Scripts/luxon.min.js"),
ClientFile("~/Scripts/vue-datetime.js"),
};
  ViewData["ExtraCss"] = new[] {
ClientFile("~/Scripts/vue-datetime.css"),
  };

  ContextItems.AddJavascriptForPage("setupIndexPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("setupIndexPage.Election={0};".FilledWith(Model.CurrentElection.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("setupIndexPage.OnlineElection={0};".FilledWith(Model.CurrentOnlineElection.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("setupIndexPage.Locations={0};".FilledWith(Model.LocationsJson));
  ContextItems.AddJavascriptForPage("setupIndexPage.Tellers={0};".FilledWith(Model.TellersJson));
  ContextItems.AddJavascriptForPage("setupIndexPage.initialRules('{type}','{mode}',{rules});".FilledWith(Model.RulesForCurrentElection));
  ContextItems.AddJavascriptForPage("setupIndexPage.hasBallots={0};".FilledWith(Model.HasBallots.SerializedAsJsonString()));
}
<button type="button" class="btnSave btn" accesskey="S">
  <u>S</u>ave Changes
</button>

<div id="setupBody" v-cloak>
  <div>
    Jump to
    <a href="#step2">Step 2</a>
    <a href="#step3">Step 3</a>
    <a href="#step4">Step 4</a>
  </div>
  <h2>
    Step 1 <span>Define the Election</span>
  </h2>
  <div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
  <div class="PullInstructions">
    <ol>
      <li>
        Carefully define the core settings here (in grey). These will be locked down once ballots are entered into the system.
      </li>
      <li>
        The election date is optional, but for Local Spiritual Assembly elections, this will help to confirm that the election
        is being held on the 13<sup>th</sup> day of the month of Glory.
      </li>
    </ol>
  </div>
  <table class="Demographics">
    <tr class="electionDetail T">
      <th>
        Type of Election<span class="ui-icon ui-icon-info" id="qTipType"></span>
      </th>
      <td>
        <select id="ddlType" data-name="ElectionType">
          @ElectionTypeEnum.ForHtmlSelect()
        </select>
        <span class="ui-icon ui-icon-info" id="qTipLocked1"></span>
        <span class="ui-state-error-text"><span class="ui-icon ui-icon-info" id="qTipLocked2"></span></span>
      </td>
    </tr>
    <tr class="electionDetail">
      <th>
        Variation<span class="ui-icon ui-icon-info" id="qTipVariation"></span>
      </th>
      <td>
        <select id="ddlMode" data-name="ElectionMode">
          @ElectionModeEnum.ForHtmlSelect("", new Dictionary<string, string>
          {
            {"B", " id=modeB"}
          })
          @*                <option value="N">Normal Election</option>
            <option value="T">Tie-Break</option>
            <option value="B" id="modeB">By-election</option>
          *@
        </select>
        <span id="VariationNotice">
          Special Notes:
          <span class="ui-icon ui-icon-info" id="qTipNoteN"></span>
          <span class="ui-icon ui-icon-info" id="qTipNoteT"></span>
          <span class="ui-icon ui-icon-info" id="qTipNoteB"></span>
        </span>
      </td>
    </tr>
    <tr class="electionDetail">
      <th>
        Spaces on Ballot<span class="ui-icon ui-icon-info" id="qTipNum"></span>
      </th>
      <td>
        <input type="number" min="1" id="txtNames" data-name="NumberToElect" />
      </td>
    </tr>
    <tr class="electionDetail">
      <th>
        Who can vote?<span class="ui-icon ui-icon-info" id="qTipCanVote"></span>
      </th>
      <td>
        <select id="ddlCanVote" data-name="CanVote">
          <option value="A">Everyone on the list</option>
          <option value="N">Named delegates</option>
        </select>
      </td>
    </tr>
    <tr class="electionDetail B">
      <th>
        Who can be voted for?<span class="ui-icon ui-icon-info" id="qTipCanReceive"></span>
      </th>
      <td>
        <select id="ddlCanReceive" data-name="CanReceive">
          <option value="A">Everyone on the list</option>
          <option value="N">Named individuals</option>
        </select>
        <button type="button" id="btnResetList" class="btn btn-mini">Reset All People<span class="ui-icon ui-icon-info" id="qTipReset"></span></button>
      </td>
    </tr>
    <tr>
      <th>
        Report on next highest<span class="ui-icon ui-icon-info" id="qTipNumNext"></span>
      </th>
      <td>
        <input type="number" min="0" id="txtExtras" data-name="NumberExtra" />
      </td>
    </tr>
    <tr>
      <th>
        Convener<span class="ui-icon ui-icon-info" id="qTipConvener"></span>
      </th>
      <td>
        <input type="text" id="txtConvener" data-name="Convenor">
        Name of the responsible Assembly
      </td>
    </tr>
    <tr>
      <th>
        Date of Election<span class="ui-icon ui-icon-info" id="qTipDate"></span>
      </th>
      <td>
        <input type="text" id="txtDate" data-name="DateOfElection" placeholder="yyyy-mm-dd">
        <span id="txtDateTip">(yyyy-mm-dd)</span>
        <div class="badiDate">
          <div id="badiDateIntro"></div>
          <div id="badiDateBefore" class="badiDateName"></div>
          <div id="badiDateAfter" class="badiDateName"></div>
          <div class="showGlory13">Local Spiritual Assembly elections must begin on 13 Glory (Jalál).</div>
        </div>
      </td>
    </tr>
  </table>

  <div class="newStep">
    <a id="step2"></a>
  </div>
  <h2>
    Step 2 <span>List the election for tellers</span>
  </h2>
  <div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
  <div class="PullInstructions">
    <ol>
      <li>Provide a name for this election that you will use and see in your list of elections.</li>
      <li>If you allow other tellers access, they will see the name and it will be listed on the public TallyJ home page while you are active in it.</li>
      <li>Typically the name should include your locality and the election type. For example, New York Ridván 2020</li>
    </ol>
  </div>

  <table class="Demographics">
    <tr>
      <th>
        Name in TallyJ<span class="ui-icon ui-icon-info" id="qTipName"></span>
      </th>
      <td colspan="2">
        <input type="text" id="txtName" data-name="Name">
      </td>
    </tr>
    <tr>
      <th>
        Just Testing?<span class="ui-icon ui-icon-info" id="qTipTest"></span>
      </th>
      <td>
        <yes-no v-model="election.ShowAsTest"></yes-no>
      </td>
      <td>
        Show this as a Test election in my list of elections.
      </td>
    </tr>

    <tr>
      <th>
        Access Code<span class="ui-icon ui-icon-info" id="qTipAccess"></span>
      </th>
      <td>
        <input type="text" v-model="election.ElectionPasscode" maxlength="50" />
      </td>
      <td>
        Other tellers will use this to join you in the election.
      </td>
    </tr>
    <tr>
      <th>
        Open Now?<span class="ui-icon ui-icon-info" id="qTipShow"></span>
      </th>
      <td>
        <yes-no v-model="election.ListForPublic" :disabled="!election.ElectionPasscode"></yes-no>
      </td>
      <td>
        Should this election be shown on the Home Page now?<br>
        This is only effective if an Access Code is set. It can be changed here later or on the <a href="~/After/Monitor">Monitor Progress</a> page.
      </td>
    </tr>
  </table>


  <div class="newStep">
    <a id="step3"></a>
  </div>
  <h2>
    Step 3 <span>Configure Features</span>
  </h2>
  <div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
  <div class="PullInstructions">
    <ol>
      <li>
        If you will register voters or track envelopes with TallyJ, answer "Yes" to the first question then
        choose between the three processes described below.
      </li>
      <li>Registration involves validating the voter's identity and may take extra time.</li>
      <li>For large communities, process B may prove to be the fastest.</li>
    </ol>
  </div>

  <table class="Demographics">
    <tr>
      <th>
        Use "Gathering Ballots"?<span class="ui-icon ui-icon-info" id="qTipPreBallot"></span>
      </th>
      <td>
        <yes-no v-model="usingBallotProcess"></yes-no>
      </td>
      <td>
        Use TallyJ to register voters or record the collection of ballot envelopes?
      </td>
    </tr>
    <tr v-if="usingBallotProcess">
      <th>
        Process for gathering ballots<br>using the Front Desk
      </th>
      <td colspan="2" class="processOptions">
        <table>
          <tr>
            <th>A</th>
            <td>
              <input type="radio" value="Roll" title="Roll" v-model="election.BallotProcessRaw" name="rollCall" id="process1" />
            </td>
            <td>
              <label for="process1">
                As voters arrive, validate their identity at tellers' stations and mark them as <strong>In Person</strong>.
                <br>
                Later, project the <strong>Roll Call</strong> and have people publicly deposit their ballots when their name is displayed.
              </label>
            </td>
          </tr>
          <tr>
            <th>B</th>
            <td>
              <input type="radio" value="RegV" title="RegV" v-model="election.BallotProcessRaw" name="rollCall" id="process2" />
            </td>
            <td>
              <label for="process2">
                As voters arrive, validate their identity at tellers' stations and mark them as <strong>Registered</strong>.
                <br>
                Later, accept ballots at tellers' stations and mark them as <strong>Received</strong>.
              </label>
            </td>
          </tr>
          <tr>
            <th>C</th>
            <td>
              <input type="radio" value="RegC" title="RegC" v-model="election.BallotProcessRaw" name="rollCall" id="process3" />
            </td>
            <td>
              <label for="process3">
                When voters come to a tellers' station, validate their identity,
                then accept their ballot and mark them as <strong>In Person</strong>.
              </label>
            </td>
          </tr>
        </table>
        <p>
          <strong>Note</strong>: For all processes, tellers can accept absentee (<strong>Dropped Off</strong> and <strong>Mailed In</strong>) ballots at any time.
        </p>
      </td>
    </tr>
    <tr v-if="usingBallotProcess">
      <th>
        Show Envelope Numbers?<span class="ui-icon ui-icon-info" id="qTipEnvNum"></span>
      </th>
      <td colspan="2">
        <div class="flex">
          <env-mode v-model="election.EnvNumModeRaw"></env-mode>
          <div>For whom should envelope numbers be shown on the Front Desk?</div>
        </div>
      </td>
    </tr>
    <tr v-if="usingBallotProcess">
      <th>
        Show "Called In"?<span class="ui-icon ui-icon-info" id="qTipShowCalled"></span>
      </th>
      <td>
        <yes-no v-model="election.UseCallInButton"></yes-no>
      </td>
      <td>
        Are you set up to accept ballots by telephone?
      </td>
    </tr>
    <tr class="forLocations">
      <th>
        Multiple locations?<span class="ui-icon ui-icon-info" id="qTipLocation"></span>
      </th>
      <td>
        <yes-no code="useGatheringBallots" v-model="MultipleLocations" :disabled="numLocations > 1"></yes-no>
      </td>
      <td>
        Are tellers working together in different locations / polling stations for this election?
      </td>
    </tr>
    <tr class="forLocations" v-show="MultipleLocations">
      <th></th>
      <td colspan="2">
        <div class="locations">
          <div id="locationList">
            <div v-for="loc in locations">
              <input :data-id="loc.C_RowId" type=text v-model="loc.Name">
              <span class="ui-icon ui-icon-arrow-2-n-s" v-if="numLocations > 1" title="Drag to sort"></span>
              <span class="ui-icon ui-icon-trash" v-if="numLocations > 1" title="Delete this location" v-on:click="removeLocation($event.target)"></span>
              <span class="warning" v-if="!loc.Name">Name required</span>
            </div>
          </div>
          <button type="button" id="btnAddLocation" class="btn btn-small">
            Add a Location
          </button>
          <span>(Use short, meaningful names)</span>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        Time diplay format
      </th>
      <td>
        <yes-no v-model="election.T24" yes="19:30" no="7:30 pm"></yes-no>
      </td>
      <td></td>
    </tr>

  </table>


  <div class="newStep">
    <a id="step4"></a>
  </div>
  <h2>
    Step 4 <span>Online Voting</span>
  </h2>
  <div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
  <div class="PullInstructions">
    <ol>
      <li>This election can be made available so that voters can cast their ballots online.</li>
      <li>To vote online, the voter's email address (as found in Google or Facebook) must match their email address in their record in this election.</li>
    </ol>
  </div>

  <table class="Demographics">
    <tr>
      <th>
        Enable Online Voting?<span class="ui-icon ui-icon-info" id="qTipOnline"></span>
      </th>
      <td>
        <yes-no v-model="useOnline"></yes-no>
      </td>
      <td>
        Allow voters to cast their ballots online.
      </td>
    </tr>

    <tr>
      <th>
        Voting Start time<span class="ui-icon ui-icon-info" id="qTipAccess"></span>
      </th>
      <td>
        <datetime v-model="onlineOpen" type="datetime" :minute-step="10"></datetime>
      </td>
      <td>
        When should voters be able to access this election and start working on their ballot?
        <a class="setTime" v-on:click="onlineOpen = new Date()">Set to Now</a>
      </td>
    </tr>
    <tr>
      <th>
        Voting Stop time<span class="ui-icon ui-icon-info" id="qTipAccess"></span>
      </th>
      <td>
        <datetime v-model="onlineClose" type="datetime"></datetime>
      </td>
      <td>
        When should the election be closed?
        <a class="setTime" v-on:click="onlineClose = new Date()">Set to Now</a>
        The Head Teller can adjust the stop time during the election. Suggestion: stop online voting once all paper ballots are collected and counted.
      </td>
    </tr>
    <tr>
      <th>
        Voting Stop time estimated?
      </th>
      <td>
        <yes-no v-model="onlineElection.CloseIsEstimate"></yes-no>
      </td>
      <td>
        Is the stopping time above an estimated time? 
      </td>
    </tr>
    <tr>
      <th>
        View Results?
      </th>
      <td>
        <yes-no v-model="onlineElection.AllowResultView"></yes-no>
      </td>
      <td>
        Allow voters to view the final election results?
      </td>
    </tr>
  </table>


  <div class="newStep"></div>
  <h2>Other Information</h2>
  <table class="Demographics">
    <tr>
      <th>
        Teller Names<span class="ui-icon ui-icon-info" id="qTipTellers"></span>
      </th>
      <td>
        <div id="tellersList">
          <i>(Filled by tellers as needed)</i>
        </div>
      </td>
    </tr>
  </table>

  <div class="More">
    <p class="techInfo" title="Technical information">
      Internal code: <span data-name="ElectionGuid"></span>
    </p>
  </div>
</div>


<script type="text/x-template" id="yes-no">
  <span class="YN" v-bind:class="['YN' + yesNo, disabled ? 'disabled' : '']">
    <label>
      <input type="radio" value="Y" v-model="yesNo" :disabled="disabled">
      {{yes}}
    </label>
    <label>
      <input type="radio" value="N" v-model="yesNo" :disabled="disabled">
      {{no}}
    </label>
  </span>
</script>

<script type="text/x-template" id="env-mode">
  <span class="EnvMode" v-bind:class="'EnvMode' + mode">
    <label>
      <input type="radio" value="All" v-model="mode">
      All
    </label>
    <label>
      <input type="radio" value="Absentee" v-model="mode">
      Absentees Only
    </label>
    <label>
      <input type="radio" value="None" v-model="mode">
      None
    </label>
  </span>
</script>

<script type="text/x-template" id="locationTemplate">
</script>