@model SetupModel
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
    ViewBag.Title = "Election Setup";
    ViewBag.Message = "Who, What, When and Where!";

    ContextItems.AddJavascriptForPage("setupIndexPageUrl", "setupIndexPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
    ContextItems.AddJavascriptForPage("election", "setupIndexPage.Election={0};".FilledWith(Model.CurrentElection.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("locations", "setupIndexPage.Locations={0};".FilledWith(Model.LocationsJson));
    ContextItems.AddJavascriptForPage("rules", "setupIndexPage.initialRules('{type}','{mode}',{rules});".FilledWith(Model.RulesForCurrentElection));
}
<table class="Demographics">
    <tr>
        <th>
            Name
        </th>
        <td>
            <input type="text" id="txtName" data-name="Name">
        </td>
    </tr>
    <tr>
        <th>
            Convenor
        </th>
        <td>
            <input type="text" id="txtConvenor" data-name="Convenor">
        </td>
    </tr>
    <tr>
        <th>
            Election Date
        </th>
        <td>
            <input type="date" id="txtDate" data-name="DateOfElection">
        </td>
    </tr>
    <tr>
        <th>
            Type of Election
        </th>
        <td>
            <select id="ddlType" data-name="ElectionType">
                @ElectionTypeEnum.ForHtmlSelect()
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Variation
        </th>
        <td>
          <select id="ddlMode" data-name="ElectionMode">
          @ElectionModeEnum.ForHtmlSelect("", new Dictionary<string, string>
                                            {
                                              {"B"," id=modeB"}
                                            })
@*                <option value="N">Normal Election</option>
                <option value="T">Tie-Break</option>
                <option value="B" id="modeB">By-election</option>
*@            </select>
        </td>
    </tr>
    <tr class="electionDetailT">
        <th>
            Names on Ballot
        </th>
        <td>
            <input type="number" min="1" id="txtNames" data-name="NumberToElect" />
        </td>
    </tr>
    <tr class="electionDetailB">
        <th>
            Report on next highest
        </th>
        <td>
            <input type="number" min="0" id="txtExtras" data-name="NumberExtra" />
        </td>
    </tr>
    <tr class="electionDetail">
        <th>
            Who can vote?
        </th>
        <td>
            <select id="ddlCanVote" data-name="CanVote">
                <option value="A">Everyone on the list</option>
                <option value="N">Named delegates</option>
            </select>
        </td>
    </tr>
    <tr class="electionDetail">
        <th>
            Who can be voted for?
        </th>
        <td>
            <select id="ddlCanReceive" data-name="CanReceive">
                <option value="A">Everyone on the list</option>
                <option value="N">Named individuals</option>
            </select>
        </td>
    </tr>
    <tr class="electionDetailB">
        <th>
        </th>
        <td>
            <button id="btnResetPeople">Update all Person records</button>
        </td>
    </tr>
</table>
<div class="More">
    <button type="button" id="btnSave">
        Save</button>
</div>
<div class="More">
    <h3>
        Locations</h3>
    <div id="locationList">
    </div>
</div>
