[v-cloak] {
  display: none;
}
.jumpLinks {
  position: absolute;
  top: 3px;
  left: 102px;
}
.jumpLinks a {
  padding: 0 5px;
  color: #af5f00;
}
h2 {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #af5f00;
  font-weight: normal;
}
h2 span {
  color: #013d7a;
  margin-left: 11px;
}
.PullInstructions {
  margin-top: 0;
}
.newStep {
  margin: 50px 0 0 0;
  border-top: 1px solid #aaa;
}
.PullInstructionsHandle {
  margin-top: 0;
}
.setTime {
  cursor: pointer;
}
.btnSave {
  position: fixed;
  right: 10px;
  top: 100px;
  box-shadow: 0 0 15px 15px #efeeef;
}
table.Demographics {
  margin-left: 20px;
}
table.Demographics td:nth-child(3) {
  width: 99%;
}
table.Demographics h3 {
  font-size: 15px;
  margin: -2px 0 -5px 10px;
}
.badiDate {
  display: block;
  margin: 0 0 0 5px;
  line-height: 1.3;
}
.badiDate .locationDetail {
  cursor: help;
}
.badiDateName {
  margin-left: 15px;
}
.badiDateValue {
  font-weight: bold;
}
.isGlory13 {
  font-weight: bold;
  color: green;
}
.showGlory13 {
  color: green;
  white-space: nowrap;
  display: none;
}
.showGlory13.missing {
  color: red;
  font-weight: bold;
  display: block;
}
.More {
  margin: 15px 0;
}
div.More h3 {
  margin: 0;
}
table.More th,
table.Demographics th {
  text-align: left;
  padding: 6px 10px 6px 5px;
  white-space: nowrap;
  vertical-align: top;
}
table.More td,
table.Demographics td {
  text-align: left;
  padding: 5px 5px 4px 5px;
  vertical-align: top;
}
input[type='text'] {
  width: 120px;
}
input[type='number'] {
  width: 50px;
}
input[type='date'] {
  width: 120px;
}
.locations {
  margin: 0 0 15px 15px;
}
#locationList div {
  margin: 1px 0;
}
#locationList input[type='text'] {
  width: 60px;
}
#locationList .warning {
  color: #e80c27;
}
#locationList .ui-icon {
  margin: 0 5px;
}
tr.electionDetail {
  background-color: #ddd;
}
tr.electionDetail.T {
  background-color: #ddd;
}
tr.electionDetail.B {
  background-color: #ddd;
}
tr.forPreBallot {
  color: #013d7a;
}
.ui-icon {
  display: inline-block;
}
.ui-icon-arrow-2-n-s {
  cursor: pointer;
}
.More.Misc {
  padding: 10px 10px 20px 20px;
  width: 272px;
}
.techInfo {
  font-size: 75%;
  color: #ccc;
}
div.More h3.TellerTitle {
  margin-top: 50px;
}
.ui-icon-trash {
  display: inline-block;
  cursor: pointer;
}
button.Primary {
  margin-left: 0;
}
.s {
  margin: 2px 0 10px 0;
}
#btnAddLocation {
  margin-top: 2px;
}
#btnResetList {
  margin-top: -24px;
}
.processOptions {
  padding: 4px 5px;
}
.processOptions p {
  margin: 5px 0 8px 5px;
}
.processOptions table {
  background-color: #dde6dd;
  border-radius: 4px;
}
.processOptions table td {
  vertical-align: top;
  padding: 4px 0 0 4px;
}
.processOptions table th {
  vertical-align: top;
  padding: 4px 0 0 8px;
}
.processOptions table label {
  display: block;
  margin: -2px 5px 7px 0;
}
.processOptions .explain {
  display: block;
  font-style: italic;
  margin: 5px 0 0 20px;
}
.vdatetime-input {
  text-align: center;
}
.voteWhenOpen {
  text-align: center;
}
.voteWhenClosed {
  text-align: center;
  background: #8dc63e;
  color: white;
  border-radius: 2px;
  margin: 0px 5px 0;
  padding: 1px 0;
}
.voteWhenClosed.closed {
  color: #e80c27;
  background: none;
}
.needOnlineDates input {
  background-color: #ff785d;
}
.onlineWarning1 {
  color: red;
  padding: 0 0 1em;
  text-align: center;
}
#qTipLocked {
  display: none;
}
#VariationNotice {
  font-weight: bold;
  display: none;
}
#VariationNotice .ui-icon {
  display: none;
}
.NoteT #qTipNoteT {
  display: inline-block;
}
.NoteB #qTipNoteB {
  display: inline-block;
}
.NoteN #qTipNoteN {
  display: inline-block;
}
option:disabled {
  color: #ddd;
}
#txtDateTip {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
}
.YN,
.EnvMode {
  margin: 0 15px 0 0;
  padding: 4px 0;
  border-radius: 3px;
  background-color: #ddd;
  white-space: nowrap;
}
.YN.YNY,
.EnvMode.YNY {
  background-color: #dde6dd;
}
.YN.EnvMode,
.EnvMode.EnvMode {
  background-color: #dde6dd;
}
.YN.YNN,
.EnvMode.YNN,
.YN.EnvModeNone,
.EnvMode.EnvModeNone {
  background-color: #e6dddd;
}
.YN label,
.EnvMode label {
  margin: 0 10px;
}
.YN label input,
.EnvMode label input {
  margin: -4px -2px 0 0;
}
.YN.disabled,
.EnvMode.disabled {
  color: #bbb;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlNldHVwLmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFdBQUE7O0FBSEYsVUFLRTtFQUNFLGNBQUE7RUFDQSxjQUFBOztBQUlKO0VBQ0UscUJBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTs7QUFKRixFQU1FO0VBQ0UsY0FBQTtFQUNBLGlCQUFBOztBQUlKO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLGtCQUFBO0VBQ0EsMEJBQUE7O0FBR0Y7RUFDRSxhQUFBOztBQUdGO0VBQ0UsZUFBQTs7QUFHRjtFQUNFLGVBQUE7RUFDQSxXQUFBO0VBQ0EsVUFBQTtFQUNBLGlDQUFBOztBQU1GLEtBQUs7RUFFSCxpQkFBQTs7QUFGRixLQUFLLGFBT0gsR0FBRSxVQUFVO0VBQ1YsVUFBQTs7QUFSSixLQUFLLGFBV0g7RUFDRSxlQUFBO0VBQ0Esd0JBQUE7O0FBSUo7RUFDRSxjQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTs7QUFIRixTQVNFO0VBQ0UsWUFBQTs7QUFJSjtFQUNFLGlCQUFBOztBQUdGO0VBQ0UsaUJBQUE7O0FBR0Y7RUFDRSxpQkFBQTtFQUNBLFlBQUE7O0FBR0Y7RUFDRSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBOztBQUdGLFlBQVk7RUFDVixVQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBOztBQUdGO0VBQ0UsY0FBQTs7QUFHRixHQUFHLEtBQU07RUFDUCxTQUFBOztBQU9GLEtBQUssS0FBTTtBQUFJLEtBQUssYUFBYztFQUNoQyxnQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTs7QUFHRixLQUFLLEtBQU07QUFBSSxLQUFLLGFBQWM7RUFDaEMsZ0JBQUE7RUFDQSx3QkFBQTtFQUNBLG1CQUFBOztBQUdGLEtBQUs7RUFDSCxZQUFBOztBQUdGLEtBQUs7RUFDSCxXQUFBOztBQUdGLEtBQUs7RUFDSCxZQUFBOztBQUdGO0VBQ0UscUJBQUE7O0FBR0YsYUFDRTtFQUNFLGFBQUE7O0FBRkosYUFLRSxNQUFLO0VBQ0gsV0FBQTs7QUFOSixhQVNFO0VBQ0UsY0FBQTs7QUFWSixhQWFFO0VBQ0UsYUFBQTs7QUFLSixFQUFFO0VBR0Esc0JBQUE7O0FBR0YsRUFBRSxlQUFlO0VBRWYsc0JBQUE7O0FBR0YsRUFBRSxlQUFlO0VBRWYsc0JBQUE7O0FBR0YsRUFBRTtFQUNBLGNBQUE7O0FBR0Y7RUFDRSxxQkFBQTs7QUFHRjtFQUNFLGVBQUE7O0FBR0YsS0FBSztFQUNILDRCQUFBO0VBQ0EsWUFBQTs7QUFHRjtFQUNFLGNBQUE7RUFDQSxXQUFBOztBQUdGLEdBQUcsS0FBTSxHQUFFO0VBQ1QsZ0JBQUE7O0FBR0Y7RUFDRSxxQkFBQTtFQUNBLGVBQUE7O0FBR0YsTUFBTTtFQUNKLGNBQUE7O0FBR0Y7RUFDRSxvQkFBQTs7QUFHRjtFQUNFLGVBQUE7O0FBR0Y7RUFDRSxpQkFBQTs7QUFHRjtFQUNFLGdCQUFBOztBQURGLGVBR0U7RUFDRSxxQkFBQTs7QUFKSixlQU9FO0VBQ0UseUJBQUE7RUFDQSxrQkFBQTs7QUFUSixlQU9FLE1BSUU7RUFDRSxtQkFBQTtFQUNBLG9CQUFBOztBQWJOLGVBT0UsTUFTRTtFQUNFLG1CQUFBO0VBQ0Esb0JBQUE7O0FBbEJOLGVBT0UsTUFjRTtFQUNFLGNBQUE7RUFDQSxzQkFBQTs7QUF2Qk4sZUEyQkU7RUFDRSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxvQkFBQTs7QUFJSjtFQUNFLGtCQUFBOztBQUdGO0VBQ0Usa0JBQUE7O0FBR0Y7RUFDRSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBOztBQUVBLGVBQUM7RUFDQyxjQUFBO0VBQ0EsZ0JBQUE7O0FBSUosZ0JBQ0U7RUFDRSx5QkFBQTs7QUFJSjtFQUNFLFVBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBOztBQUdGO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLGlCQUFBO0VBQ0EsYUFBQTs7QUFHRixnQkFBaUI7RUFDZixhQUFBOztBQUdGLE1BQU87RUFDTCxxQkFBQTs7QUFHRixNQUFPO0VBQ0wscUJBQUE7O0FBR0YsTUFBTztFQUNMLHFCQUFBOztBQUdGLE1BQU07RUFDSixXQUFBOztBQUdGO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLGFBQUE7RUFDQSxtQkFBQTs7QUFHRjtBQUFLO0VBQ0gsa0JBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxzQkFBQTtFQUNBLG1CQUFBOztBQUVBLEdBQUM7QUFBRCxRQUFDO0VBQ0MseUJBQUE7O0FBR0YsR0FBQztBQUFELFFBQUM7RUFDQyx5QkFBQTs7QUFHRixHQUFDO0FBQUQsUUFBQztBQUFNLEdBQUM7QUFBRCxRQUFDO0VBQ04seUJBQUE7O0FBaEJKLEdBbUJFO0FBbkJHLFFBbUJIO0VBQ0UsY0FBQTs7QUFwQkosR0FtQkUsTUFHRTtBQXRCQyxRQW1CSCxNQUdFO0VBQ0UscUJBQUE7O0FBSUosR0FBQztBQUFELFFBQUM7RUFDQyxXQUFBIn0= */