[v-cloak] {
  display: none;
}
h2 {
  display: inline-block;
  margin: 0 20px 0 0;
  color: #f6941e;
  font-weight: normal;
}
h2 span {
  color: #013d7a;
  margin-left: 11px;
}
.PullInstructions {
  margin-top: 0;
}
.newStep {
  margin: 50px 0 0 0;
  border-top: 1px solid #aaa;
}
.PullInstructionsHandle {
  margin-top: 0;
}
.btnSave {
  position: fixed;
  right: 10px;
  top: 100px;
  box-shadow: 0 0 15px 15px #efeeef;
}
table.Demographics {
  margin-left: 20px;
}
table.Demographics td:nth-child(3) {
  width: 99%;
}
table.Demographics h3 {
  font-size: 15px;
  margin: -2px 0 -5px 10px;
}
.badiDate {
  display: block;
  margin: 0 0 0 5px;
  line-height: 1.3;
}
.badiDateName {
  margin-left: 15px;
}
.badiDateValue {
  font-weight: bold;
}
.isGlory13 {
  font-weight: bold;
  color: green;
}
.showGlory13 {
  color: green;
  white-space: nowrap;
  display: none;
}
.showGlory13.missing {
  color: red;
  font-weight: bold;
  display: block;
}
.More {
  margin: 15px 0;
}
div.More h3 {
  margin: 0;
}
table.More th,
table.Demographics th {
  text-align: left;
  padding: 6px 10px 6px 5px;
  white-space: nowrap;
  vertical-align: top;
}
table.More td,
table.Demographics td {
  text-align: left;
  padding: 5px 5px 4px 5px;
  vertical-align: top;
}
input[type='text'] {
  width: 120px;
}
input[type='number'] {
  width: 50px;
}
input[type='date'] {
  width: 120px;
}
.locations {
  margin: 0 0 15px 15px;
}
#locationList div {
  margin: 1px 0;
}
#locationList .warning {
  color: #e80c4d;
}
#locationList .ui-icon {
  margin: 0 5px;
}
tr.electionDetail {
  background-color: #ddd;
}
tr.electionDetail.T {
  background-color: #ddd;
}
tr.electionDetail.B {
  background-color: #ddd;
}
tr.forPreBallot {
  color: #013d7a;
}
.ui-icon {
  display: inline-block;
}
.ui-icon-arrow-2-n-s {
  cursor: pointer;
}
.More.Misc {
  padding: 10px 10px 20px 20px;
  width: 272px;
}
.techInfo {
  font-size: 75%;
  color: #ccc;
}
div.More h3.TellerTitle {
  margin-top: 50px;
}
.ui-icon-trash {
  display: inline-block;
  cursor: pointer;
}
button.Primary {
  margin-left: 0;
}
.s {
  margin: 2px 0 10px 0;
}
#btnAddLocation {
  margin-top: 2px;
}
#btnResetList {
  margin-top: -24px;
}
.processOptions {
  background-color: #dde6dd;
}
.processOptions p {
  margin: 5px 0 8px 5px;
}
.processOptions table td,
.processOptions table th {
  vertical-align: top;
  padding: 2px 0 0 4px;
}
.processOptions table label {
  display: block;
  margin: -2px 5px 7px 0;
}
#qTipLocked {
  display: none;
}
#VariationNotice {
  font-weight: bold;
  display: none;
}
#VariationNotice .ui-icon {
  display: none;
}
.NoteT #qTipNoteT {
  display: inline-block;
}
.NoteB #qTipNoteB {
  display: inline-block;
}
.NoteN #qTipNoteN {
  display: inline-block;
}
option:disabled {
  color: #ddd;
}
#txtDateTip {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
}
.locationDetail {
  cursor: help;
  text-decoration: underline;
}
.YN,
.EnvMode {
  margin: 0 15px 0 0;
  padding: 4px 0;
  border-radius: 3px;
  background-color: #ddd;
  white-space: nowrap;
}
.YN.YNY,
.EnvMode.YNY {
  background-color: #dde6dd;
}
.YN.EnvMode,
.EnvMode.EnvMode {
  background-color: #dde6dd;
}
.YN.YNN,
.EnvMode.YNN,
.YN.EnvModeNone,
.EnvMode.EnvModeNone {
  background-color: #e6dddd;
}
.YN label,
.EnvMode label {
  margin: 0 10px;
}
.YN label input,
.EnvMode label input {
  margin: -4px -2px 0 0;
}
.YN.disabled,
.EnvMode.disabled {
  color: #bbb;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIlNldHVwLmNzaHRtbC5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7O0FBSkYsRUFNRTtFQUNFLGNBQUE7RUFDQSxpQkFBQTs7QUFJSjtFQUNFLGFBQUE7O0FBR0Y7RUFDRSxrQkFBQTtFQUNBLDBCQUFBOztBQUdGO0VBQ0UsYUFBQTs7QUFHRjtFQUNFLGVBQUE7RUFDQSxXQUFBO0VBQ0EsVUFBQTtFQUNBLGlDQUFBOztBQU1GLEtBQUs7RUFFSCxpQkFBQTs7QUFGRixLQUFLLGFBT0gsR0FBRSxVQUFVO0VBQ1YsVUFBQTs7QUFSSixLQUFLLGFBV0g7RUFDRSxlQUFBO0VBQ0Esd0JBQUE7O0FBSUo7RUFDRSxjQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTs7QUFHRjtFQUNFLGlCQUFBOztBQUdGO0VBQ0UsaUJBQUE7O0FBR0Y7RUFDRSxpQkFBQTtFQUNBLFlBQUE7O0FBR0Y7RUFDRSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBOztBQUdGLFlBQVk7RUFDVixVQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBOztBQUdGO0VBQ0UsY0FBQTs7QUFHRixHQUFHLEtBQU07RUFDUCxTQUFBOztBQU9GLEtBQUssS0FBTTtBQUFJLEtBQUssYUFBYztFQUNoQyxnQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTs7QUFHRixLQUFLLEtBQU07QUFBSSxLQUFLLGFBQWM7RUFDaEMsZ0JBQUE7RUFDQSx3QkFBQTtFQUNBLG1CQUFBOztBQUdGLEtBQUs7RUFDSCxZQUFBOztBQUdGLEtBQUs7RUFDSCxXQUFBOztBQUdGLEtBQUs7RUFDSCxZQUFBOztBQUdGO0VBQ0UscUJBQUE7O0FBR0YsYUFDRTtFQUNFLGFBQUE7O0FBRkosYUFLRTtFQUNFLGNBQUE7O0FBTkosYUFTRTtFQUNFLGFBQUE7O0FBS0osRUFBRTtFQUdBLHNCQUFBOztBQUdGLEVBQUUsZUFBZTtFQUVmLHNCQUFBOztBQUdGLEVBQUUsZUFBZTtFQUVmLHNCQUFBOztBQUdGLEVBQUU7RUFDQSxjQUFBOztBQUdGO0VBQ0UscUJBQUE7O0FBR0Y7RUFDRSxlQUFBOztBQUdGLEtBQUs7RUFDSCw0QkFBQTtFQUNBLFlBQUE7O0FBR0Y7RUFDRSxjQUFBO0VBQ0EsV0FBQTs7QUFHRixHQUFHLEtBQU0sR0FBRTtFQUNULGdCQUFBOztBQUdGO0VBQ0UscUJBQUE7RUFDQSxlQUFBOztBQUdGLE1BQU07RUFDSixjQUFBOztBQUdGO0VBQ0Usb0JBQUE7O0FBR0Y7RUFDRSxlQUFBOztBQUdGO0VBQ0UsaUJBQUE7O0FBR0Y7RUFDRSx5QkFBQTs7QUFERixlQUdFO0VBQ0UscUJBQUE7O0FBSkosZUFPRSxNQUVFO0FBVEosZUFPRSxNQUVNO0VBQ0YsbUJBQUE7RUFDQSxvQkFBQTs7QUFYTixlQU9FLE1BT0U7RUFDRSxjQUFBO0VBQ0Esc0JBQUE7O0FBTU47RUFDRSxhQUFBOztBQUdGO0VBQ0UsaUJBQUE7RUFDQSxhQUFBOztBQUdGLGdCQUFpQjtFQUNmLGFBQUE7O0FBR0YsTUFBTztFQUNMLHFCQUFBOztBQUdGLE1BQU87RUFDTCxxQkFBQTs7QUFHRixNQUFPO0VBQ0wscUJBQUE7O0FBR0YsTUFBTTtFQUNKLFdBQUE7O0FBR0Y7RUFDRSxhQUFBOztBQUdGO0VBQ0UsYUFBQTtFQUNBLG1CQUFBOztBQUdGO0VBQ0UsWUFBQTtFQUNBLDBCQUFBOztBQUdGO0FBQUs7RUFDSCxrQkFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLHNCQUFBO0VBQ0EsbUJBQUE7O0FBRUEsR0FBQztBQUFELFFBQUM7RUFDQyx5QkFBQTs7QUFHRixHQUFDO0FBQUQsUUFBQztFQUNDLHlCQUFBOztBQUdGLEdBQUM7QUFBRCxRQUFDO0FBQU0sR0FBQztBQUFELFFBQUM7RUFDTix5QkFBQTs7QUFoQkosR0FtQkU7QUFuQkcsUUFtQkg7RUFDRSxjQUFBOztBQXBCSixHQW1CRSxNQUdFO0FBdEJDLFFBbUJILE1BR0U7RUFDRSxxQkFBQTs7QUFJSixHQUFDO0FBQUQsUUFBQztFQUNDLFdBQUEiLCJmaWxlIjoidW5kZWZpbmVkIn0= */