@{
  ViewBag.Title = "Configure Election Settings";
}
@section featured {
  <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
        Before you start tallying the votes, make sure that all the information below is correct.  If it is not, fix it up!
        </p>
    </div>
</section>
}
<h3>Election Settings</h3>
