@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Connect with the person behind TallyJ.";
}
@section featured {
    <section class="featured empty">
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section class="contact">
    <header>
        <h3>
            Support:</h3>
    </header>
    @*<p>
      <span class="label">At Desk:</span> <span><a target="desk" href="https://tallyj.desk.com/">tallyj.desk.com</a></span>
      This is the best spot to tell me if you have a problem! 
    </p>*@
    <p>
      <span class="label">At Facebook:</span> <span><a target="fb" href="http://www.facebook.com/TallyJ.Support">www.facebook.com/TallyJ.Support</a></span>
      This is the best spot to learn about TallyJ and ask questions. 
    </p>
    <p>
      <span class="label">On Twitter:</span> <span><a target="tw" href="https://twitter.com/#!/tallyj_bahai">tallyj_bahai</a></span>
      Keep up-to-date and know when the site is updated!
    </p>
  <p>
    <span class="label">Email:</span> <span><a href="mailto:glen.little@gmail.com">glen.little@gmail.com</a></span>
    Directly contact the creator of TallyJ.
  </p>
  <p style="margin-top:2em">The icons in the bottom right corner are available on all pages, and will also connect you to these sites!</p>
</section>