section.feature {
  cursor: pointer;
}
section.features a {
  text-decoration: none;
}
section.features.middle h1,
section.features.middle h2 {
  font-size: 21px;
}
section.features.middle h3 {
  font-size: 16.8px;
}
section.features a section {
  border: 2px solid transparent;
}
section.features a:hover section {
  border: 2px solid #ddd;
}
section.features a:active section {
  border: 2px solid #8dc63e;
}
section.LoginPanel a {
  text-decoration: underline;
}
div.closer {
  position: absolute;
  top: 3px;
  right: 3px;
}
div.closer img.closer {
  opacity: 0.7;
}
div.closer img.closer:hover {
  opacity: 1;
  cursor: pointer;
}
#socialLoginList {
  text-align: center;
}
#socialLoginList .authButton {
  display: block;
  margin: 10px auto;
}
#socialLoginList .authButton i {
  margin: 0 10px 0 0;
}
#socialLoginList button.Google {
  padding: 0;
  border: none;
  background: none;
  border: 2px solid transparent;
  min-width: 195px;
}
#socialLoginList button.Google img {
  width: 191px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #a9a097;
}
#socialLoginList button.Google:hover {
  border-color: #c6d1e7;
}
#socialLoginList button.Facebook {
  background-color: #4267b2;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 2px solid transparent;
}
#socialLoginList button.Facebook .logo {
  height: 24px;
  width: 24px;
}
#socialLoginList button.Facebook > span {
  font-size: 14px;
  color: #fff;
  margin: 0 8px 0 16px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
}
#socialLoginList button.Facebook:hover {
  border-color: #c6d1e7;
}
.featureBig {
  position: relative;
  min-height: 300px;
  padding: 10px 15px 20px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background-color: #fcfcfc;
}
.featureBig.VoterPanel ol {
  text-align: center;
}
.featureBig h4 {
  margin-top: 0;
  font-weight: normal;
}
.featureBig ol {
  text-align: left;
}
.featureBig.LoginPanel ol {
  text-align: center;
}
.featureBig li p {
  margin-bottom: 0;
}
#txtCode {
  width: 50px;
}
#txtPasscode {
  width: 200px;
  color: #aaa;
}
#ddlElections {
  width: 95%;
  padding: 0;
}
#ddlElections option {
  padding: 3px 3px 3px 6px;
}
div.table div {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px 0 5px;
}
div.table div span {
  margin-right: 3px;
  vertical-align: top;
}
div.or {
  font-style: italic;
  font-weight: bold;
}
#joinStatus {
  padding-left: 5px;
}
#joinStatus.idle {
  color: #999;
}
#joinStatus.error {
  color: red;
}
#joinStatus.success {
  color: green;
}
#joinStatus.active {
  color: orange;
}
.featureBig hgroup h1,
.featureBig hgroup h2 {
  display: none;
}
.featureBig h3 {
  font-size: 100%;
}
.featureBig fieldset label,
.XfeatureBig fieldset input {
  font-size: 100%;
  font-weight: normal;
}
section.CenterPanel {
  min-height: 140px;
}
section.CenterPanel.chosen {
  display: none;
}
.JoinPanel {
  display: none;
  background-color: #D0DBE6;
}
.JoinPanel li {
  margin: 20px 0;
}
.LoginPanel {
  display: none;
  background-color: #D5E9B8;
}
.VoterPanel {
  display: none;
  background-color: #FCE1C1;
}
.VoterPanel .VoterLoginError {
  margin: 1em 0;
  color: red;
}
.VoterPanel .voterLogins {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 10px;
}
.VoterPanel .voterLogins > div {
  border: 1px solid grey;
  margin: 3px;
  padding: 1em;
  flex-grow: 1;
  background-color: #faf7f3;
  border-radius: 4px;
}
.VoterPanel .voterLogins .voterOr {
  flex-grow: 0;
  padding: 1em 10px;
}
.VoterPanel .voterEmail {
  margin-bottom: 1em;
}
.VoterPanel .voterEmail input {
  text-align: center;
}
.VoterPanel .direct {
  padding: 5px;
}
.VoterPanel .direct .pw div,
.VoterPanel .direct .email div {
  margin: 5px 0 10px;
}
.VoterPanel .direct .pw input,
.VoterPanel .direct .email input {
  text-align: center;
}
.VoterPanel .direct .remember {
  text-align: center;
}
.VoterPanel .direct .submit {
  margin: 1.5em 0;
}
.VoterPanel .direct .other {
  font-size: 90%;
}
.VoterPanel .direct .other div {
  margin: 5px 0;
}
.VoterPanel .externalNote {
  margin: 2em;
  font-size: 90%;
  font-style: italic;
}
fieldset input[type="text"],
fieldset input[type="password"] {
  border: 1px solid #e2e2e2;
  color: #333;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 150px;
  text-align: center;
}
.Summary {
  height: 0px;
  width: 0px;
  position: absolute;
  overflow: hidden;
}
.AlreadyIn {
  width: 60%;
  text-align: center;
  margin: 3em auto 0 auto;
}
.Intro {
  color: #F6941E;
  font-size: large;
  padding: 1.4em 0 1.4em 22px;
}
#introTitle {
  color: #013d7a;
}
.middle {
  margin-top: 10px;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.features {
  margin: 16px auto;
  padding: 10px 10px 1px 10px;
}
section.features .btn {
  white-space: nowrap;
}
div.notes {
  margin: 16px 3em;
  padding: 10px 10px 1px 10px;
  text-align: center;
  font-size: 85%;
  color: #666;
  background: #f8f8f8;
}
div.notes a {
  color: #af5f00;
}
.CenterPanel div.browser.ie {
  color: red;
  font-weight: bold;
  font-size: 105%;
  margin-bottom: 20px;
}
#btnRefresh {
  vertical-align: text-bottom;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 5px 1px;
}
.centerbuttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;
}
.centerbuttons > div {
  margin: 0.5em 0;
  padding: 10px 30px;
  text-align: center;
  box-sizing: border-box;
}
.centerbuttons h1,
.centerbuttons h2 {
  font-size: 22.4px;
  color: #013d7a;
}
.centerbuttons h3 {
  font-size: 18.2px;
  color: #013d7a;
}
.centerbuttons p {
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  section.features.middle {
    margin: 0;
  }
  section.featureBig {
    width: 90%;
    margin: 0 auto;
    max-width: 390px;
    min-width: 300px;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIkhvbWUuY3NodG1sLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUEsT0FBTztFQUNMLGVBQUE7O0FBR0YsT0FBTyxTQUNMO0VBQ0UscUJBQUE7O0FBR0YsT0FMSyxTQUtKLE9BQ0M7QUFERixPQUxLLFNBS0osT0FDSztFQUNGLGVBQUE7O0FBRkosT0FMSyxTQUtKLE9BS0M7RUFDRSxpQkFBQTs7QUFLTixPQUFPLFNBQVUsRUFBRTtFQUNqQiw2QkFBQTs7QUFHRixPQUFPLFNBQVUsRUFBQyxNQUFPO0VBQ3ZCLHNCQUFBOztBQUdGLE9BQU8sU0FBVSxFQUFDLE9BQVE7RUFDeEIseUJBQUE7O0FBR0YsT0FBTyxXQUFZO0VBQ2pCLDBCQUFBOztBQUlGLEdBQUc7RUFDRCxrQkFBQTtFQUNBLFFBQUE7RUFDQSxVQUFBOztBQUhGLEdBQUcsT0FLRCxJQUFHO0VBQ0QsWUFBQTs7QUFFQSxHQVJELE9BS0QsSUFBRyxPQUdBO0VBQ0MsVUFBQTtFQUNBLGVBQUE7O0FBS047RUFDRSxrQkFBQTs7QUFERixnQkFHRTtFQUNFLGNBQUE7RUFDQSxpQkFBQTs7QUFMSixnQkFHRSxZQUlFO0VBQ0Usa0JBQUE7O0FBS0YsZ0JBREYsT0FDRztFQUNDLFVBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7RUFDQSw2QkFBQTtFQUNBLGdCQUFBOztBQUxGLGdCQURGLE9BQ0csT0FPQztFQUNFLFlBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTs7QUFHRixnQkFmSixPQUNHLE9BY0U7RUFDQyxxQkFBQTs7QUFJSixnQkFwQkYsT0FvQkc7RUFDQyx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7RUFDQSw2QkFBQTs7QUFQRixnQkFwQkYsT0FvQkcsU0FTQztFQUNFLFlBQUE7RUFDQSxXQUFBOztBQVhKLGdCQXBCRixPQW9CRyxTQWNDO0VBQ0UsZUFBQTtFQUNBLFdBQUE7RUFDQSxvQkFBQTtFQUNBLHlDQUFBO0VBQ0Esc0JBQUE7O0FBR0YsZ0JBMUNKLE9Bb0JHLFNBc0JFO0VBQ0MscUJBQUE7O0FBTVI7RUFDRSxrQkFBQTtFQUVBLGlCQUFBO0VBRUEsNEJBQUE7RUFDQSxzQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTs7QUFHRixXQUFXLFdBQVk7RUFDckIsa0JBQUE7O0FBY0YsV0FBWTtFQUNWLGFBQUE7RUFDQSxtQkFBQTs7QUFHRixXQUFZO0VBQ1YsZ0JBQUE7O0FBR0YsV0FBVyxXQUFZO0VBQ3JCLGtCQUFBOztBQUdGLFdBQVksR0FBRztFQUNiLGdCQUFBOztBQUdGO0VBQ0UsV0FBQTs7QUFHRjtFQUNFLFlBQUE7RUFDQSxXQUFBOztBQUdGO0VBQ0UsVUFBQTtFQUNBLFVBQUE7O0FBRkYsYUFJRTtFQUNFLHdCQUFBOztBQUlKLEdBQUcsTUFBTztFQUNSLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxxQkFBQTs7QUFHRixHQUFHLE1BQU8sSUFBSTtFQUNaLGlCQUFBO0VBQ0EsbUJBQUE7O0FBR0YsR0FBRztFQUNELGtCQUFBO0VBQ0EsaUJBQUE7O0FBR0Y7RUFDRSxpQkFBQTs7QUFHRixXQUFXO0VBQ1QsV0FBQTs7QUFHRixXQUFXO0VBQ1QsVUFBQTs7QUFHRixXQUFXO0VBQ1QsWUFBQTs7QUFHRixXQUFXO0VBQ1QsYUFBQTs7QUFHRixXQUFZLE9BQU87QUFDbkIsV0FBWSxPQUFPO0VBQ2pCLGFBQUE7O0FBR0YsV0FBWTtFQUNWLGVBQUE7O0FBR0YsV0FBWSxTQUFTO0FBQU8sWUFBYSxTQUFTO0VBQ2hELGVBQUE7RUFDQSxtQkFBQTs7QUFHRixPQUFPO0VBQ0wsaUJBQUE7O0FBR0YsT0FBTyxZQUFZO0VBQ2pCLGFBQUE7O0FBUUY7RUFDRSxhQUFBO0VBQ0EseUJBQUE7O0FBRkYsVUFJRTtFQUNFLGNBQUE7O0FBSUo7RUFDRSxhQUFBO0VBQ0EseUJBQUE7O0FBR0Y7RUFDRSxhQUFBO0VBQ0EseUJBQUE7O0FBRkYsV0FJRTtFQUNFLGFBQUE7RUFDQSxVQUFBOztBQU5KLFdBU0U7RUFDRSxhQUFBO0VBQ0EsZUFBQTtFQUNBLDhCQUFBO0VBQ0EsbUJBQUE7O0FBYkosV0FTRSxhQU1FO0VBQ0Usc0JBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSx5QkFBQTtFQUNBLGtCQUFBOztBQXJCTixXQVNFLGFBZUU7RUFDRSxZQUFBO0VBQ0EsaUJBQUE7O0FBMUJOLFdBa0NFO0VBQ0Usa0JBQUE7O0FBbkNKLFdBa0NFLFlBR0U7RUFDRSxrQkFBQTs7QUF0Q04sV0EwQ0U7RUFDRSxZQUFBOztBQTNDSixXQTBDRSxRQUdFLElBQ0U7QUE5Q04sV0EwQ0UsUUFHTyxPQUNIO0VBQ0Usa0JBQUE7O0FBL0NSLFdBMENFLFFBR0UsSUFLRTtBQWxETixXQTBDRSxRQUdPLE9BS0g7RUFDRSxrQkFBQTs7QUFuRFIsV0EwQ0UsUUFhRTtFQUNFLGtCQUFBOztBQXhETixXQTBDRSxRQWlCRTtFQUNFLGVBQUE7O0FBNUROLFdBMENFLFFBcUJFO0VBQ0UsY0FBQTs7QUFoRU4sV0EwQ0UsUUFxQkUsT0FHRTtFQUNFLGFBQUE7O0FBbkVSLFdBd0VFO0VBQ0UsV0FBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTs7QUFJSixRQUFTLE1BQUs7QUFBZSxRQUFTLE1BQUs7RUFDekMseUJBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBOztBQUdGO0VBQ0UsV0FBQTtFQUNBLFVBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBOztBQUdGO0VBQ0UsVUFBQTtFQUNBLGtCQUFBO0VBQ0EsdUJBQUE7O0FBR0Y7RUFDRSxjQUFBO0VBQ0EsZ0JBQUE7RUFDQSwyQkFBQTs7QUFHRjtFQUNFLGNBQUE7O0FBR0Y7RUFDRSxnQkFBQTs7QUFHRjtFQUNFLGFBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7O0FBR0YsT0FBTztFQUVMLGlCQUFBO0VBQ0EsMkJBQUE7O0FBSEYsT0FBTyxTQUtMO0VBQ0UsbUJBQUE7O0FBSUosR0FBRztFQUVELGdCQUFBO0VBQ0EsMkJBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7RUFDQSxXQUFBO0VBQ0EsbUJBQUE7O0FBUEYsR0FBRyxNQVNEO0VBQ0UsY0FBQTs7QUFLSixZQUFhLElBQUcsUUFBUTtFQUN0QixVQUFBO0VBQ0EsaUJBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7O0FBR0Y7RUFDRSwyQkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLG9CQUFBOztBQUlGO0VBQ0Usa0JBQUE7RUFDQSxhQUFBO0VBQ0EsZUFBQTtFQUNBLDZCQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBOztBQU5GLGNBUUU7RUFDRSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLHNCQUFBOztBQVpKLGNBZUU7QUFmRixjQWVNO0VBQ0YsaUJBQUE7RUFDQSxjQUFBOztBQWpCSixjQW9CRTtFQUNFLGlCQUFBO0VBQ0EsY0FBQTs7QUF0QkosY0F5QkU7RUFDRSxlQUFBOztBQWNKLG1CQUFxQztFQUNuQyxPQUFPLFNBQVM7SUFDZCxTQUFBOztFQUdGLE9BQU87SUFDTCxVQUFBO0lBQ0EsY0FBQTtJQUNBLGdCQUFBO0lBQ0EsZ0JBQUEifQ== */