@import "../../Content/bootstrap/css/variables.less";

section.feature {
  cursor: pointer;
}

section.features {
  a {
    text-decoration: none;
  }

  &.middle {
    h1, h2 {
      font-size: @baseFontSize * 1.5;
    }

    h3 {
      font-size: @baseFontSize * 1.2;
    }
  }
}

section.features a section {
  border: 2px solid transparent;
}

section.features a:hover section {
  border: 2px solid #ddd;
}

section.features a:active section {
  border: 2px solid #8dc63e;
}

section.LoginPanel a {
  text-decoration: underline;
}


div.closer {
  position: absolute;
  top: 3px;
  right: 3px;

  img.closer {
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

#socialLoginList {
  text-align: center;

  .authButton {
    display: block;
    margin: 10px auto;

    i {
      margin: 0 10px 0 0;
    }
  }

  button {
    &.Google {
      padding: 0;
      border: none;
      background: none;
      border: 2px solid transparent;

      img {
        width: 191px;
        height: 46px;
        border-radius: 4px;
      }

      &:hover {
        border-color: #c6d1e7;
      }
    }

    &.Facebook {
      background-color: #4267b2;
      border-radius: 4px;
      border: none;
      display: flex;
      align-items: center;
      padding: 8px;
      border: 2px solid transparent;

      .logo {
        height: 24px;
        width: 24px;
      }

      > span {
        font-size: 14px;
        color: #fff;
        margin: 0 8px 0 16px;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: .25px;
      }

      &:hover {
        border-color: #c6d1e7;
      }
    }
  }
}

.featureBig {
  position: relative;
  //width: 425px;
  min-height: 300px;
  //margin: 5px auto;
  padding: 10px 15px 20px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background-color: #fcfcfc;
}

.featureBig.VoterPanel ol {
  text-align: center;
}

//section.featureBig div.top {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 450px;
//  height: 3px;
//  background-image: url('../../Images/BlankBigT.png');
//  background-position: left top;
//  background-repeat: no-repeat;
//}

.featureBig h4 {
  margin-top: 0;
  font-weight: normal;
}

.featureBig ol {
  text-align: left;
}

.featureBig.LoginPanel ol {
  text-align: center;
}

.featureBig li p {
  margin-bottom: 0;
}

#txtCode {
  width: 50px;
}

#txtPasscode {
  width: 200px;
  color: #aaa;
}

#ddlElections {
  width: 95%;
  padding: 0;

  option {
    padding: 3px 3px 3px 6px;
  }
}

div.table div {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px 0 5px;
}

div.table div span {
  margin-right: 3px;
  vertical-align: top;
}

div.or {
  font-style: italic;
  font-weight: bold;
}

#joinStatus {
  padding-left: 5px;
}

#joinStatus.idle {
  color: #999;
}

#joinStatus.error {
  color: red;
}

#joinStatus.success {
  color: green;
}

#joinStatus.active {
  color: orange;
}

.featureBig hgroup h1,
.featureBig hgroup h2 {
  display: none;
}

.featureBig h3 {
  font-size: 100%;
}

.featureBig fieldset label, .XfeatureBig fieldset input {
  font-size: 100%;
  font-weight: normal;
}

section.CenterPanel {
  min-height: 170px;
}

section.CenterPanel.chosen {
  display: none;
}

section.CenterPanel.chosen:hover {
  //background-color: #fff;
  //  opacity: 0.9;
}

.JoinPanel {
  display: none;
  background-color: #eaebee;

  li {
    margin: 20px 0;
  }
}

.LoginPanel {
  display: none;
  background-color: #e7ece7;
}

.VoterPanel {
  display: none;
  background-color: lighten(@tallyJOrange, 60%);

  .voterLogins{
    display: flex;
    justify-content: space-between;
  }
}

fieldset input[type="text"], fieldset input[type="password"] {
  border: 1px solid #e2e2e2;
  color: #333;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.Summary {
  height: 0px;
  width: 0px;
  position: absolute;
  overflow: hidden;
}

.AlreadyIn {
  width: 60%;
  text-align: center;
  margin: 3em auto 0 auto;
}

.Intro {
  color: #F6941E;
  font-size: large;
  padding: 1.4em 0 1.4em 22px;
}

#introTitle {
  color: #013d7a;
  margin-bottom: 1em;
}

.middle {
  margin-top: 10px;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.features {
  width: 75%;
  margin: 16px auto;
  padding: 10px 10px 1px 10px;

  .btn {
    white-space: nowrap;
  }
}

div.notes {
  width: 75%;
  margin: 16px auto;
  padding: 10px 10px 1px 10px;
  text-align: center;
  font-size: 85%;
  color: #666;
  background: #f8f8f8;

  a {
    color: @tallyJOrange;
  }
}


.CenterPanel div.browser.ie {
  color: red;
  font-weight: bold;
  font-size: 105%;
  margin-bottom: 20px;
}

#btnRefresh {
  vertical-align: text-bottom;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 5px 1px;
}


.centerbuttons {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > div {
    padding: 10px 30px;
    text-align: center;
    max-width: 33%;
    min-width: 200px;
    box-sizing: border-box;
  }

  h1, h2 {
    font-size: @baseFontSize * 1.6;
    color: @tallyJBlue;
  }

  h3 {
    font-size: @baseFontSize * 1.3;
    color: @tallyJBlue;
  }

  p {
    margin-top: 5px;
  }
  //.centerL {
  //    left: 12px;
  //}
  //
  //.centerR {
  //    right: 13px;
  //}
  //.StartJoin {
  //}
}


@media screen and (max-width: 500px) {
  section.features.middle {
    margin: 0;
  }

  section.featureBig {
    width: 90%;
    margin: 0 auto;
    max-width: 390px;
    min-width: 300px;
  }
}
