@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For when the Internet is not there";
}
@section featured {
  <section class="featured empty"></section>
}
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>
    Version 2 of TallyJ can be installed for local use!
  </p>
  <p>
    As of September 2014, the installation of TallyJ version 2 is supported.
    <a href="https://docs.google.com/document/d/1f4Q5XjdI3V4k39hQAaka4XuTl0rqUTAbmRV-Z3aMVaI/pub" target="_blank">Instructions can be found here</a>, but you will need to contact Glen Little for access to the installation files. 
    Once it is installed, you will have a local system identical to the web site at <a href="https://tallyj.apphb.com">https://tallyj.apphb.com</a> and all tellers can access your copy of TallyJ from their browsers.
  </p>
</article>
<article>
  <p></p>
  <p>
    In addition, version 1 of TallyJ is still available for <a href="https://code.google.com/p/tallyj/downloads/list" target="_blank">download here</a>.
    It is simple to install, but all tellers must use Internet Explorer and install it on their computer.
    You can see <a href="https://sites.google.com/site/tallyjbahai/version-1" target="_blank">this site</a> for more information, but full instructions are included in the download file..
  </p>
</article>
