@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For when there is no Internet";
}
<hgroup class="title"><h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>At the moment, version 2 of TallyJ is only available for use on this web site. 
  There are plans to make a downloadable version for local installation, but that is not available yet.</p>

</article>
<article>
  <p>However, version 1 of TallyJ is still available for download. Please see the Facebook support site for downloading instructions.</p>
</article>
