@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For when the Internet is not there";
}
@section featured {
  <section class="featured empty"></section>
}
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>
    Version 2 of TallyJ can be installed for local use!
  </p>
  <p>
    As of January 2014, the installation of TallyJ version 2 on your computer is experimental.  Please contact Glen Little for further instructions.  Installation will need moderate computer skills and it must be installed on a current Windows computer.
    However, once it is installed, you will have a local system identical to the web site at http://tallyj.apphb.com.
  </p>
</article>
<article>
  <p></p>
  <p>
    Version 1 of TallyJ is still available for <a href="https://code.google.com/p/tallyj/downloads/list" target="_blank">download here</a>.
    To install, you must use Internet Explorer and can simply unzip the file to your computer.  Please see the Facebook support site for downloading instructions.
  </p>
</article>
