@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For when there is no Internet";
}
@section featured {
    <section class="featured empty">
    </section>
}
<hgroup class="title"><h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>At the moment, version 2 of TallyJ is only available for use on this web site. 
  There are plans to make a downloadable version for local installation, but that is not available yet.</p>

</article>
<article>
  <p>However, version 1 of TallyJ is still available for <a href="https://www.sugarsync.com/pf/D0270377_63546031_64253" target="_blank">download here</a>.  To install, you must have Internet Explorer and simply unzip the file to your computer.  Please see the Facebook support site for downloading instructions.</p>
</article>
