@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For when there is no Internet";
}
<hgroup class="title"><h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>At the moment, TallyJ 2 is only available for use on this web site.</p>
  <p>The plan is to make it available for local installation, but that is not available yet.</p>

</article>
<article>
  <p>TallyJ version 1 is still available for local use. Please see the Facebook support site for downloading instructions.</p>
</article>
