@{
  ViewBag.Title = "Installing a Local Version";
  ViewBag.Message = "For special circumstances.";
}
@section featured {
  <section class="featured empty"></section>
}
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>
    Versions 2 and 3 of TallyJ can be installed for private use locally or nationally.
  </p>
  <p>
    Installation of TallyJ is supported on IIS or Azure.
    <a href="https://docs.google.com/document/d/1f4Q5XjdI3V4k39hQAaka4XuTl0rqUTAbmRV-Z3aMVaI/view" target="_blank">Instructions can be found here</a>, but you will need to contact Glen Little for access to the installation files. 
    Once it is installed, you will have a local system identical to the web site at <a href="https://tallyj.com">https://tallyj.com</a> and all your tellers can access your copy of TallyJ from their browsers.
  </p>
  <p>
    Version 1 of TallyJ is no longer recommended, but is still available for <a href="https://github.com/glittle/TallyJ-1.0" target="_blank">download here</a>.
    It works only with Internet Explorer and each teller must have a copy of TallyJ 1.85 on their computer.
    You can see <a href="https://sites.google.com/site/tallyjbahai/version-1" target="_blank">this site</a> for more information, and full instructions are included in the download file.
  </p>
</article>
