@{
}
@section featured {
  <section class="featured empty">
  </section>
}
<section>
  <h1>Terms and Conditions</h1>

  <p>Last updated: 19 April 2023 / 11 Glory 180</p>

  <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the https://tallyj.com website (the "Service") operated by Glen Little ("us", "we", or "our").</p>

  <p>These Terms apply to all visitors, users, and others who access or use the Service. By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms, you may not access the Service.</p>

  <ol>
    <li>
      Fair Use
      <p>
        When voting, you must use this website only to prepare a ballot for an election in which you are entitled to vote according to the rules and qualifications established by the convening authority of that election.
      </p>
      <p>
        The email address you provide to TallyJ must belong only to you, and you are responsible for ensuring that only you have the ability to sign in to TallyJ.
      </p>
      <p>
        When using TallyJ as a teller, you must use this website only to create, manage or participate in an election in which you are authorized by the convening authority of that election.
      </p>

    </li>


    <li>
      No warranties
      <p>
        This Website is provided “as is,” with all faults, and we make no express or implied representations or warranties related to this Website or the materials contained on this Website. Nothing contained on this Website shall be construed as providing consult or advice to you.
      </p>
    </li>
    <li>
      Limitation of liability
      <p>We shall not be liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website, whether such liability is under contract, tort, or otherwise.</p>
    </li>
    <li>
      Indemnification
      <p>You hereby indemnify us from and against any and all liabilities, costs, demands, causes of action, damages, and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.</p>
    </li>

    <li>
      Governing Law

      <p>These Terms shall be governed and construed in accordance with the laws of Alberta, Canada, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.</p>
    </li>

    <li>
      Changes to Terms

      <p>We reserve the right to modify or replace these Terms at our sole discretion. If a revision is material, we will try to provide at least 15 days notice prior to any new terms taking effect. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
    </li>
    <li>
      Contact Us

      <p>If you have any questions about these Terms, please contact us at <a href="mailto:support@tallyj.com">support@tallyj.com</a>.</p>
    </li>

  </ol>
</section>

<hr />

<section>
  <h1>Privacy Policy</h1>

  <p>Effective date: 19 April 2023 / 11 Glory 180</p>

  <p>This Privacy Policy describes our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

  <ol>
    <li>
      Information Collection and Use
      <p>
        We collect several different types of information for various purposes to provide and improve our Service to you.
      </p>
      <ol>
        <li>
          Personal Identity Data
          <p>To use our Service, we ask you to provide us with your email address so that we can identify you and contact you as needed. If you choose to create a password, it will be encrypted and stored in our system.</p>
        </li>

        <li>
          Usage Data
          <p>We may collect information on how the Service is accessed and used ("Usage Data"), including information such as your computer's Internet Protocol address (e.g., IP address), the pages of our Service that you visit, the time and date of your visit, and other diagnostic data.</p>
        </li>
        <li>
          Cookies Data
          <p> We use security cookies to track the activity on our Service. If you do not accept cookies, you will not be able to log in and use TallyJ.</p>
        </li>

      </ol>
    </li>
    <li>
      Use of Data
      <p>TallyJ uses the collected data for various purposes:</p>
      <ol>
        <li><p>To provide and maintain the Service</p></li>
        <li><p>To allow you to participate in interactive features of our Service when you choose to do so</p></li>
        <li><p>To provide analysis or valuable information so that we can improve the Service</p></li>
        <li><p>To monitor the usage of the Service</p></li>
        <li><p>To detect, prevent and address technical issues</p></li>
      </ol>
    </li>
    <li>
      Electee Names
      <p> When preparing your own ballot, you will provide names of people you are electing. These will be encrypted and maintained in the system until the election is tallied or until you remove them.</p>
    </li>
    <li>
      Transfer of Data
      <p>Your information may be maintained on computers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those in your jurisdiction. Your consent to this Privacy Policy followed by your login as a voter represents your agreement to that transfer.</p>
    </li>
    <li>
      Disclosure of Data
      <p>We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy. No transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place, including the security of your data and other personal information.</p>
    </li>

    <li>
      Security of Data
      <p>The security of your data is important to us, but no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
    </li>
    <li>
      Service Providers
      <p>We may employ third-party companies and individuals to facilitate our Service, provide the Service on our behalf, perform Service-related services, or assist us in analyzing how our Service is used. These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
    </li>
    <li>
      Children's Privacy
      <p>Our Service only provides services to voting adults (18 years old and older).</p>
    </li>
    <li>
      Changes to This Privacy Policy
      <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    </li>
    <li>
      Contact Us
      <p>If you have any questions about this Privacy Policy,  please contact us at <a href="mailto:support@tallyj.com">support@tallyj.com</a>.</p>
    </li>

  </ol>



</section>

