@{
}
@section featured {
  <section class="featured empty">
  </section>
}

<section class="terms">
  <h1>Voter User Agreement / Terms and Conditions</h1>

  <p>Last updated: 24 February 2020 / 19 Dominion 176</p>

  <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the https://tallyj.com website (the "Service") operated by Glen Little ("us", "we", or "our").</p>

  <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

  <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms and Conditions agreement for TallyJ has been created with the help of <a href="https://www.freeprivacypolicy.com/free-terms-and-conditions-generator/">FreePrivacyPolicy.com Terms and Conditions Generator</a>.</p>

  <h2>Fair Use</h2>
  <p>
    You must use this website only to prepare a ballot for an election in which you are entitled to vote 
    according to the rules and qualifications established by the convening authority of that election.
  </p>

  <p>
    The email address you provide to TallyJ must belong only to you and you are responsible to ensure
    that only you have the ability to sign in to TallyJ.
  </p>

  <h2>No warranties</h2>
  <p>
    This Website is provided “as is,” with all faults, and we make no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
  </p>

  <h2>Limitation of liability</h2>
  <p>In no event shall we be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and we shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</p>

  <h2>Indemnification</h2>
  <p>You hereby indemnify, to the fullest extent, us from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.</p>


  <h2>Governing Law</h2>

  <p>These Terms shall be governed and construed in accordance with the laws of Alberta, Canada, without regard to its conflict of law provisions.</p>

  <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


  <h2>Changes</h2>

  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

  <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

  <h2>Contact Us</h2>

  <p>If you have any questions about these Terms, please contact us.</p>
</section>

<hr/>

<section class="contact">
  <h1>Privacy Policy</h1>

  <p>Effective date: 24 February 2020 / 19 Dominion 176</p>

  <p>Glen Little ("us", "we", or "our") operates the https://tallyj.com website (the "Service").</p>

  <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for TallyJ is created with the help of the <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">Free Privacy Policy Generator</a>.</p>

  <p>
    We use your data to provide and improve the Service.
    By using the Service, you agree to the collection and use of information in accordance with this policy.
  </p>

  <h2>Information Collection And Use</h2>

  <p>
    We collect several different types of information for various purposes to provide
    and improve our Service to you.
  </p>

  <h3>Types of Data Collected</h3>

  <h4>Personal Identity Data</h4>
  <p>
    To use our Service, we ask you to provide us with your email address so that can identify you
    and contact you as needed.  If you choose to create a password, it will be encrypted and stored in our system.
  </p>

  <h4>Personal Data</h4>
  <p>
    We do not collect any personal data beyond your email address.
  </p>

  <h4>Usage Data</h4>
  <p>
    We may collect information how the Service is accessed and used ("Usage Data").
    This Usage Data may include information such as your computer's Internet Protocol address
    (e.g. IP address), the pages of our Service that you visit, the time and date of your
    visit and other diagnostic data.
  </p>

  <h4>Cookies Data</h4>
  <p>We use cookies to track the activity on our Service and hold certain information.</p>
  <p>
    Cookies are files with small amount of data which may include an anonymous unique identifier.
    Cookies are sent to your browser from a website and stored on your device.
  </p>
  <p>
    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.
    However, if you do not accept cookies, you will not be able to log in and vote using TallyJ.
  </p>
  <p>Cookies we use:</p>
  <ul>
    <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
    <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
  </ul>

  <h2>Use of Data</h2>

  <p>TallyJ uses the collected data for various purposes:</p>
  <ul>
    <li>To provide and maintain the Service</li>
    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
    <li>To provide analysis or valuable information so that we can improve the Service</li>
    <li>To monitor the usage of the Service</li>
    <li>To detect, prevent and address technical issues</li>
  </ul>

  <h4>Electee Names</h4>
  <p>
    While preparing your ballot, you may select names from a list of known voters. Your selections will be
    maintained in the system until the election is tallied or until you remove them.
  </p>

  <h2>Transfer Of Data</h2>
  <p>
    Your information may be maintained on computers
    located outside of your state, province, country or other governmental jurisdiction where
    the data protection laws may differ than those from your jurisdiction.
  </p>
  <p>
    Your consent to this Privacy Policy followed by your login as a voter represents
    your agreement to that transfer.
  </p>
  <p>
    We will take all steps reasonably necessary to ensure that your data is treated securely
    and in accordance with this Privacy Policy and no transfer of your Personal Data
    will take place to an organization or a country unless there are adequate controls in
    place including the security of your data and other personal information.
  </p>

  <h2>Disclosure Of Data</h2>

  <h3>Legal Requirements</h3>

  <h2>Security Of Data</h2>
  <p>
    The security of your data is important to us, but remember that no method of transmission over
    the Internet, or method of electronic storage is 100% secure. While we strive to use
    commercially acceptable means to protect your Personal Data, we cannot guarantee its
    absolute security.
  </p>

  <h2>Service Providers</h2>
  <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
  <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>


  <h2>Children's Privacy</h2>
  <p>Our Service only provides services to voting adults (21 years old and older).</p>


  <h2>Changes To This Privacy Policy</h2>
  <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
  <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>


  <h2>Contact Us</h2>
  <p>If you have any questions about this Privacy Policy, please contact us: glen.little+tallyj@gmail.com</p>
</section>

